{% extends "apps/auth/auth_base.html" %}

{% load i18n %}

{% block main_section %}
    <div class="change-password-section">
		<div class="change-password-header row">
			<div class="header-text pull-left">
				{% trans "Change Password" %}
			</div>
		</div>
		<div class="change-password-content row">
			<form method="POST" action="" class="password_change">
		        {% csrf_token %}
				<div class="row medium-margin-bottom">
					<label for="id_password1" class="bold small-margin-bottom">
						{% trans "New Password" %}
					</label>
					{{ form.password1.errors }}
					<div>
						<input id="id_password1" name="password1" placeholder="Password" type="password" class='form-control'>
					</div>
				</div>
				<div class="row">
					<label for="id_password2" class="bold small-margin-bottom">
						{% trans "New Password (again)" %}
					</label>
					{{ form.password2.errors }}
					<div>
						<input id="id_password2" name="password2" placeholder="Password" type="password" class='form-control'>
					</div>
				</div>
		        <div class='medium-margin-top align-center'>
					<button type="submit" class="btn btn-warning btn-sm" name="action">{% trans "Change Password" %}</button>
				</div>        
		    </form>
		</div>
	</div>
{% endblock %}
