<a href="/people/{{subject.username}}" class="bold">{{subject.get_profile.get_user_fullname}}</a> accept your request to join in the activity <a href="/activity/{{object.unique_id}}" class="bold">{{object.name}}</a>