<a href="/people/{{subject.username}}" class='bold'>{{subject.get_profile.get_user_fullname}}</a> canceled attending to activity <a href="/activity/{{object.unique_id}}" class='bold'>{{object.name}}</a>. Reason: 
<p>{{reason}}</p>