{% extends "base.html" %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/friend.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/friend.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="main-area row">
		{% block main_area %}
    	{% endblock %}
    </div>
    <!-- <div id="scroll_top_btn" class="hide">
    	<div class="wrapper">
	   		<img src="{{STATIC_URL}}img/apps/landing/go-top-icon.png" class="pointer-cursor">
	   	</div>
	</div> -->
{% endblock %}


{% block footer_internal_scripts %}
	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/friend/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/friend/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/friend/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/friend/prod/frittie.script.app.min.js"></script> 
	{% endif %}
{% endblock %}