{% extends "base.html" %}
{% load i18n %}
{% block title %}
	<title> {{SITE_NAME_INITIAL_CAPITAL}} - {% trans "Message" %} </title>
{% endblock %}

{% block header_css %}

    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/message.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/message.min.css" type="text/css" />
    {% endif %}

    <style>
	    span.replied-indicator {
	    	background-image: url({{STATIC_URL}}img/apps/body/all-icons.png);
			background-repeat: no-repeat;
			background-size: auto;
			background-position: -74px -407px;
			display: inline-block;
			height: 9px;
			width: 10px;
			margin-right: 4px;
	    }
    </style>
{% endblock %}

{% block main_section %}	 
	<div class="main-area div-center pos-relative">
		<div class="left-section pull-left">
			{% block left_section %}
			{% endblock %}
		</div>
		<div class="right-section pull-left">
			{% block right_section %}
    		{% endblock %}
		</div>
    </div>
{% endblock %}


{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}


{% block modal %}
    {% include "apps/message/modal/compose_new_message.html" %}
{% endblock %}

{% block footer_internal_scripts %}
	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/message/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/message/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/message/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/message/prod/frittie.script.app.min.js"></script> 
	{% endif %}
{% endblock %}