{% load frittie_main %}
{% load i18n %}
{% if detail_info %}
<ul id='detail_info_list'>
    {% for item in detail_info %}
        <li class='detail-info-item row'>
            <div class='info-name-column pull-left'>
                <span class='medium-text'>{{item.info|words_first_char_upper}}</span>
            </div>
            <div class='info-value-column pull-left large-margin-left'>
                <span class='bold medium-text'>{{item.value}}</span>
            </div>
            <div class='pull-right'>
            <span class="glyphicon glyphicon-remove delete-detail-info-btn hide pointer-cursor" data-detail-info-id='{{item.id}}' onclick='deleteDetailInfo(this)'></span>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<div class='align-center'>
    <span class='bold'>{% trans "Add more info to your location ( Ex: Has Wifi - Yes )" %}</span>
</div>
{% endif %}