{% extends "apps/activity/activity_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block custom_hidden %}
    <input type="hidden" id="activity_host_email" value="{{user_login.email}}"/>
{% endblock %}

{% block main_section %}

    <div class="content container">
        <div id="activity_header" class="col-md-12">
            <div class='activity-title pull-left'>
                {{ activity.name.upper }}
            </div>

            {% if not activity.is_publish %}
                <div class='pull-right'>
                    <form id='publish_activity_form' action='/activity/{{activity.unique_id}}/publish/' method='POST'>  {% csrf_token %}
                        <button type='submit' class="btn btn-success mini-margin-left pull-right small-margin-top btn-sm">Publish</button>
                    </form>
                </div>
            {% endif %}

            <div class="activity-action pull-right btn-group small-margin-top">

                <button class="btn btn-default btn-sm dropdown-toggle" id="invite_guests_btn" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;{% trans "Invite" %}
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" onclick="facebookInviteFriends()">
                            <div class='sprite-facebook-icon pull-left'></div>
                            <span class='mini-margin-left'>{% trans "Facebook Friend" %}</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#invite_user_modal" data-backdrop='static'>
                            <img src="{{STATIC_URL}}img/ico/favicon.ico" width="20" height="20"/>
                            <span class='mini-margin-left'>{% trans "Frittie User" %}</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#invite_email_modal" data-backdrop='static'>
                            <div class='sprite-email-icon pull-left'></div>
                            <span class='mini-margin-left'>{% trans "Email" %}</span>
                        </a>
                    </li>
                </ul>

                <a href="/activity/{{activity.unique_id}}/edit" class="btn btn-default btn-sm" id="edit_activity_btn">
                    <i class="glyphicon glyphicon-cog"></i>&nbsp;Edit
                </a>
                
                <button class="btn btn-default btn-sm" id="delete_activity_btn" data-toggle="modal" data-target="#delete_activity_modal">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;{% trans "Delete" %}
                </button>

            </div>

        </div>

         <div id="activity_body" class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pos-relative row" id="main_activity_logo_container">
                            {% thumbnail activity.logo.image "698x350" crop="center" as im %}
                                <img id="main_activity_logo" class="div-center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% empty %}
                                <img id="main_activity_logo" data-src='holder.js/698x350/text:No Picture' class="div-center"/>
                            {% endthumbnail %}
                            <form id="activity_logo_form" action="/activity/{{activity.unique_id}}/updatelogo/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                                <div id="add_activity_logo">
                                    <div class='sprite-add-picture pull-left mini-margin-right'></div>
                                    <span>{% trans "Update Cover Photo" %}</span>
                                    <input type="file" name="logo" id="update_activity_logo_file"/>
                                </div>
                            </form>
                        </div>
                        <ul id="photo_thumbnail_list" class="div-center">
                            {% if list_activity_photos %}
                                <li class="pull-left small-margin-top mini-margin-right active" >
                                    <a href="/photo/activity/{{activity.unique_id}}?current_photo={{activity.logo.unique_id}}" >
                                        {% thumbnail activity.logo.image "698x350" crop="center" as im %}
                                            <img src="{{im.url}}" class="photo-thumbnail" />
                                        {% endthumbnail %}
                                    </a>
                                </li>
                            {% else %}
                                <li class="pull-left small-margin-top mini-margin-right active" >
                                    {% if activity.logo %}
                                    <a href="/photo/activity/{{activity.unique_id}}?current_photo={{activity.logo.unique_id}}" >
                                    {% else %}
                                    <a href="/photo/activity/{{activity.unique_id}}">
                                    {% endif %}
                                        <div class="mask pos-relative"></div>
                                        <div class="all-photo-info">
                                            <span class="white-color">
                                                {% trans "View photos" %}
                                            </span>
                                        </div>
                                        {% thumbnail activity.logo.image "70x70" crop="center" as im %}
                                            <img src="{{im.url}}" width='{{ im.width }}' height='{{ im.height }}' class="photo-thumbnail" />
                                        {% endthumbnail %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for photo in list_activity_photos %}
                                {% if forloop.last %}
                                    <li class="pull-left small-margin-top mini-margin-right" >
                                        <a href="/photo/activity/{{activity.unique_id}}?current_photo={{photo.unique_id}}" >
                                            <div class="mask pos-absolute"></div>
                                            <div class="all-photo-info">
                                                <span class="white-color">
                                                   {% trans "See" %} {{activity.list_photos.all|length}} {% trans "photos" %}
                                                </span>
                                            </div>
                                            {% thumbnail photo.image "70x70" crop="center" as im %}
                                                <img src="{{im.url}}" width='{{ im.width }}' height='{{ im.height }}' class="photo-thumbnail" />
                                            {% endthumbnail %}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="pull-left small-margin-top mini-margin-right" >
                                        <a href="/photo/activity/{{activity.unique_id}}?current_photo={{photo.unique_id}}" >
                                            {% thumbnail photo.image "698x350" crop="center" as im %}
                                                <img src="{{im.url}}" class="photo-thumbnail" />
                                            {% endthumbnail %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="pull-left mini-margin-right small-margin-top pointer-cursor" id="add_photo_btn" data-toggle="modal" data-target="#add_photo_modal" data-backdrop='static'>
                                    <i class="glyphicon glyphicon-plus"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body" id="activity_info_bar">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-bookmark"></i>
                            {{activity.get_watchers|length}} {% trans "watchers" %} 
                        </div>
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-ok"></i> {{activity.get_total_people_going}} {% trans "people joined" %}
                        </div>
                        <div class="col-md-4">
                            {% trans "Total spots:" %}
                            {% if activity.limit == -1 %}
                                {% trans "Unlimited" %} 
                            {% else %}
                                {{activity.limit}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="tabbable tabbable-bordered">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="menu_bar">
                            <ul class="nav nav-tabs" id="event_tab">
                                <li class="active">
                                    <a data-toggle="tab" href="#event_description_tab" id='event_description_tab_link'>
                                        <i class="glyphicon glyphicon-info-sign"></i> {% trans "Description" %}
                                    </a>
                                </li>
                                {% if activity.sell_ticket == "1" %}
                                    <li>
                                        <a data-toggle="tab" href="#ticket_info_tab" id='ticket_info_tab_link'>
                                            <i class="glyphicon glyphicon-file"></i> {% trans "Ticket Info" %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a data-toggle="tab" href="#attendants_tab" id='attendants_tab_link'>
                                        <i class="glyphicon glyphicon-user"></i> {% trans "Who's going" %}
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#manage_guests_tab" id='manage_guests_tab_link'>
                                        <i class="glyphicon glyphicon-user"></i> 
                                        {% if activity.sell_ticket == "0" %}
                                            Manage Guests
                                        {% else %}
                                            Manage Tickets
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#comment_tab" id='comment_tab_link'>
                                        <i class="glyphicon glyphicon-comment"></i> {% trans "Discussion Board" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content" id="event_tab_content">

                                <div class="tab-pane active" id="event_description_tab">
                                    <div class="pull-right creator-info">
                                        <div class="media">
                                            <a class="pull-left" href="/people/{{activity.user_create.username}}">
                                                {% thumbnail activity.user_create.get_profile.avatar.image "16x16" crop='center' as im %}
                                                    <img class="media-object" src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'/>
                                                {% endthumbnail %}
                                            </a>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <a href="/people/{{activity.user_create.username}}">
                                                        {{activity.user_create.username}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger text-bold">{% trans "Description" %}</div>
                                    <div class="large-margin-top medium-margin-bottom">
                                        {{activity.description|safe}}
                                    </div>
                                </div>

                                {% if activity.sell_ticket == "1" %}
                                <div class="tab-pane" id="ticket_info_tab">
                                    <div class="row">
                                        <div class='row'>
                                            <h4 class="pull-left">{% trans "Ticket Delivery Policy" %}</h4>
                                        </div>
                                        <div class='row'>
                                            <p class='medium-text'>
                                                {% if activity.ticket_policy %}
                                                    {{activity.ticket_policy}}
                                                {% else %}
                                                    You haven't provided any ticket policy information. Please go to edit page to enter ticket policy
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row small-margin-top">
                                        <h4 class="pull-left">{% trans "Ticket Information" %}</h4>
                                        <div class="pull-right mini-margin-top">
                                            <div class="btn btn-success btn-sm" id='add_ticket_btn' data-toggle="modal" data-target="#add_ticket_modal">{% trans "Add Ticket" %}</div>
                                        </div>
                                    </div>

                                    {% if activity.tickets.all %}

                                        <table class="table">
                                            <thead>
                                                <th class="col-md-4 align-center">{% trans "Type" %}</th>
                                                <th class="align-center">{% trans "Currency" %}</th>
                                                <th class="align-center">{% trans "Price" %}</th>
                                                <th class="align-center">{% trans "Total Available" %}</th>
                                                <th class="align-center">{% trans "Transaction Quantity" %}</th>
                                                <th class="col-md-2 align-center">{% trans "Action" %}</th>
                                            </thead>
                                            <tbody>
                                                <!--start ticket-row-->
                                                {% for ticket in activity.tickets.all %}   
                                                <tr class="ticket-data" data-ticket-id='{{ticket.id}}'>
                                                    <td class="align-center name">
                                                        {{ticket.ticket_name|words_first_char_upper}}
                                                    </td>
                                                    <td class="align-center currency">
                                                        {{ticket.currency}}
                                                    </td>
                                                    <td class="align-center price">
                                                        {{ticket.price|display_price:ticket.currency}}
                                                    </td>
                                                    <td class="align-center total-available-quantity">
                                                        {{ticket.total_available_quantity}}
                                                    </td>
                                                    <td class="align-center maximum-quantity-transaction">
                                                        {{ticket.maximum_quantity_transaction}}
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="link-color edit-ticket-btn" data-toggle="modal" data-target="#edit_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Edit" %}</a>
                                                        /
                                                        <a class="link-color delete-ticket-btn" data-toggle="modal" data-target="#delete_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Delete" %}</a>   
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>

                                    {% endif %}
                                </div>
                                {% endif %}


                                <div class="tab-pane" id="attendants_tab">
                                    <h4>{% trans "Your Following" %} (<span id="num_following_going">{{following_people_going|length}}</span>)</h4>
                                    <ul class="list-inline users-list" id="following_going_list">
                                        {% for activity_request in following_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                            <li class="user">
                                                <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                    {% if user_request.get_profile.avatar %}
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <hr />
                                    <h4>{% trans "Your Followers" %} (<span id="num_followers_going">{{followers_people_going|length}}</span>)</h4>
                                    <ul class="list-inline users-list" id="followers_going_list">
                                        {% for activity_request in followers_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                            <li class="user">
                                                <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                    {% if user_request.get_profile.avatar %}
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <hr />
                                    <h4>{% trans "Others" %} (<span id="num_others_going">{{others_people_going|length}}</span>)</h4>
                                    <ul class="list-inline users-list" id="others_going_list">
                                        {% for activity_request in others_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                            <li class="user">
                                                <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                    {% if user_request.get_profile.avatar %}
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                
                                <div class='tab-pane' id="manage_guests_tab">

                                    {% if activity.sell_ticket == "0" %}

                                        {% with join_requests=activity.get_activity_waiting_requests invite_requests=activity.get_activity_invite_requests %}
                                        <h4>{% trans "Invite" %} (<span id="num_invite_requests">{{invite_requests|length}}</span>)</h4>
                                        
                                        <ul id="users_invite_list" class="row">
                                            {% for request in invite_requests %}
                                                 <li class="invite-user-item">
                                                    <div class='pull-left'>
                                                        <a hre="/people/{{request.user_request.username}}">
                                                            <img src="{{request.user_request.get_profile.avatar.image.url}}" class="user-request-avatar">
                                                        </a>
                                                    </div>
                                                    <div class="pull-left user-info small-margin-left">
                                                        <div class="row">
                                                            <a href="/people/{{request.user_request.username}}">
                                                                <span class="bold">{{request.user_request.get_profile.get_user_fullname}}</span>
                                                            </a>
                                                        </div>
                                                        <div class="row mini-margin-top">
                                                           {% if request.request_status == "2" %}
                                                            <span>{% trans "No answer" %}</span> 
                                                           {% elif request.request_status == "1" %}
                                                           <span class="success-color">
                                                                {% trans "Accepted" %}
                                                           </span>
                                                           {% elif request.request_status == "-1" %}
                                                           <span class="fail-color">
                                                                {% trans "Declined" %}
                                                           </span>
                                                           {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <hr/> 
                                        <h4>{% trans "Join Requests" %} (<span id="num_join_requests">{{ join_requests|length}}</span>)</h4>
                                        
                                        {% if join_requests and not activity.is_attendable %}
                                            <div class="gray-color align-center small-margin-top small-margin-bottom">
                                                {% trans "Your number of guest already reach the limit. You cannot accept any more join request. Please change your limit settings if you want to have more guest for you your event" %}
                                            </div>
                                        {% endif %}
                                        
                                        <ul id="join_requests_list" class="row">
                                            {% if join_requests %}
                                                {% for request in join_requests %}
                                                    <li class="row join-request-item">
                                                        <div class='pull-left'>
                                                            <a hre="/people/{{request.user_request.username}}">
                                                                <img src="{{request.user_request.get_profile.avatar.image.url}}" class="user-request-avatar">
                                                            </a>
                                                        </div>
                                                        <div class="pull-left user-info small-margin-left">
                                                            <div class="row">
                                                                <a href="/people/{{request.user_request.username}}">
                                                                    <span class="bold">{{request.user_request.get_profile.get_user_fullname}}</span>
                                                                </a>
                                                            </div>
                                                            <div class="row mini-margin-top">
                                                                <span>{{request.user_request.get_profile.followers.all|length}} {% trans "followers" %}</span>
                                                            </div>
                                                        </div>
                                                        <div class='pull-left small-margin-left introduction'>
                                                            <span class="bold">{% trans "Introduction" %}: </span>
                                                            <span>{{request.introduction}}</span>
                                                        </div>
                                                        <div class="pull-right">
                                                            {% if activity.is_attendable %}
                                                                <button class="btn btn-default btn-sm accept-request-btn" data-username="{{request.user_request.username}}"> 
                                                                    {% trans "Accept" %}
                                                                </button>
                                                            {% else %}
                                                                <button class="btn btn-default btn-sm accept-request-btn" data-username="{{request.user_request.username}}" disabled="disabled"> 
                                                                    {% trans "Accept" %}
                                                                </button>
                                                            {% endif %}

                                                            {% if activity.is_attendable %}
                                                                <button class="btn btn-danger btn-sm mini-margin-left decline-request-btn" data-username="{{request.user_request.username}}">
                                                                    {% trans "Decline" %}
                                                                </button> 
                                                            {% else %}
                                                                <button class="btn btn-danger btn-sm mini-margin-left decline-request-btn" data-username="{{request.user_request.username}}" disabled="disabled">
                                                                    {% trans "Decline" %}
                                                                </button> 

                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        {% endwith %}

                                    {% else %}
                                        {% with transaction_data=activity.get_total_tickets_sold %}
                                        <div class='row'>
                                            <div class='pull-left'>
                                                <h4><span id='total_num_ticket_sold'>{{transaction_data|first}}</span> Ticket Sold (<span id="total_ticket_cost_sold">{{transaction_data|last}}</span>)</h4>
                                            </div>
                                            <div class='pull-right small-margin-top'>
                                                <a href='/ticket/export?type=csv&activity_unique_id={{activity.unique_id}}' class='link-color' target='_blank'>CSV</a>
                                                <span>|</span>
                                                <a href='/ticket/export?type=xlsx&activity_unique_id={{activity.unique_id}}' class='link-color' target='_blank'>Excel</a>
                                            </div>
                                        </div>
                                        {% if transaction_data|first > 0 %}
                                        <table class="table">
                                            <thead>
                                                <th class="col-md-4 align-center">User</th>
                                                <th class="align-center">Ticket Type</th>
                                                <th class="align-center">Quantity</th>
                                                <th class='align-center'>Transaction Date</th>
                                                <th class="align-center">Total Cost</th>
                                            </thead>
                                            <tbody>
                                                <!--start ticket-row-->
                                                {% for ticket_buyer in activity.get_ticket_buyers %}   
                                                <tr class="transaction-data">
                                                    <td>
                                                        <div class='row'>
                                                            {% thumbnail ticket_buyer.get_profile.avatar.image "25x25" crop="center" as im %}
                                                                <img src='{{im.url}}' width='40' height='40' class='pull-left'>
                                                            {% endthumbnail %}
                                                            <div class='pull-left small-margin-left'>
                                                                <div class='row medium-text'>
                                                                    {{ticket_buyer.get_profile.get_user_fullname}}
                                                                </div>
                                                                <div class='row mini-margin-top'>
                                                                    <a href='' class='link-color'>Message</a><a href='mailto:{{ticket_buyer.email}}' class='link-color small-margin-left'>Email</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {% with ticket_transactions=activity.get_ticket_transactions %}
                                                    <td class="align-center">
                                                        {% for ticket_transaction in ticket_transactions %}
                                                            {% if ticket_transaction.user.username == ticket_buyer.username %}
                                                                {{ticket_transaction.ticket.ticket_name|words_first_char_upper}}<br>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td class="align-center">
                                                        {% for ticket_transaction in ticket_transactions %}
                                                            {% if ticket_transaction.user.username == ticket_buyer.username %}
                                                                {{ticket_transaction.quantity}}<br>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td class="align-center">
                                                        {% for ticket_transaction in ticket_transactions %}
                                                            {% if ticket_transaction.user.username == ticket_buyer.username %}
                                                                {{ticket_transaction.transaction_date|display_datetime}}<br>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td class="align-center">
                                                        {% for ticket_transaction in ticket_transactions %}
                                                            {% if ticket_transaction.user.username == ticket_buyer.username %}
                                                                {{ticket_transaction.total_cost|display_price:ticket_transaction.ticket.currency}} {{ticket_transaction.ticket.currency}}<br>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <span class='bold'>Total: {{ticket_buyer|get_total_cost_per_buyer:ticket_transactions}}</span>
                                                    </td>
                                                    {% endwith %}
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                        {% endwith %}
                                    {% endif %}
                                </div>  

                                <div class="tab-pane" id="comment_tab">

                                    <div class="comment-section-header">
                                        <h5 class="comments-count">{{activity.comments.all|length}} {% trans "Comments" %}</h5>
                                    </div>

                                    <div class="add-comment-section">
                                        <div class="add-comment-block">
                                            <a href="/{{user_login.username}}" class="user-image pull-left">
                                                <img src="{{user_login.get_profile.avatar.image.url}}" alt="{{user_login.first_name}} {{user_login.last_name}}" class="avatar " width="32" height="32" title="{{user_login.first_name}} {{user_login.last_name}}">
                                            </a>
                                            <div class="add-comment-area pull-left">
                                                <span class="input-holder">
                                                    <textarea id="comment_textarea" class="form-style" cols="55" tabindex="1" rows="4" placeholder="Leave comment for this place..."></textarea>
                                                    
                                                </span>
                                                <span class="char-count"></span>
                                                <p class="input-error"></p>
                                            </div>
                                            <div class="button-area pull-right">
                                                <button class="btn btn-success btn-sm" id="publish_comment_btn" value="add">{% trans "Publish" %}</button>
                                                <button class="btn btn-sm btn-default hide" id="cancel_edit_comment_btn">{% trans "Cancel" %}</button>
                                                <input type="hidden" id="selected_comment_unique_id" value=""/>
                                            </div>
                                        </div>
                                    </div>

                                             
                                    {% with comments=activity.get_latest_comments.all %}
                                        <div class="comment-section-body">       
                                            <div id="comment_container">
                                                <ul id="comment_list">

                                                {% for comment in comments %}

                                                    <li class="comment-item" data-unique-id="{{comment.unique_id}}">
                                                        <div class="author-image">
                                                            <a href="/{{comment.user.username}}">
                                                                <img src="{{comment.user.get_profile.avatar.image.url}}" alt="{{comment.user.first_name}}" class="avatar " title="{{comment.user.first_name}}">
                                                            </a>
                                                        </div>
                                                        <div class="comment-contents">
                                                            <p class="comment-text">{{comment.content}}</p>
                                                            <div class="comment-info">
                                                                <span class="username">
                                                                    <a href="/{{comment.user.username}}">{{comment.user.first_name}}</a>
                                                                </span> · 
                                                                {% if comment.edit_date %}
                                                                    <span class="comment-date">
                                                                        {% trans "Edited at" %} {{comment.edit_date}}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="comment-date">
                                                                        {{comment.create_date}}
                                                                    </span>
                                                                {% endif %}
                                                            </div>

                                                            <div class="action-buttons">
                                                                {% if comment.user.username == user_login.username %}
                                                                    <a class="edit-comment-button" onclick="initEditComment(this)">
                                                                        <span>{% trans "Edit" %}</span>
                                                                    </a>
                                                                    <a class="delete-comment-button" data-toggle="modal" data-target="#delete_comment_modal" onclick="initDeleteComment(this)">
                                                                        <span>{% trans "Delete" %}</span>
                                                                    </a>
                                                                {% else %}
                                                                    <a class="report-comment-button" data-toggle="modal" data-target="#report_comment_modal">
                                                                        <span>{% trans "Report" %}</span>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                    {% endwith %}
                                </div>

                                <!-- <div class='tab-pane' id='analytics_tab'>

                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
                <!--start event info panel-->
                <div class="panel panel-default" id="event_info_panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-map-marker mini-margin-right"></i>
                            {% if is_location_model %}
                            <a href="/location/{{location_object.unique_id}}">
                                {{location_object.name}}
                            </a>
                            {% else %}
                                {% trans "Place" %}
                            {% endif %}
                            </p>
                            {% if activity.has_location_additional %}
                             <i class="fa fa-th mini-margin-right"></i>
                              {{activity.location_additional_info}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            {% if is_location_model %}
                                <div id="map_canvas"></div>
                            {% else %}
                                <div><img data-src="holder.js/318x200/text:No Map"></div>
                            {% endif %}
                        </div>
                        <dl class="no-margin">
                            <dt class="small-margin-top">
                                <i class="glyphicon glyphicon-time"></i> {% trans "Time" %}
                            </dt>
                            <dd class="mini-margin-top">

                            {% load tz %}

                            {% localtime on %}
                                {{activity.start_time}} 
                                
                                {% if activity.end_time %}
                                    ~ {{activity.end_time}}
                                {% endif %}

                            {% endlocaltime %}
                                
                            </dd>
                            {% if is_location_model %}
                                <dt class="small-margin-top">
                                    <i class="glyphicon glyphicon-map-marker"></i> {% trans "Address" %}
                                </dt>
                                <dd class="mini-margin-top">
                                    <a href="http://maps.google.com/maps?daddr={{location_object.lat}},{{location_object.lng}}">{{location_object.get_address}} </a>
                                </dd>
                            {% else %}
                                <dt class="small-margin-top">
                                    <i class="glyphicon glyphicon-map-marker"></i> {% trans "Place Detail" %}
                                </dt>
                                <dd class="mini-margin-top">
                                    {{activity.location}}
                                </dd>
                            {% endif %}
                        </dl>
                    </div>
                </div><!--end event info panel-->
                {% endwith %}
                
                <!--Start author section-->
                <div class="panel panel-default" id="confirm_ticket_section">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-cog"></i> {% trans "Confirm Ticket" %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                             <i class="glyphicon glyphicon-barcode mini-margin-right"></i>
                             <span>{% trans "Confirmation ID" %}</span>
                        </div>

                        <div class="row small-margin-top">
                            <input type="text" class="form-control pull-left" id="confirmation_id_input" />
                            <button class="btn btn-primary btn-sm pull-right" id="check_confirmation_btn">{% trans "Check" %}</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="qr_code_section">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-qrcode mini-margin-right"></i>
                            {% trans "Event QR Code" %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <img alt="" id="qr_picture" />
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
{% endblock %}

{% block custom_modal %}
    {% include "apps/activity/modal/delete_activity.html" %}
    {% include "apps/activity/modal/invite_email.html" %}
    {% include "apps/activity/modal/invite_user.html" %}
    {% include "apps/ticket/modal/add_ticket.html" %}
    {% include "apps/ticket/modal/edit_ticket.html" %}
    {% include "apps/ticket/modal/delete_ticket.html" %}
{% endblock %}

{% block footer_external_scripts %}
    <script src="http://connect.facebook.net/en_US/all.js"></script>
{% endblock %}

{% block footer_custom_scripts %}
<script>
    FB.init({
      appId: '{{FACEBOOK_APP_ID}}',
      cookie:true,
      status:true,
      xfbml:true
    });

    function facebookInviteFriends() {
        FB.ui({
            method: 'apprequests',
            message: 'Hello, please join in my activity {{activity.name|words_first_char_upper}}' 
        });
    }
</script>
{% endblock %}


