{% load i18n %}
<div class="modal fade" id="compose_new_message_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Compose Message" %}</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="pull-left mini-margin-top">
              <span class="bold">{% trans "To" %}: </span>
            </div>
            <div class="pull-left small-margin-left">
              <input type="text" id="find_people_input" placeholder="Find people" class="form-control"/>
            </div>
          </div>
          <div class="row medium-margin-top">
            <textarea id="new_message_textarea" class="form-control"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" id="compose_new_message_btn" class="btn btn-danger btn-sm">{% trans "Send Message" %}</button>
        <input type="hidden" id="user_chat_username"/>
      </div>
    </div>
  </div>
</div>