/*---------------------- FONT DECLARATION ----------------------*/

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-reg-webfont.woff') format('woff'), url('../fonts/lato-reg-webfont.ttf') format('truetype'), url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bol-webfont.woff') format('woff'), url('../fonts/lato-bol-webfont.ttf') format('truetype'), url('lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------- GOLBAL SETUP ----------------------*/

/*body {
    color: #333;
    font-family: "latoregular", Arial, Helvetica, sans-serif;
    line-height: 1.618em;
    min-width: 1172px;
}

.content {
    margin-top: 50px;
    min-height:1000px;
}*/

/*----------------Implement bordered tabbable----------------*/

.tabbable {
    border-color: #ddd;
    border-style: solid;
    border-width: 0;
    *zoom: 1;
}

.tabbable:before, .tabbable:after {
    display: table;
    line-height: 0;
    content: "";
}

.tabbable:after {
    clear: both;
}

.tabbable > .nav-tabs {
    margin: 0;
}

.tab-content {
    padding: 18px 0 0 0;
    overflow: auto;
    border-color: #ddd;
    border-style: solid;
    border-width: 0;
}

.tabbable-bordered {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tabbable-bordered > .tab-content {
    padding: 20px 20px 10px 20px;
    border-width: 0 1px 1px 1px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/*--------------------Implement bold text--------------------*/
.text-bold{
    font-weight: bold;
}

.ticket-row td{
    vertical-align: middle!important;
}

.response-box-textarea{
    border:none;
    resize: vertical;
}

.response-box-checkbox{
    margin-top: 5px;
    margin-bottom: 0;
}

.media-list hr{
    margin-top: 0;
    margin-bottom: 0;
}

.users-list li{
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.creator-info{
    width: 200px;
}

#main_section .content {
  margin-top:20px;
  margin-bottom:100px;
}

#main_activity_logo_container {
  max-width:698px;
  height:350px;
}

/*#no_logo_wrapper {
  background-color:#d3d6db;
  width:698px;
  height:350px;
}

#no_logo_wrapper #no_photo_text {
  font-size: 100px;
  color: rgb(172, 172, 172);
  margin-top: 100px;
}*/

#photo_file_size_error
{
    color:#FF0000;
}

#photo_file_size_satisfy
{
    color:#00ff00; 
}

#watchlist_handler_btn i {
    font-size:10px;
}

#request_join_btn i {
  font-size:10px;
}

#activity_header {
    height:50px;
    line-height: 50px;
}

#activity_header .activity-title {
    font-size:22px;
    font-weight:bold;
}

#map_canvas {
    width: 100%;
    height: 200px;
}

#menu_bar.panel-heading {
    padding-bottom:0px;
    border-bottom:0px;
}

#event_tab li a:hover {
    background-color:white;
}

#activity_info_bar i {
    font-size:10px;
    margin-right:3px;
}

#host_avatar img {
    width:40px;
    height:40px;
}

#host_info div.row {
    margin-top:2px;
}

.follow-host,
.message-host {
    width:48%;
}

.follow-host button,
.message-host button {
    width: 100%;
}

#compose_new_message_modal .modal-dialog {
    width:400px;
}

#comment_tab {
  margin-left:5px;
  width:100%;
  background:#fff;
  margin-bottom:20px;
  padding:0;
  position:relative;
}

#comment_tab .add-comment-section .add-comment-block{
  background:none;
  border-bottom:none;
  border-top:none;
  margin:0;
  overflow:hidden;
  padding:10px 20px 15px;
}

#comment_tab .add-comment-section .add-comment-block a.user-image{
  height:32px;
  margin-right:15px;
}

#comment_tab .add-comment-section .add-comment-block a.user-image img{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:32px;
  height:32px;
  border: 1px solid #dadada;
}

#comment_tab .add-comment-section .add-comment-block .add-comment-area{
  width:532px;
}

#comment_tab .add-comment-section .add-comment-block .add-comment-area textarea {
  width:100%;
  -moz-transition: height 0.5s,background 1s,background 1s;
  -webkit-transition: height 0.5s,background 1s,background 1s;
  transition: height 0.5s,background 1s,background 1s;
  float: left;
  height: 60px;
  margin: 0;
  font-size:12px;
  padding: 6px 8px 6px 10px;
  resize: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#comment_tab .add-comment-section .add-comment-block .add-comment-area textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

#comment_tab .add-comment-section .add-comment-block.has-error textarea{
  border-color:red;
}

#comment_tab .comment-list-section{
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;-webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-left:5px;width:640px;background:#fff;}

#comment_tab .comment-section-header{
  border-bottom:1px solid #f5f3f1;
  padding:10px 20px;
  border:none;
  overflow:hidden;
}

#comment_tab .comment-section-header h5{
  font-size:15px;
  line-height:30px;
  margin:0;
}

#comment_tab .comment-section-body{
  border-top:1px solid #f5f3f1;
  padding:0 20px;
}


ul#comment_list{
  list-style:none;
  margin:10px 0 0;
}

ul#comment_list li.comment-item{
  border-bottom:1px solid #f5f3f1;
  margin:0 -5px 10px 0;
  overflow:hidden;
  padding:6px;
  position:relative;
}

ul#comment_list li.comment-item:last-child{
  margin-bottom:0;
}

ul#comment_list li.comment-item p{
  margin:0;
}

ul#comment_list li.comment-item .author-image,
ul#comment_list li.comment-item .comment-contents{
  display:inline-block;
  vertical-align:top;
}

ul#comment_list li.comment-item .author-image{
  margin-right:10px;
}

ul#comment_list li.comment-item .author-image .avatar{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width: 32px;
  height:32px;
}

ul#comment_list li.comment-item .comment-contents{
  max-width:510px;
}

ul#comment_list li.comment-item .comment-info{
  color:#999999;
  font-size:11px;
  margin-bottom:5px;
}

ul#comment_list li.comment-item .comment-info .username a,
ul#comment_list li.comment-item .comment-info .comment-list a{
  color:#999999;
}

ul#comment_list li.comment-item .comment-info .comment-date{
  color:#2398c9;
  cursor:pointer;
  text-decoration:none;
  color:#999999;
}

ul#comment_list li.comment-item .action-buttons{
  white-space:nowrap;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button{
  margin-right:15px;
  color:#999999;
  cursor:pointer;
  font-size:11px;
  font-weight:bold;
  position:absolute;
  top:0px;
  right:5px;
  padding-left:4px;
  padding-right:4px;
  height:16px;
  line-height:16px;
}

ul#comment_list li.comment-item .action-buttons .edit-comment-button,
ul#comment_list li.comment-item .action-buttons .delete-comment-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #999999;
  font-size: 11px;
  line-height: 16px;
  margin-right: 10px;
}

ul#comment_list li.comment-item .action-buttons .edit-comment-button:hover,
ul#comment_list li.comment-item .action-buttons .delete-comment-button:hover {
  text-decoration: underline;
  color:#666666;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button:hover {
  color:#666666;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button{
  display:none;
}

ul#comment_list li.comment-item:hover .action-buttons .report-comment-button{
  display:inline;
}

#event_tab_content {
    padding-top:0px;
}

ul#photo_thumbnail_list li img {
  width:70px;
  height:70px;
}

ul#photo_thumbnail_list li.active {
  border: 1px solid #fa3f5e;
}

li#add_photo_btn {
  width: 71px;
  height: 71px;
  line-height: 71px;
  border: 1px solid #333;
  text-align: center;
}

li#add_photo_btn:hover {
  border: 1px solid #fa3f5e;
  color: #fa3f5e;
}

li#add_photo_btn i {
  font-size: 26px;
  top:6px;
}

ul#invite_options_dropdown li a {
  padding-left: 12px;
}

ul#invite_options_dropdown li.invite-accept a:hover {
  color: #fff;
  background-color: #5cb85c;
}

ul#invite_options_dropdown li.invite-decline a:hover {
  color: #fff;
  background-color: #d2322d;
}

#add_calendar_btn {
  font-weight:normal;
}

#add_calendar_btn:hover {
  text-decoration: none;
}

#calendar_dropdown_menu > li > a{
  padding-left:12px;
}

#calendar_dropdown_menu li a:hover {
  background-color:#21c0e8;
  color:white;
}

li.suggest-activity-item {
  margin-bottom:15px;
}

li.suggest-activity-item .title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

li.suggest-activity-item .place {
  margin-top:2px;
  margin-bottom:4px;
}

li.suggest-activity-item.last {
  margin-bottom:0px;
}

li.suggest-activity-item .right-column {
  width:225px;
}

#add_activity_logo {
  position:absolute;
  font-weight:bold;
  top: 15px;
  right: 15px;
  background-color: white;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px;
  padding: 2px 7px 2px 7px;
  border-color: #aaa;
  cursor:pointer;
}

#add_activity_logo .sprite-add-picture {
  margin-top:2px;
}


#update_activity_logo_file {
  opacity: 0;
  width: 140px;
  position: absolute;
  height: 20px;
  top: 0px;
  cursor:pointer;
}

ul#photo_thumbnail_list li {
  position: relative;
}

ul#photo_thumbnail_list li .mask {
    width: 70px;
    height: 70px;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    top:0px;
    left: 0px;
}

ul#photo_thumbnail_list li .all-photo-info {
    position:absolute;
    font-weight:bold;
    color: white;
    font-size:11px;
    width:70px;
    top:17px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#delete_activity_modal .modal-dialog {
  width:400px;
}

#confirmation_id_input {
  width:250px;
}

#check_confirmation_btn {
  margin-top:1px;
}

ul#join_requests_list li.join-request-item img.user-request-avatar {
  width:45px;
  height:45px;
}

ul#join_requests_list li.join-request-item .user-info {
  width:80px;
}

ul#join_requests_list li.join-request-item .introduction {
  width:400px;
}

ul#users_invite_list li.invite-user-item {
  width:230px;
  height:50px;
  float:left;
  margin-bottom:15px;
}

ul#users_invite_list li.invite-user-item .user-info {
  margin-top:4px;
}

#invite_guests_btn {
  border-right:0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.activity-action .dropdown-menu {
  right:auto;
  left:0px;
}

li.suggest-activity-item time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

li.suggest-activity-item time.icon.have-watching-box {
  margin-top:50px;
}

li.suggest-activity-item time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

li.suggest-activity-item time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fa3f5e;
  box-shadow: 0 2px #fa3f5e;
}

li.suggest-activity-item time.icon em
{
  position: absolute;
  bottom: 5px;
  color: #fa3f5e;
}

li.suggest-activity-item time.icon span
{
  width: 100%;
  font-size: 22px;
  padding-top:30px;
  letter-spacing: -0.05em;
  color: #2f2f2f;
}

li.suggest-activity-item div.image-container {
  border-radius:5px;
  width:80px;
  height:80px;
}

#edit_ticket_modal .modal-dialog,
#add_ticket_modal .modal-dialog {
  width:400px;
}

#edit_ticket_modal .panel-group,
#add_ticket_modal .panel-group {
  margin-bottom:0px;
}

#edit_ticket_modal .form-group .ticket-data,
#add_ticket_modal .form-group .ticket-data {
  margin-bottom: 10px;
}

#edit_ticket_modal .form-group label,
#add_ticket_modal .form-group label {
  width: 100px;
}

#edit_ticket_modal .form-group .input-field,
#add_ticket_modal .form-group .input-field {
  width: 200px;
  margin-left: 10px;
}

#delete_ticket_modal .modal-dialog {
  width:350px;
}

#delete_ticket_modal .modal-footer {
  margin-top:0px;
}

#delete_ticket_modal .modal-body {
  text-align: center;
}

#invite_user_modal .modal-dialog,
#invite_email_modal .modal-dialog {
  width:450px;
}

#invite_user_modal .bootstrap-tagsinput,
#invite_email_modal .bootstrap-tagsinput {
  width:100%;
  margin-top: 10px;
}

#invite_user_modal .bootstrap-tagsinput .label-info,
#invite_email_modal .bootstrap-tagsinput .label-info {
  background-color: #3a87ad;
  font-size: 12px;
}

#invite_user_modal .bootstrap-tagsinput .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#invite_user_modal .bootstrap-tagsinput .tt-hint {
  color: #999;
}

#invite_user_modal .bootstrap-tagsinput .tt-hint:focus {
  border:0px;
}

#invite_user_modal .bootstrap-tagsinput .tt-dropdown-menu {
  width: 400px;
  margin-left:-2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#invite_user_modal .bootstrap-tagsinput .tt-suggestion {
    width:100%;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#invite_user_modal .bootstrap-tagsinput .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

#invite_user_modal .bootstrap-tagsinput .tt-suggestion .picture img {
    width:25px;
    height:25px;
    background-color:#d3d6db;
}

#invite_user_modal .has-error,
#invite_email_modal .has-error {
  border:1px solid #a94442;
}

#add_ticket_modal .error-notice,
#invite_user_modal .error-notice,
#invite_email_modal .error-notice {
  color: #a94442;
  margin-bottom:10px;
}

#add_ticket_form .error-field {
  margin-left: 110px;
}

#edit_activity_section {
  width:920px;
  margin-bottom:100px;
}

#edit_activity_section #header_section .name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #666666;
  text-shadow: 0 2px 0 #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=2);
}

#edit_activity_section #edit_section .location_addtional_info {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #666666;
  text-shadow: 0 2px 0 #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=2);
}


#edit_activity_section #header_section .start-date {
  font-size: 17px;
  line-height: 17px;
  color: #999;
  font-weight: 300;
  margin-top:8px;
}

/*#edit_activity_section #header_section .top-action {
  margin-top:15px;
}*/

#edit_activity_section #edit_section .wrapper {
  width: 918px;
  margin: 15px auto 18px;
  border: 1px solid #dedede;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}

#edit_activity_form {
  margin-top:40px;
  margin-bottom:30px;
}

#edit_activity_form .activity-data {
  margin-bottom:25px;
  padding-right:30px;
  padding-left:24px;
}

#edit_activity_form label {
  width: 150px;
  padding: 0 30px 0 0;
  text-align: right;
  font-size:13px;
}

#edit_activity_form .input-field textarea[name='description'] {
  height:200px;
}

#edit_activity_form .input-field {
  width:664px;
}

#edit_activity_form .input-field .tt-hint {
  width: 100%;
}

#edit_activity_form .activity-end-time #end_date,
#edit_activity_form .activity-start-time #start_date {
  width: 524px;
  float: left;
  margin-right: 10px;
}

#edit_activity_form .activity-limit #id_limit {
  width:540px;
  float:left;
}

#edit_activity_form .activity-limit #unlimited_people_checkbox {
  margin-top:2px;
}

#edit_activity_form .activity-location .twitter-typeahead {
  width:100%;
}

#edit_activity_form .activity-privacy {
  border-bottom: 1px solid #cacaca;
  padding-bottom:30px;
  margin-bottom:20px;
}

#edit_activity_form .bottom-action  {
  margin-right:76px;
  margin-left:76px;
}

#edit_activity_form .typeahead,
#edit_activity_form .tt-query,
#edit_activity_form .tt-hint {
    width: 400px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
}

#edit_activity_form .typeahead {
    background-color: #fff;
}

#edit_activity_form .typeahead:focus {
    border: 2px solid #0097cf;
}

#edit_activity_form .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#edit_activity_form .tt-hint {
    color: #999
}

#edit_activity_form .tt-dropdown-menu {
    margin-left:-2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#edit_activity_form .tt-suggestion {
    width:400px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#edit_activity_form .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

#edit_activity_form .tt-suggestion p {
    margin: 0;
}

#edit_activity_form .tt-suggestion p.name {
    margin-left:10px;
    font-size:12px;
    max-width: 325px;
}

#edit_activity_form .tt-suggestion p.location_addtional_info {
    margin-left:10px;
    font-size:12px;
    max-width: 325px;
}

#edit_activity_form .tt-suggestion p.picture img {
    width:25px;
    height:25px;
}

#edit_activity_form .activity-logo #id_logo {
  width:200px;
  float:left;
}

#edit_activity_form .activity-logo .image-container{
  width:400px;
  height:250px;
  float:right;
}

#edit_activity_form span.remove-location-btn {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 10px;
  top: auto;
}

#edit_activity_form .error-notice {
  margin-left: 174px;
  font-size: 13px;
  margin-bottom: 20px;
  color: #a94442;
}

#edit_activity_form .error-field {
  margin-left: 150px;
}

#edit_activity_form .activity-description .error-field {
  margin-left:0px;
}

ul#invite_options_dropdown {
  margin-top:-7px;
}

#event_description_tab {
  font-size: 14px;
}

#event_description_tab .creator-info {
  font-size:12px;
}


#edit_activity_form #id_logo {
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 300px;
    cursor:pointer;
}

#edit_activity_form #edit_activity_logo_upload_area {
    border: 3px dashed #ccc;
    background: #fff;
    height: 50px;
    width:250px;
    text-align: center;
    padding:10px;
    cursor:pointer;
    font-size:16px;
    color: #999;
    float:left;
}

#edit_activity_form #edit_activity_logo_thumbnail img {
    width: 400px;
    height: 250px;
}
