.error-field {
	border: 1px solid red;
}

.errorlist{
	list-style: none;
	color:red;
	width: auto;
	float:right;
}

.register-section {
	border-radius: 3px;
	border: 6px solid #b0b0b0;
	height: auto;
	width: 603px;
	margin: 50px auto 150px auto;
	background-color: #fcfcfc;
}

.register-section .register-header {
	width: 100%;
	border-bottom: 1px solid #bababa;
	background: url('//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/body/create-community-header-background.png');
}

.register-section .register-header .header-text {
	margin-top:10px;
}

.register-section .register-content {
	margin:20px 30px 20px 30px;
}

.register-section .register-content .non-field-error ul.errorlist{
	float:left;
	margin-bottom: 20px;
}

.register-section .register-content label.title {
	width: auto;
	float:left;
}

.register-section .register-content  .input-field input[type=text],
.register-section .register-content  .input-field input[type=password] {
	width: 243px;
	height: 35px;
	border: 1px solid #d6d6d6;
	padding-left: 12px;
}

.register-section .register-content  .input-field input[type=text]:focus,
.register-section .register-content  .input-field input[type=password]:focus {
	border: 1px solid #d6d6d6;
}

.register-section .register-content .gender-section .input-field select {
	width: 243px;
	height: 35px;
	border: 1px solid #d6d6d6;
	padding-left: 12px;
	background-color:white;
}

.register-section .register-content .gender-section .input-field select:focus {
	border: 1px solid #d6d6d6;
}

#register_form input::-webkit-input-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}
 
#register_form input:-moz-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}
 
#register_form input:-ms-input-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}

#register_form input{
	font-size: 12px;
	color: #333;
	font-style: normal
}

.register-section .register-content .gender-section {
	margin-left:45px;
}

.register-section .register-content .complete-section .right-content {
	font-weight: bold;
	margin-top:10px;
}

.register-section .register-content .complete-section .right-content a{
	color: #ff8400;
}

.register-section .register-content .complete-section .right-content a:hover {
	text-decoration: none;
}

.signin-section {
	border-radius: 3px;
	border: 6px solid #b0b0b0;
	height: auto;
	width: 603px;
	margin: 50px auto 120px auto;
	background-color: #fcfcfc;
}

.signin-section .signin-header {
	width: 100%;
	border-bottom: 1px solid #bababa;
	background: url('//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/body/create-community-header-background.png');
}

.signin-section .signin-header .header-text {
	margin-top:10px;
}

.signin-section .signin-content label.title {
	width: auto;
	float:left;
}

#signin_form input::-webkit-input-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}
 
#signin_form input:-moz-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}
 
#signin_form input:-ms-input-placeholder
{
	font-style: italic;
	font-size: 12px;
	color: #cacaca;
}

#signin_form input {
	font-size: 12px;
	color: #333;
	font-style: normal
}

.signin-section .signin-content .non-field-error ul.errorlist{
	float:left;
	margin-bottom: 20px;
}

.signin-section .signin-content input[type='email'],
.signin-section .signin-content input[type='text'],
.signin-section .signin-content input[type='password']{
	width: 235px;
	height: 35px;
	border: 1px solid #d6d6d6;
	padding-left:10px;
}

.signin-section .signin-content .input-field input:focus {
	border: 1px solid #d6d6d6;
}

.signin-section .signin-content .remember-me input {
	margin: 0px;
}

.signin-section .signin-footer {
	border-top: 1px solid #e0e0e0;
	margin:5px 30px 15px 30px;
}

/*.signin-section .signin-footer .forgot-section {
	font-size: 11px;
	margin-top: 15px;
}

.signin-section .signin-footer .forgot-section a {
	color: #b1b1b1;
	text-decoration: underline;
}
*/
.signin-section .signin-footer .forgot-section .separate-divider {
	height: 12px;
	margin:5px 10px 0px 10px;
	width: 2px;
	border-left: 1px solid #b1b1b1;
}

.signin-section .signin-footer .content a{
	color: #ff8400;
}

.signin-section .signin-footer .content a:hover {
	text-decoration: none;
}

.change-password-section,
.reset-password-section {
	border-radius: 3px;
	border: 6px solid rgba(0,0,0,0.3);
	height: auto;
	width:330px;
	margin: 90px auto 70px auto;
	background-color: #fcfcfc;
}

.change-password-section .change-password-header,
.reset-password-section .reset-password-header {
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #bababa;
	background: url('//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/body/create-community-header-background.png');
}

.change-password-section .change-password-header .header-text,
.reset-password-section .reset-password-header .header-text {
	font-size: 24px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	margin-top: 10px;
	margin-left: 20px;
}

.change-password-section .change-password-content,
.reset-password-section .reset-password-content {
	margin: 25px 35px 30px 35px;
	width:auto;
}

.change-password-section .change-password-content input,
.reset-password-section .reset-password-content input {
	border: 1px solid #d6d6d6;
}

.change-password-section .change-password-content input:focus,
.reset-password-section .reset-password-content input:focus {
	border: 1px solid #d6d6d6;
}

.social-signup-section {
	border-radius: 3px;
	border: 6px solid rgba(0,0,0,0.3);
	height: auto;
	width:370px;
	margin: 90px auto 70px auto;
	background-color: #fcfcfc;
}

.social-signup-section .social-signup-header {
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #bababa;
	background: url('//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/body/create-community-header-background.png');
}

.social-signup-section .social-signup-header .header-text {
	font-size: 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	margin-top: 18px;
	margin-left: 20px;
}

.social-signup-section .social-signup-content {
	margin: 25px 35px 10px 35px;
	width:auto;
}

.social-signup-section .social-signup-content .complete-message {
	margin:10px 20px 20px 20px;
	text-align: center
}

.social-signup-section .social-signup-content .title {
	font-weight: bold;
}

.social-signup-section .social-signup-content .input-field
{
	height: 35px;
	margin:0px;
	padding: 0px;
}

.social-signup-section .social-signup-content .email-section {
	height: 80px;
}

.social-signup-section .social-signup-content .email-section input {
	width: 290px;
	height: 25px;
	border: 1px solid #d6d6d6;
}

.social-signup-section .social-signup-content .email-section input:focus {
	border: 1px solid #d6d6d6;
}

.social-signup-section .social-signup-content .email-section .title {
	margin-bottom: 15px;
	width:auto;
	float:left;
}

.social-signup-section .complete-section {
	margin-top:20px;
	margin-bottom:10px;
}

.social-signup-section .complete-section .submit-btn {
	text-align: center;
}