#invite_url {
    position: absolute;
    left: 8px;
    top: 7px;
    font-family: "HelveticaNeue-Light","HelveticaNeueW02-45Ligh",Arial,sans-serif;
    color: black;
    font-size: 18px;
    overflow-x: auto;
    width: 204px;
    height: 52px;
    white-space: nowrap;
}

#share_message {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
    font-family: "HelveticaNeue-Light","HelveticaNeueW02-45Ligh",Arial,sans-serif;
    text-align: center;
}

#personal_link {
    position: relative; 
    display: inline-block; 
    margin-left: 20px; 
    cursor: text;
}

#fb_share_button {
    display: inline; 
    cursor: pointer;
}

#share_section {
    text-align: center; 
    margin-top: 30px; 
    display: inline-block; 
    width: 100%;
}

#main_section .container {
    width:900px;
}

#facebook_friends .invite-all-btn {
    margin-top:2px;
}

#facebook_friends input.search {
 width: 283px;
 margin-left:15px;   
}

#facebook_friends_list {
    margin-top:15px;
}

li.existing-friend-item, 
li.facebook-friend-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cacaca;
}

li.existing-friend-item:first-child,
li.facebook-friend-item:first-child {
    border-top:none;
}

li.existing-friend-item .name,
li.facebook-friend-item .name {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    max-width: 245px;
}

li.existing-friend-item button,
li.facebook-friend-item button {
    margin-top:10px;
}

#friend_section hr {
    border-top: 1px solid #aaaaaa;
}

#no_friend_on_frittie {
    font-size:14px;
}

#no_facebook_friend .connect-message {
    margin-top:50px;
    font-size:17px;
}

#no_facebook_friend .toolbar-action {
    padding-left:35px;
    padding-right:35px;
}

#no_facebook_friend .invite-all-btn {
    margin-top:2px;
}

#no_facebook_friend input.search {
    margin-left:15px;
    width:718px;
}
