body {
    background-color: white;
}

header#header_mobile {
  height:50px;
}

/*
div#header_web li.header-item {
    color: white;
    font-weight:normal;
}

#brand_name a {
    padding:0px;
}

#brand_name img {
    width: 110px;
    margin-top:4px;
}

div#header_web .navbar-left {
    margin-left:150px;
}

div#header_web .navbar-right {
    margin-right:150px;
}*/

#slider_section {
    position:relative;
    height:400px;
}

#slider_section .language-section {
    position: absolute;
    top:20px;
    right:180px;
    font-size:13px;
}

#slider_section .search-event-section {
    width:800px;
    margin-top:120px;
}

#slider_section .search-event-section .title {
  font-size:32px;
  color: black;
  font-family: Georgia;
}

#slider_section #search_where {
    width:650px;
}

#slider_section #search_event_submit_btn {
    background-color: #ed4c56;
    color: white;
    font-weight: bold;
    border-color: #ed4c56;
    padding-left: 35px;
    padding-right: 35px;
}

#slider_section .search-event-section .twitter-typeahead {
  float:left;
}

#slider_section .search-event-section .typeahead,
#slider_section .search-event-section .tt-query,
#slider_section .search-event-section .tt-hint {
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
          border-radius: 18px;
  outline: none;
}

#slider_section .search-event-section .typeahead {
  background-color: #fff;
}

#slider_section .search-event-section .typeahead:focus {
  border: 2px solid #0097cf;
}

#slider_section .search-event-section .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#slider_section .search-event-section .tt-hint {
    color: #999;
    border-radius:0px;
}

#slider_section .search-event-section .tt-hint:focus {
    border:0px;
}

#slider_section .search-event-section .tt-dropdown-menu {
  width: 650px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  max-height:400px;
  overflow-y:auto;
}

#slider_section .search-event-section .tt-suggestion {
    width:649px;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#slider_section .search-event-section .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

#slider_section .search-event-section .tt-suggestion div {
  margin: 0;
}

#slider_section .search-event-section .tt-suggestion .details .name {
  font-size:16px;
  width:600px;
}

.mask {
    display:none;
    width: 200px;
    height: 200px;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    top:0px;
    left: 0px;
}

.team-member-info {
    display:none;
    position:absolute;
    font-weight:bold;
    color: white;
    font-size:16px;
    width:200px;
    top:50px;
    text-align: center;
}

/*
#Footer ul {
    height:110px;
    line-height:110px;
}

#Footer li {
    color: white;
    float:left;
    font-size:14px;
    margin-right:15px;
}

#Footer li a {
    color: white;
    font-size:16px;
}*/