.location-header #location_main_picture {
  border-radius:5px;
}

#location_details .contents {
    margin: 0 auto 30px;
    overflow: hidden;
    width: 1000px;
}

#location_details .photo-banner{
    background:#222;
    border-bottom:1px solid #fff;
    height:150px;
    overflow:hidden;
    position:absolute;
    z-index:1;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#3c3333),to(#282020));
    background-image: -webkit-linear-gradient(top,#3c3333 0,#282020 100%);
    background-image: -moz-linear-gradient(top,#3c3333 0,#282020 100%);
    background-image: linear-gradient(to bottom,#3c3333 0,#282020 100%);
    background-repeat: repeat-x;
    width:100%;
}

#location_details .photo-banner .background-photo{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity:0.6;
}

#location_details .photo-banner .background-photo.blurred{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity:1;
}

#location_details .photo-banner .background-photo{
    background-position: center 10%;
}

#location_details .wide-column,
#location_details .narrow-column{
    padding:0;
    position:relative;
}

#location_details .wide-column{
    position:relative;
    width:600px;
    z-index:2;
    display: inline;
    float: left;
    overflow: hidden;
}

#location_details .wide-column .location-info-section{
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin-left:5px;
  margin-top:30px;
  width:590px;
  background:white;
  position:relative;
  padding:20px 0 0;
  top:-10px;
}

#location_details .wide-column .location-info-section .location-header{
  overflow:hidden;
  padding:0 20px 0px;
  position:relative;
}

#location_details .wide-column .location-info-section .location-header .main-picture{
  margin-right:10px;
}

#location_details .wide-column .location-info-section .location-header .main-picture .image-container{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:88px;
  height:88px;
}

#location_details .wide-column .location-info-section .location-header .primary-info{
  float:left;
  padding-top:5px;
  width:430px;
  z-index:1;
}

#location_details .wide-column .location-info-section .location-header .primary-info .location-address{
  color:#999;
}

#location_details .wide-column .location-info-section .location-header .primary-info .location-address p{
  margin:0;
}
#location_details .wide-column .location-info-section .location-header .primary-info .location-address .directionsLink{
  color:#999999;
}

#location_details .wide-column .location-info-section .location-header .primary-info .location-address .directionsLink:hover{
  text-decoration:none;
}

#location_details .wide-column .location-info-section .location-header .primary-info h1.location-name{
  color:#4d4d4d;
  line-height:30px;
  margin:0;
}

#location_details .wide-column .location-info-section .location-header .primary-info h1.location-name .location-closed,
#location_details .wide-column .location-info-section .location-header .primary-info h1.location-name .location-deleted,
#location_details .wide-column .location-info-section .location-header .primary-info h1.location-name .location-private{
  color:#df7a77;
  font-size:15px;
  font-weight:bold;
  vertical-align:middle;
}

#location_details .wide-column .location-info-section .location-header .primary-info .categories{
  font-size:13px;
}

#location_details .wide-column .location-info-section .location-header .primary-info .categories a{
  color:#4d4d4d;
}

#location_details .wide-column .location-info-section .location-header .primary-info .categories .edit-categories-link{
  color:#999999;
  font-size:11px;
}

#location_details .wide-column .location-info-section .location-actions{
  -moz-border-radius:0px 0px 3px 3px;
  -webkit-border-radius:0px 0px 3px 3px;
  border-radius:0px 0px 3px 3px;
  background:#fff;
  border-bottom:none;
  padding:15px 20px;
}

#location_details .wide-column .location-info-section .location-actions .follow,
#location_details .wide-column .location-info-section .location-actions .create-event,
#location_details .wide-column .location-info-section .location-actions .share{
  display: inline-block;
}

#location_details .wide-column .location-info-section .location-actions .share {
  float:right;
  position:relative;
  width:200px;
  margin-right:10px;
}

#location_details .wide-column .location-info-section .location-actions .share input.share-link{
  position: absolute;
  margin-left: 8px;
  padding: 8px 15px 7px 6px;
  width: 140px;
  height: 31px;
  font-size:12px;
  z-index: 1;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
}

#location_details .wide-column .location-info-section .location-actions .share-link{
  float:none;
  left:0;
  position:static;
}

#location_details .wide-column .location-info-section .location-actions .share .hideshare-wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-right:0px;
  z-index:100;
}

#location_details .wide-column .location-info-section .location-actions .share .hideshare-wrap .hideshare-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 35px 0px 0px -120px;
}

#location_details .wide-column .location-info-section .location-actions .share .hideshare-wrap li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 10px 5px 0;
}

#location_details .wide-column .location-info-section .location-actions .share .hideshare-wrap span {
  display: none;
}

#location_details .wide-column .location-info-section .location-actions .label{
  display:inline;
}

#location_details .wide-column .location-info-section .location-attributes{
  font-size:11px;
  font-weight:bold;
  padding:0 20px;
}

#location_details .wide-column .location-info-section .location-attributes .location-basic-attr{
  height:16px;
}

#location_details .wide-column .location-info-section .location-attributes .basic-attr-key{
  float:left;
  margin-right:5px;
} 
#location_details .wide-column .location-info-section .location-attributes .basic-attr-value{
  float:left;
}

#location_details .wide-column .location-info-section .location-attributes .basic-info {
  background: none;
  border-bottom: 1px solid #f5f3f1;
  border-top: 1px solid #f5f3f1;
  margin: 20px -20px;
  line-height: 16px;
  overflow: hidden;
  padding: 12px 20px;
}

#location_details .wide-column .location-info-section .location-attributes .description-detail {
  margin:20px 0px;
}

#location_details .wide-column .location-info-section .location-actions {
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  background: #fff;
  border-bottom: none;
  border-top: 1px solid #f5f3f1;
  padding: 15px 20px;
}


#location_details .wide-column .activity-section {
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:590px;
  background:#fff;
  margin: 10px 0px 20px 5px;
  padding:0;
  position:relative;
}

#location_details .wide-column .activity-section .activity-section-header,
#location_details .wide-column .activity-section .activity-section-body {
  padding: 10px 20px;
}

#location_details .wide-column .activity-section .activity-count,
#location_details .wide-column .activity-section .filter-area {
  display:block;
}

#location_details .wide-column .activity-section .filter-area .sort-link {
  color: #2398c9;
  cursor: pointer;
}

#location_details .wide-column .activity-section .filter-area .sort-link:hover {
  text-decoration: underline;
}

#location_details .wide-column .activity-section .filter-area .sort-link.selected {
  color: #4d4d4d;
  cursor: default;
}

#location_details .wide-column .activity-section .filter-area .sort-link.selected:hover {
  text-decoration: none;
}

#location_details .wide-column .activity-section .activity-section-body li.activity-item {
  margin-bottom:15px;
}

#location_details .wide-column .activity-section .activity-section-body li.activity-item.first {
  margin-top: 0px;
}

#location_details .wide-column .activity-section .activity-section-body li.activity-item.last {
  margin-bottom:8px;
  border-bottom:0px;
}

#location_details .wide-column .activity-section .activity-section-body .activity-logo.image-container{
  width:130px;
  height:130px;
}

#location_details .wide-column .activity-section .activity-section-body .activity-info {
  margin-left:15px;
  width:405px;
}

#location_details .wide-column .activity-section .activity-section-body .activity-info .name {
  font-weight: bold;
  font-size:14px;
  margin-top:5px;
}

#location_details .wide-column .activity-section .activity-section-body .activity-info .description {
  max-height:50px;
  margin-top:8px;
  line-height: 18px
}

#location_details .wide-column .activity-section .activity-section-body .activity-info .time {
  margin-top:8px;
  color: #808080;
}

#location_details .wide-column .activity-section .activity-section-body .activity-info .people-going .image {
  margin-top: 3px;
}

#location_details .wide-column .activity-section .activity-section-body .activity-info .people-going .image img {
  width:25px;
  height:25px;
}

#location_details .wide-column .comment-section {
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin-left:5px;
  width:590px;
  background:#fff;
  margin-bottom:100px;
  padding:0;
  position:relative;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block{
  background:none;
  border-bottom:none;
  border-top:none;
  margin:0;
  overflow:hidden;
  padding:10px 20px 15px;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block a.user-image{
  height:32px;
  margin-right:15px;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block a.user-image img{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:32px;
  height:32px;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block .add-comment-area{
  width:425px;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block .add-comment-area textarea {
  width:100%;
  -moz-transition: height 0.5s,background 1s,background 1s;
  -webkit-transition: height 0.5s,background 1s,background 1s;
  transition: height 0.5s,background 1s,background 1s;
  float: left;
  height: 50px;
  margin: 0;
  font-size:12px;
  padding: 6px 8px 6px 10px;
  resize: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block .add-comment-area textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

#location_details .wide-column .comment-section .add-comment-section .add-comment-block.has-error textarea{
  border-color:red;
}

#location_details .wide-column .comment-section .comment-list-section{
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;-webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-left:5px;width:640px;background:#fff;}

#location_details .wide-column .comment-section .comment-section-header{
  border-bottom:1px solid #f5f3f1;
  padding:10px 20px;
  border:none;
  overflow:hidden;
}

#location_details .wide-column .comment-section .comment-section-header h5{
  font-size:15px;
  line-height:30px;
  margin:0;
}

#location_details .wide-column .comment-section .comment-section-body{
  border-top:1px solid #f5f3f1;
  padding:0px 20px 20px 20px;
}

ul#comment_list{
  list-style:none;
  margin:10px 0 0;
}

ul#comment_list li.comment-item{
  border-bottom:1px solid #f5f3f1;
  margin:0 -5px 10px 0;
  overflow:hidden;
  padding:6px;
  position:relative;
}

ul#comment_list li.comment-item:last-child{
  margin-bottom:0;
}

ul#comment_list li.comment-item p{
  margin:0;
}

ul#comment_list li.comment-item .author-image,
ul#comment_list li.comment-item .comment-contents{
  display:inline-block;
  vertical-align:top;
}

ul#comment_list li.comment-item .author-image{
  margin-right:10px;
}

ul#comment_list li.comment-item .author-image .avatar{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width: 32px;
  height:32px;
}

ul#comment_list li.comment-item .comment-contents{
  max-width:510px;
}

ul#comment_list li.comment-item .comment-info{
  color:#999999;
  font-size:11px;
  margin-bottom:5px;
}

ul#comment_list li.comment-item .comment-info .username a,
ul#comment_list li.comment-item .comment-info .comment-list a{
  color:#999999;
}

ul#comment_list li.comment-item .comment-info .comment-date{
  color:#2398c9;
  cursor:pointer;
  text-decoration:none;
  color:#999999;
}

ul#comment_list li.comment-item .action-buttons{
  white-space:nowrap;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button{
  margin-right:15px;
  color:#999999;
  cursor:pointer;
  font-size:11px;
  font-weight:bold;
  position:absolute;
  top:0px;
  right:5px;
  padding-left:4px;
  padding-right:4px;
  height:16px;
  line-height:16px;
}

ul#comment_list li.comment-item .action-buttons .edit-comment-button,
ul#comment_list li.comment-item .action-buttons .delete-comment-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #999999;
  font-size: 11px;
  line-height: 16px;
  margin-right: 10px;
}

ul#comment_list li.comment-item .action-buttons .edit-comment-button:hover,
ul#comment_list li.comment-item .action-buttons .delete-comment-button:hover {
  text-decoration: underline;
  color:#666666;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button:hover {
  color:#666666;
}

ul#comment_list li.comment-item .action-buttons .report-comment-button{
  display:none;
}

ul#comment_list li.comment-item:hover .action-buttons .report-comment-button{
  display:inline;
}


#location_details .narrow-column {
  margin:0 0 0 10px;
  width:380px;
  display: inline;
  float: left;
  overflow: hidden;
  position: relative;
}

#location_details .narrow-column .map-section{
  margin-top:20px;
  position:relative;
}

#location_details .narrow-column .map-section #location_map_canvas{
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  height:260px;
  position:relative;
  width:375px;
  z-index:1;
}

/*#location_details .narrow-column .panel-section {
  margin: 20px 5px 20px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 1px 3px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background-color: white;
  position:relative;
}

#location_details .narrow-column .panel-section .section-header,
#location_details .narrow-column .panel-section .section-body {
  padding: 10px 20px;
}

#location_details .narrow-column .panel-section .section-header {
  line-height:26px;
}*/

#location_details .narrow-column #similar_location_list li.similar-location-item {
  margin-bottom: 15px;
}

#location_details .narrow-column #similar_location_list li.similar-location-item .similar-location-main-picture {
  width: 65px;
  height:65px;
  margin-right:15px;
}

#location_details .narrow-column #similar_location_list .similar-location-info {
  margin-top:5px;
  width:260px;
}

#location_details .narrow-column #similar_location_list .similar-location-info a,
#location_details .narrow-column #similar_location_list .similar-location-info a:visited {
  color: #08c;
}

#location_details .narrow-column #similar_location_list .similar-location-info .address {
  margin-top:3px;
}

#location_details .narrow-column #similar_location_list .similar-location-info .follower {
  font-size:12px;
  margin-top:4px;
}

#location_details .narrow-column #similar_location_list .similar-location-info .num-activity {
  font-size:12px;
  margin-top:4px;
  margin-left: 15px;
}

#location_details .narrow-column #similar_location_panel {
  margin-bottom:100px;
}

#location_business_hour_panel ul#business_hour_list li.business-hour-item {
  margin-bottom:10px;
}

#location_business_hour_panel ul#business_hour_list li.business-hour-item .weekday-column {
  width:100px;
}
#location_business_hour_panel ul#business_hour_list li.business-hour-item .open-hour-column {
  width:230px;
}

#location_business_hour_panel ul#business_hour_data li.business-hour-data-item {
  float:left;
}

#location_business_hour_panel ul#business_hour_data li.business-hour-data-item select {
  width:90px;
}

#location_business_hour_panel ul#business_hour_data li.business-hour-data-item.hours-end,
#location_business_hour_panel ul#business_hour_data li.business-hour-data-item.hours-start {
  margin-left:9px;
}

#location_business_hour_panel ul#business_hour_data li.business-hour-data-item.weekday select {
  width:65px;
}

#location_business_hour_panel #add_business_hour_btn {
  margin-top:2px;
  margin-left:10px;
}

#location_detail_info_panel ul#detail_info_data li.detail-info-data-item {
  float:left;
}

#location_detail_info_panel ul#detail_info_data li.detail-info-data-item.info-value {
  margin-left:10px;
}

#location_detail_info_panel ul#detail_info_data li.detail-info-data-item input {
  width:130px;
}

#location_detail_info_panel #add_detail_info_btn {
  margin-top:2px;
}

#location_detail_info_panel .delete-detail-info-btn {
  margin-top:3px;
  margin-left: 50px;
}

#no_activity {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 13px;
}

#delete_location_modal .modal-dialog{
  width:350px;
}

#delete_location_modal .modal-dialog .modal-body {
  padding: 20px 20px 10px 20px;
} 

#edit_location_modal .modal-dialog {
    width: 900px;
}

#edit_location_form .location-data {
    margin-bottom: 10px;
}

#edit_location_form .location-city,
#edit_location_form .location-country{
    width:200px;
}

#edit_location_form .location-state,
#edit_location_form .location-zipcode {
    width:220px;
}

#edit_location_form .location-data {
    position:relative;
}

#edit_location_form .location-data .error-field {
    position:absolute;
    right:0px;
}

#edit_location_form .location-picture .image-container {
    width:328px;
    height:150px;
}

#edit_location_form .map-panel {
    height: 223px;
    border: 1px solid #bababa;
}

#edit_location_form .map-panel .panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #bababa;
    color: #333;
}

#edit_location_form .error-notice {
    color: #843534;
    margin-bottom:20px;
    margin-left:15px;
}

#edit_location_map_canvas {
    height:180px;
}

#edit_location_modal .map-panel .panel-body {
    padding:0px;
}

#update_main_picture_file {
  opacity: 0;
  width: 90px;
  position: absolute;
  height: 20px;
  bottom:25px;
  cursor:pointer;
}




