div.activity-image.no-logo {
	border-bottom: 1px solid #EBEBEB;
}

#main_section {
	margin-top:0px;
	margin-bottom:100px;
}

.follow-box,
.watchlist-box {
	font-family: "BentonSans Medium",Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	padding: 5px 8px;
	background-color: #3381B3;
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.follow-box.following,
.watchlist-box.watching {
	background-color:#5cb85c;
}

#locations_toolbar .text-label,
#activities_toolbar .text-label {
	text-transform: uppercase;
	font-family: BentonSans,Arial,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: white;
}        

#locations_toolbar #sort-by>div.text-label
#activities_toolbar #sort-by>div.text-label {
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

#filter_sort_section,
#num_activities_section {
	margin-top:17px;
}

#filter_sort_section .dropdown {
	margin-left:10px;
	margin-top:-5px;
	width: 190px;
	background-color: white;
	height: 30px;
	border:1px solid #cacaca;
	border-radius: 2px;
	line-height:28px;
}

#filter_sort_section .dropdown:hover {
	background-color: #f5f5f5;
}

#filter_sort_section div.dropdown > a{
	display: block;
}

#filter_sort_section .fa-caret-down {
	font-size: 1.5em;
}

#filter_sort_section .dropdown-toggle .dropdown-value {
	padding-left:15px;
	font-size:13px;
	font-weight:bold;
}

#filter_sort_section .dropdown-toggle .caret-icon {
	padding-left:12px;
	padding-right:12px;
	padding-top:2px;
	border-left: 1px solid #cacaca;
}

#filter_sort_section .dropdown-menu {
	margin-top: 0px;
	width: 190px;
	left: -1px;
	border-radius: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#location_listing_section,
#activity_listing_section {
	margin-bottom:70px;
}

#location_listing_section .location-item,
#activity_listing_section .activity-item {
	display: block;
	float: left;
	text-decoration: none;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s; 
	/*margin-right:15px;
	margin-left:12px;*/
}

#location_listing_section .location-item .item-box,
#activity_listing_section .activity-item .item-box {
	position: relative;
	background-color: white;
	border: 1px solid #EBEBEB;
	margin-top: 30px;
	cursor: pointer;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 0;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#location_listing_section .item-box:hover,
#activity_listing_section .item-box:hover {
	/* border: 1px solid #4583b1; */
	border: 1px solid #fa3f5e;
}

#location_listing_section .location-item .item-box .location-image,
#activity_listing_section .activity-item .item-box .activity-image {
	overflow: hidden;
}

#activity_listing_section .activity-item .item-box .activity-date-tag {
	font-family: BentonSans,Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #333;
	padding: 5px 8px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: white;
	opacity: 0.9;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(90);
	filter: alpha(opacity = (90));
	white-space: nowrap;
}

#location_listing_section .location-item .item-box .location-info,
#activity_listing_section .activity-item .item-box .caption {
	padding:15px;
}

#location_listing_section .location-item .item-box .location-info .name,
#activity_listing_section .activity-item .item-box .activity-info .name {
	color: #030303;
	font-size: 18px;
	line-height: 18px;
	font-family: "BentonSans Medium",Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
}

#location_listing_section .location-item .item-box .location-info .category,
#activity_listing_section .activity-item .item-box .activity-info .place {
	color: #8f8f8f;
	font-size: 14px;
	line-height: 14px;
	font-family: BentonSans,Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-top: 8px;
}

#location_listing_section .location-item .item-box .more-detail-info,
#activity_listing_section .activity-item .item-box .more-detail-info {
	border-top: 1px solid #EBEBEB;
	height: 45px;
	line-height:45px;
	font-family: BentonSans,Arial,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #808080;
}

#location_listing_section .location-item .item-box .more-detail-info .num-followers,
#activity_listing_section .activity-item .item-box .more-detail-info .num-people-going {
	margin-left:15px;
}

#location_listing_section .location-item .item-box .more-detail-info .num-activities,
#activity_listing_section .activity-item .item-box .more-detail-info .num-watchers {
	margin-right:15px;
}

#activity_listing_section .activity-item .created-time {
	font-family: BentonSans,Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #8f8f8f;
	margin-top: 3px;
	height: 18px;
}


li.activity-item time.icon {
	font-size: 1em; /* change icon size */
	display: block;
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #fff;
	margin: 35px auto;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotate(0deg) skewY(0deg);
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
}

li.activity-item time.icon.have-watching-box {
	margin-top:50px;
}

li.activity-item time.icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

li.activity-item time.icon strong {
	position: absolute;
	top: 0;
	padding: 0.4em 0;
	color: #fff;
	background-color: #fa3f5e;
	box-shadow: 0 2px #fa3f5e;
}

li.activity-item time.icon em {
	position: absolute;
	bottom: 10px;
	color: #fa3f5e;
}

li.activity-item time.icon span {
	width: 100%;
	font-size: 2.8em;
	letter-spacing: -0.05em;
	padding-top: 0.8em;
	color: #2f2f2f;
}

#no_location_found,
#no_activity_found {
	margin-top:100px;
	padding-top: 2em;
	font-size: 1.8em;
	color: #5a5d58;
}


/*
 * Main page list
 */
#locations_toolbar,
#activities_toolbar{
	border-radius:0px;
	background-color: #C6CBCE;
}

.locations-toolbar-menu button.dropdown-toggle
.activities-toolbar-menu button.dropdown-toggle{
	border-radius:0px!important;
}

.locations-toolbar-menu .dropdown-menu
.activities-toolbar-menu .dropdown-menu{
	border-radius:0px!important;
	padding: 0;
}

.locations-toolbar-menu .dropdown-menu a
.activities-toolbar-menu .dropdown-menu a{
	line-height: 30px;
}

.location-item:hover .item-box,
.activity-item:hover .item-box{
	border-color:#FA3F5E;
}

.location-item .item-box,
.activity-item .item-box{
	position: relative;
	padding: 0;
	cursor: pointer;
	border-radius:0px;
}
.activity-item .item-box .date{
	position: absolute;
	top: 10px;
	right: 10px;
}
.activity-item .caption{
	border-bottom: 1px solid #DDDDDD;
}
.activity-item-people-info{
	padding: 0 5px;
	color:#808080;
	font-weight: bold;
}

