body {
	background-color: #e3e3e3;
}

#setting_section {
	width:600px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	display: table;
	margin: 25px auto 150px auto;
}

#settings_form input[type='text'] {
	padding:6px;
	width: 320px;
	border-radius: 2px;
	margin-bottom: 0px;
	border: 1px solid #d6d3ce;
}

#settings_form input[type='radio'] {
	margin-top:-1px;
	margin-right:3px;
}

#settings_form textarea {
	width: 320px;
	height: 100px;
	margin-bottom:0px;
	border-radius: 2px
}

#settings_form select {
	margin-bottom: 0px;
	border-radius: 2px;
}

#settings_form label {
	color: #333;
	font-size:13px;
}

#settings_form .first-column {
	width: 100px;
}

#settings_form .second-column {
	margin-left:100px;
	width:320px;
}

#settings_form .avatar .second-column {
	width:auto;
}

#settings_form .third-column {
	margin-right:40px;
}

#settings_form .setting-data-field {
	border-top: 1px solid #dfdfdf;
	padding: 10px 0px 10px 30px;
}

#settings_form .setting-data-field.privacy-status {
	border-bottom: 1px solid #dfdfdf;
}

#settings_form .birthday select {
	width: 80px;
}

#setting_avatar_image {
	width:80px;
	height:80px;
}

#settings_form .errorlist {
	margin-bottom:5px;
	color: red;
}

#basic_profile {
	position:absolute;
	width:220px;
	left:0px;
	background-color: #f3f3f3;
}

#profile_content {
	background-color: white;
	width:655px;
	position:absolute;
	left:220px;
}

#profile_avatar_img {
	width:180px;
	height:160px;
	border-radius:10px;
}

#basic_profile .wrapper {
	margin:20px;
}

#main_section .main-area.container {
	width:875px;
}

.hr-line {
	border: 1px solid #ececec;
	width:100%;
}


#intro_area {
	position: relative;
}

#user_info_profile {
	position:absolute;
	bottom:20px;
	width: 400px;
	left: 20px;
}

#details_area .section-header .count-item{
	color: #8e8e8e;
}

#basic_profile .user-profile-tab {
	cursor:pointer;
	color: #6b6b6b;
}

#basic_profile .user-profile-tab.active {
	font-weight:bold;
	color: #fa3f5e;
}

#details_area .section-header {
	margin:15px;
}

#details_area .section-body {
	margin-left:5px;
	margin-right:5px;
}

ul#location_list li.location-item,
ul#activity_list li.activity-item {
	position:relative;
	width:202px;
	height:270px;
	padding:10px;
	float:left;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom:10px;	
	border:1px solid #cecece;
}

ul#location_list li.location-item {
	height:300px;
}

ul#location_list li.location-item .location-main-picture img {
	width:100%;
	height:135px;
}

ul#activity_list li.activity-item .activity-logo img {
	width: 100%;
	height:120px;
}

ul#activity_list li.activity-item .activity-time {
	color: #7f7f7f;
	margin-top:10px;
	margin-bottom:5px;
}

ul#activity_list li.activity-item .activity-place {
	color: #7f7f7f;
	margin-top:3px;
}
	    
ul#activity_list li.activity-item .activity-going {
	position:absolute;
	bottom:10px;
}

ul#location_list li.location-item .location-name {
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:15px;
}

ul#location_list li.location-item .location-address {
	color: #999;
	line-height:16px;
	margin-top:5px;
}


ul#location_list li.location-item .location-additional-info {
	position: absolute;
	bottom: 10px;
	font-weight:bold;
}

ul#location_list li.location-item .location-additional-info .location-num-activity {
	margin-left:20px;
}

ul#user_list li.user-item {
	float: left;
	width: 200px;
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
}

ul#user_list li.user-item .user-avatar img {
	width:50px;
	height:50px;
}

ul#user_list li.user-item .user-profile {
	margin-left: 15px;
	margin-top: 4px;
	width: 130px;
}


ul#user_list li.user-item .user-profile .user-fullname {
	font-size: 14px;
	font-weight: bold;
}

ul#user_list li.user-item .user-profile .user-num-follower {
	font-weight: normal;
	font-size: 12px;
	margin-top:5px;
}

ul#photo_list li.photo-item {
	float: left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	width:150px;
	height:150px;
}

ul#photo_list li.photo-item.first-in-row {
	margin-left: 8px;
}

/*ul#photo_list li.photo-item img.upload-photo {
	width:150px;
	height:150px;
}*/

#no_item {
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 50px;
}

#hide_feed_btn,
#show_feed_btn {
	display: none;
}

#intro_area {
   	position:relative;
}

#intro_area .background-pic.image-container {
	height:180px;
	width:655px;
}

#action_btn_bar {
    position:absolute;
    top: 15px;
	right: 20px;
}

#media_section_preview {
   	margin-top:5px;
}

#media_section_preview li.photo-item {
    float:left;
    margin-right:5px;
    margin-bottom:10px;
    margin-left:5px;
}

#media_section_preview li.photo-item img.user-photo-thumbnail {
    width:50px;
    height:50px;
}

#report_user_modal .modal-dialog {
	width:400px;
}

#update_cover_picture,
#update_avatar {
  position:absolute;
  font-weight:bold;
  background-color: white;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px;
  padding: 2px 7px 2px 7px;
  border-color: #aaa;
  cursor:pointer;
}

#update_avatar {
  	top: 30px;
  	right: 30px;
}

#update_cover_picture {
	top:20px;
	right:30px;
}

#update_cover_picture_file,
#update_avatar_file {
  opacity: 0;
  width: 140px;
  position: absolute;
  height: 20px;
  top: 0px;
  cursor:pointer;
}