.main-area {
	width:800px;
	background-color:white;
	min-height:500px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	display: table;
	margin: 40px auto 150px auto;
}

.left-section {
	width:150px;
	padding-left:30px;
}

.right-section {
	width:580px;
}

.right-section .header-section {
	margin-top:20px;
	border-bottom: 1px solid #b0b0b0;	 
	padding-bottom:10px;   
}

ul#conversation_list {
	overflow-y:auto;
	height:500px;
}

ul#message_list {
	overflow-y:auto;
	max-height:500px;
}

ul#conversation_list li.conversation-item.new-conversation,
ul#message_list li.message-item.new-message {
	background-color: #edeff5;
}

ul#conversation_list li.conversation-item,
ul#message_list li.message-item {
	border-bottom: 1px solid #e0e0e0;
	padding-left:10px;
	position:relative;
}

ul#conversation_list li.conversation-item .user-avatar,
ul#message_list li.message-item .user-avatar  {
	margin-top:10px;
}

ul#conversation_list li.conversation-item .user-avatar img.avatar,
ul#message_list li.message-item .user-avatar img.avatar {
	float: left;
	width:35px;
	height:35px;
	margin-right:15px;
}

ul#conversation_list li.conversation-item .conversation-details {
	width:380px;
	margin-top:10px;
	margin-bottom:8px;
}

ul#message_list li.message-item .message-details {
	width:480px;
	margin-top:10px;
	margin-bottom:8px;
}

ul#message_list li.message-item .message-details .message-to a,
ul#message_list li.message-item .message-details .message-to a span {
	color:#999;
}

ul#conversation_list li.conversation-item .conversation-details .conversation-content {
	font-size:11px;
	color: #808087;
}

ul#message_list li.message-item .message-details .message-content {
	font-size:12px;
	color:#333;
}

ul#conversation_list li.conversation-item .conversation-date,
ul#message_list li.message-item .message-date {
	color: #999;
	font-size: .8em;
	font-weight: normal;
	line-height: 1.6em;
	margin-top:10px;
	margin-right:10px;
}

ul#message_list li.message-item .message-date {
	position:absolute;
	right:0px;
}

.action-section {
	margin-top:20px;
	padding-left:10px;
	padding-right:20px;
}

.action-section textarea#message_textarea {
	width:445px;
	height:50px;
	resize:vertical;
	max-height:120px;
	margin-bottom:20px;
}

#send_message_btn {
	margin-right:-10px;
}

#no_message {
	text-align: center;
	margin-top:50px;
	font-weight: bold;
	font-size:18px;
}

textarea#new_message_textarea {
    width: 355px;
    height:100px;
}

#compose_new_message_modal .typeahead,
#compose_new_message_modal .tt-query,
#compose_new_message_modal .tt-hint {
  width: 194px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

#compose_new_message_modal .typeahead {
  background-color: #fff;
}

#compose_new_message_modal .typeahead:focus {
  border: 2px solid #0097cf;
}

#compose_new_message_modal .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#compose_new_message_modal .tt-hint {
  color: #999
}

#compose_new_message_modal .tt-dropdown-menu {
  margin-left:-2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#compose_new_message_modal .tt-suggestion {
  	padding: 3px 20px;
  	font-size: 14px;
  	line-height: 24px;
  	display: table;
	content: "";
	width:194px;
	cursor:pointer;
}

#compose_new_message_modal .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

#compose_new_message_modal .tt-suggestion p {
  margin: 0;
}

#compose_new_message_modal .tt-suggestion p.name {
	margin-left:10px;
}

#compose_new_message_modal .tt-suggestion p.picture img {
	width:25px;
	height:25px;
}