.main-area {
	width:800px;
	background-color:white;
	min-height:500px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	display: table;
	margin: 40px auto 150px auto;
}

.left-section {
	width:150px;
	padding-left:30px;
}

.right-section {
	width:580px;
}

.right-section .header-section {
	margin-top:20px;
	border-bottom: 1px solid #b0b0b0;	 
	padding-bottom:10px;   
}

ul#notification_list li.notification-item.new-notification {
	background-color: #edeff5;
}

ul#notification_list li.notification-item {
	border-bottom: 1px solid #e0e0e0;
	padding-left:10px;
}

ul#notification_list li.notification-item .user-avatar  {
	margin-top:10px;
}

ul#notification_list li.notification-item .user-avatar img.avatar {
	float: left;
	width:35px;
	height:35px;
	margin-right:15px;
}

ul#notification_list li.notification-item .notification-details {
	width:520px;
	margin-top:10px;
	margin-bottom:8px;
}

ul#notification_list li.notification-item .notification-date {
	color: #999;
	font-size: .8em;
	font-weight: normal;
	line-height: 1.6em;
}

#no_notification {
	text-align: center;
	margin-top:50px;
	font-weight: bold;
	font-size:18px;
}