body {
	background-color:white;
}

.photo-details-tab-section{
	margin-bottom: 20px;
}

.photo-list-item{
	margin-bottom: 20px;
}

.photo-item {
	margin-bottom:20px;
}

#current_photo_caption {
	margin-top:20px;
	margin-bottom:15px;
	font-size:14px;
}

#photo_tab_content {
	padding-left:0px;
	padding-right:0px;
}

#current_photo_frame {
	height:400px;
	line-height: 400px;
}

img#current_photo_image {
	max-width: 620px;
	max-height:400px;
}

img#current_photo_user_post_avatar {
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

.background-gray {
	background-color: #f5f5f5;
}

dt {
	font-size:12px;
}

dd {
	margin-top:4px;
}

#photo_tab_content i.fa {
	font-size:8em;
	margin-top:40px;
}

#photo_tab_content i.fa.fa-angle-right {
	margin-left:30px;
}

.direction-icon {
	height:400px;
	line-height:400px;
}

#photo_list img.photo-image {
	width:160px;
	height:150px;
}

#photo_list {
	margin-top:40px;
	margin-bottom: 40px;
}

#delete_photo_modal .modal-dialog {
	width:350px;
}

#delete_photo_modal .modal-footer {
	margin-top:0px;
}

#delete_photo_modal .modal-body {
	text-align: center;
}

#change_photo_caption_modal label {
    width: 80px;
    margin-top:5px;
}

#change_photo_caption_modal .modal-dialog {
    width: 400px;
}

#change_photo_caption_modal .photo-caption .label {
    height:34px;
    line-height:34px;
}

#change_photo_caption_modal .input-field {
    width: 275px;
}

#change_photo_caption_modal .image-container {
    width: 355px;
    height:250px;
}

#main_section .content {
	margin-bottom:100px;
}