.search-info-bar {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(#f3f3f3,#e5e5e5);
	background: -moz-linear-gradient(#f3f3f3,#e5e5e5);
	background: -o-linear-gradient(#f3f3f3,#e5e5e5);
	background: linear-gradient(#f3f3f3,#e5e5e5);
	background-color: #ececec;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px rgba(0,0,0,0.14);
	overflow: hidden;
	border-left: 1px solid #d4d4d4;
	border-left: 1px solid rgba(0,0,0,0.17);
	border-top: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.17);
	border-left: 1px solid #d4d4d4;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	clear: both;
	color: #333;
	position: relative;
}

#people_search .search-info-bar {
	height: 44px;
	line-height: 44px;
}

#activity_search .search-info-bar,
#location_search .search-info-bar  {
	height: 30px;
	line-height: 30px;
}

#people_search .search-info-bar,
#people_search .search-result {
    margin-left: 50px;
    margin-right:50px
}

.search-scope-item {
  	padding-left:10px;
   	padding-right:10px;
   	border-right: 1px solid #cdcdcd;
   	text-align: center;
    cursor:pointer;
}

.search-scope-item.active,
.search-scope-item:hover {
    background-color: white;
}

#people_search .search-result {
    margin-top:20px;
}

#people_search .people-search-item {
    float:left;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 10px 15px 10px 15px;
    width: 180px;
    margin-right:20px;
    margin-bottom:40px;
}

#people_search .people-search-item a:hover {
    text-decoration: none;
    color: #333;
}

#people_search .people-search-item .user-info {
    margin-top:4px;
}

#people_search .people-search-item .user-picture {
    margin-top:8px;
}

#people_search .people-search-item .user-picture img {
    width:100%;
    height:150px;
    border-radius: 10px;
	border: 1px solid #cacaca;
}

#people_search .people-search-item button.follow-handler-btn {
    width: 100%;
    margin-top:12px;
}

#location_section {
	position: absolute;
	top:56px;
	right:225px;
	z-index:10;
	background-color: white;
	width:450px;
}

#location_search .empty-result,
#location_search .empty-query {
	margin-top:40px;
	width: 300px;
	text-align:center;
}

.location-search-item .location-main-picture img{
    width: 100px;
    height:100px;
   }

.location-search-item {
    margin: 0px 10px 0px 10px;
	border-radius: 6px;
	height: 122px;
}

.location-search-item:hover {
	background-color: #eaeaea;	
}

.location-search-item .item-container {
    position: relative;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.location-search-item .item-container .name {
    font-weight: bold;
    font-size: 15px;
    margin-bottom:6px;
    margin-top:4px;
}

.location-search-item .item-container .address {
    margin-top:2px;
    color:#999;
}

.location-search-item .item-container .additional-info {
    margin-top:8px;
}

.location-search-item .item-container .additional-info .num-activity {
    margin-left: 15px;
}