
#show_feed_btn,
#hide_feed_btn {
    display:none;
}

#activity-logo {
    width:200px; 
    height:160px;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(245, 245, 245);
    border-right: 1px solid rgb(238, 238, 238);
    min-width: 200px;
}

#sidebar_left {
    background-color: #D7D7D7;
    left: 0px;
}

#sidebar_right {
    right: 0px;
    color:#FFFFFF;
}

#content {
    background-color: #F3F3F3;
}

#sidebar_right {
    background-color: #383838;
}

#watchlist_title {
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #B8B8B8;
}

#watchlist_list {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#watchlist_list li {
    margin-top:5px;
    margin-bottom:5px;
}

#watchlist_list > li {
    margin-top:15px;
    margin-bottom:15px;
}

#watchlist_list > li > span {
    font-weight: bold;
    cursor: pointer;
}

#watchlist_list > li > span i.fa-caret-right {
    margin-left: 3px;
}

#watchlist_list > li > ul > li {
    margin-left: 10px;
}

#watchlist_list > li > ul > li.active {
    color: #ED145B;
}
#watchlist_list > li > ul > li > a {
    color: inherit;
}

.watchlist-section h5 {
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.watchlist-section .description {
    margin-bottom: 10px;
    color: #989898;
}

.watchlist-section .description .active {
    color: #ED145B;
}

.watchlist-section .description a {
    color: inherit;
}

/*
 * Watchlist Item
 */
.watchlist-item-container {
    margin-bottom: 20px;
}

.watchlist-item {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    padding: 15px;
}

.watchlist-item-thumbnail {
    margin-bottom: 10px;
}

.watchlist-item-time {
    color: #A5A5A5;
    text-transform: uppercase;
}

.watchlist-item-event {
    color: #464646;
    margin: 5px 0;
}

.watchlist-item-address {
    color: #A5A5A5;
}

.watchlist-item .media-body {
    color: #898989;
    font-size: 13px;
}

.watchlist-item .media-body a {
    font-weight: bold;
    color: inherit;
}

/*
 * Livefeed
 */
#livefeed_title {
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #B8B8B8;
}

#sidebar_right a{
    color:inherit;
    font-weight: bold;
}

#sidebar_right .media .media-body{
    border-bottom:1px solid #B8B8B8;
}

#sidebar_right .media:last-child .media-body{
    border-bottom:none;
}


/*---------------------- FONT DECLARATION ----------------------*/

@font-face {
    font-family: 'latoregular';
    src: url('../prod/fonts/lato-reg-webfont.eot');
    src: url('../prod/fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../prod/fonts/lato-reg-webfont.woff') format('woff'), url('../prod/fonts/lato-reg-webfont.ttf') format('truetype'), url('../prod/fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../prod/fonts/lato-bol-webfont.eot');
    src: url('../prod/fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../prod/fonts/lato-bol-webfont.woff') format('woff'), url('../prod/fonts/lato-bol-webfont.ttf') format('truetype'), url('lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------- GOLBAL SETUP ----------------------*/

/*
body {
    color: #333;
    font-family: "latoregular", Arial, Helvetica, sans-serif;
    line-height: 1.618em;
    min-width: 1172px;  
}

.content {
    margin-top: 50px;
    min-height:1000px;
}*/

/*----------------Implement bordered tabbable----------------*/

.tabbable {
    border-color: #ddd;
    border-style: solid;
    border-width: 0;
    *zoom: 1;
}

.tabbable:before, .tabbable:after {
    display: table;
    line-height: 0;
    content: "";
}

.tabbable:after {
    clear: both;
}

.tabbable > .nav-tabs {
    margin: 0;
}

.tab-content {
    padding: 18px 0 0 0;
    overflow: auto;
    border-color: #ddd;
    border-style: solid;
    border-width: 0;
}

.tabbable-bordered {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tabbable-bordered > .tab-content {
    padding: 20px 20px 10px 20px;
    border-width: 0 1px 1px 1px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/*--------------------Implement bold text--------------------*/
.text-bold{
    font-weight: bold;
}

.ticket-row td{
    vertical-align: middle!important;
}

.response-box-textarea{
    border:none;
    resize: vertical;
}

.response-box-checkbox{
    margin-top: 5px;
    margin-bottom: 0;
}

.media-list hr{
    margin-top: 0;
    margin-bottom: 0;
}

.users-list li{
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.creator-info{
    width: 200px;
}


#watchlist_listing_section .activity-item {
    display: block;
    float: left;
    text-decoration: none;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s; 
    margin-right:15px;
    margin-left:12px;
    margin-bottom:20px;
}

#watchlist_listing_section .activity-item .item-box {
    position: relative;
    width: 250px;
    height:315px;
    background-color: white;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#activity_listing_section .item-box:hover {
    border: 1px solid #fa3f5e;
}

#watchlist_listing_section .activity-item .item-box .activity-image {
    width: 248px;
    height: 170px;
    overflow: hidden;
}

#watchlist_listing_section .activity-item .item-box .activity-date-tag {
    font-family: BentonSans,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #333;
    padding: 5px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(90);
    filter: alpha(opacity = (90));
    white-space: nowrap;
}

#watchlist_listing_section .activity-item .item-box .activity-info {
    padding:15px;
}

#watchlist_listing_section .activity-item .item-box .activity-info .name {
    color: #030303;
    font-size: 18px;
    line-height: 18px;
    font-family: "BentonSans Medium",Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
}

#watchlist_listing_section .activity-item .item-box .activity-info .place {
    color: #8f8f8f;
    font-size: 14px;
    line-height: 14px;
    font-family: BentonSans,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 8px;
}

#watchlist_listing_section .activity-item .item-box .activity-info .timezone {
    margin-top:8px;
    color: #8f8f8f;
    font-size:13px;
    font-family: BentonSans,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
}

#watchlist_listing_section .activity-item .item-box .more-detail-info {
    border-top: 1px solid #EBEBEB;
    height: 45px;
    line-height:45px;
    font-family: BentonSans,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #808080;
}

#watchlist_listing_section .activity-item .item-box .more-detail-info .num-people-going {
    margin-left:15px;
}

#watchlist_listing_section .activity-item .item-box .more-detail-info .num-watchers {
    margin-right:15px;
}

#watchlist_listing_section .activity-item .created-time {
    font-family: BentonSans,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #8f8f8f;
    margin-top: 3px;
    height: 18px;
}


li.activity-item time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 35px auto;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

li.activity-item time.icon.have-watching-box {
    margin-top:50px;
}

li.activity-item time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

li.activity-item time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fa3f5e;
    box-shadow: 0 2px #fa3f5e;
}

li.activity-item time.icon em {
    position: absolute;
    bottom: 10px;
    color: #fa3f5e;
}

li.activity-item time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}
