{% extends "base.html" %}
{% load i18n %}
{% block title %}
	<title> {{SITE_NAME_INITIAL_CAPITAL}} - {% trans "Watchlist" %} </title>
{% endblock %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/watchlist.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/watchlist.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="content container-fluid">
        <div class="row">

        	{% block left_sidebar %} {% endblock %}

        	{% block display_content %} {% endblock %}

        	{% block right_sidebar %} {% endblock %}
           
        </div>
    </div><!--end Content-->
{% endblock %}

{% block footer_internal_scripts %}

    {% if stage == "dev" %}
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/watchlist/ajax.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/watchlist/function.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/watchlist/main.js"></script>
    {% else %}
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/watchlist/prod/frittie.script.app.min.js"></script> 
    {% endif %}

{% endblock %}
