<li class="conversation-item row pointer-cursor" onclick="window.location.href='/messages/{{conversation.unique_id}}/'">
	<input type="hidden" class='conversation-id' value='{{conversation.unique_id}}' />
	{% if conversation.user1.username != user_login.username %}
		{% with to_user=conversation.user1 %}
			<div class="user-avatar pull-left">
				<img src="{{to_user.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
			</div>
			<div class="conversation-details pull-left">
				<div class="conversation-with">
					<span class="bold">{{to_user.get_profile.get_user_fullname}}</span>
				</div>
				<div class="conversation-content">
					{{conversation.latest_message.content|safe}}
				</div>
			</div>
		{% endwith %}
	{% else %}
		{% with to_user=conversation.user2 %}
			<div class="user-avatar pull-left">
				<img src="{{to_user.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
			</div>
			<div class="conversation-details pull-left">
				<div class="conversation-with">
					<span class="bold">{{to_user.get_profile.get_user_fullname}}</span>
				</div>
				<div class="conversation-content">
					{% if conversation.latest_message.user_send.username == user_login.username %}
						<span class="replied-indicator"></span>
					{% endif %}
					{{conversation.latest_message.content|safe}}
				</div>
			</div>
		{% endwith %}
	{% endif %}
	<div class="conversation-date pull-right">
		{{conversation.latest_message.date}}
	</div>
</li>