<li class="message-item row" >
	<div class="user-avatar pull-left">
		<img src="{{message.user_send.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
	</div>
	<div class="message-details pull-left">
		<div class="message-to">
			<a href="/{{message.user_send.username}}/">
				<span class="bold">{{message.user_send.get_profile.get_user_fullname}}</span>
			</a>
		</div>
		<div class="message-content">
			{{message.content|safe}}
		</div>
	</div>
	<div class="message-date pull-right">
		{{message.date}}
	</div>
</li>