{% load i18n %}
<div class="modal fade" id="edit_location_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            {% if edit_location_form.is_multipart %}
            <form id="edit_location_form" enctype="multipart/form-data" method="post" action="/location/{{location.unique_id}}/edit/" novalidate>
            {% else %}
            <form id="edit_location_form" method="post" action="/location/{{location.unique_id}}/edit/" novalidate>
            {% endif %}

            {% csrf_token %}

				<input type="hidden" id="is_edit_location_form_clicked" class="check-form-clicked" value="false" />
				<input type="hidden" id="edit_location_lat" name="lat" value="{{location.lat}}"/>
				<input type="hidden" id="edit_location_lng" name="lng" value="{{location.lng}}"/>

            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                	<h4 class="modal-title">{% trans "Edit Your Location" %}</h4>
            	</div>
				
				<div class="modal-body">
					<div class="error-notice row hide">
	                    <span>
	                    	{% trans "There are error occured in the form. Plese complete the form correctly" %}
	                    </span>
	                </div>
					<div class="row">
						<div class="col-md-7">
							<div class="location-name row location-data">
								<fieldset>
									<div class="row">
			                          	<label class="pull-left">
				                          	{% trans "Name" %} *                     
				                        </label>
				                   		<div class="error-field required hide">
				                            {% trans "Please fill out the location name" %}
				                       	</div>
			                        </div>
			                        <div class="input-field row">
			                            {{edit_location_form.name}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-category row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						           	        {% trans "Category" %} *                      
						                </label>
						                <div class="error-field required hide">
						                    {% trans "Please fill out the category" %}
					                    </div>
				                    </div>
				                    <div class="input-field row">
					                    {{edit_location_form.category}}
					                </div>
					            </fieldset>
				            </div>

		                    <div class="location-description row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            {% trans "Description" %} *                      
				                        </label>
				                        <div class="error-field required hide">
				                            {% trans "Please fill out the place description" %} 
				                        </div>
			                        </div>
			                        <div class="input-field row">
			                            {{edit_location_form.description}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-address1 row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            {% trans "Address Line" %} 1 *                      
				                        </label>
				                        <div class="error-field required hide">
				                            {% trans "Please fill out the address" %}
				                        </div>
			                        </div>
			                       	<div class="input-field row">
			                            {{edit_location_form.address1}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-address1 row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            {% trans "Address Line" %} 2                  
				                        </label>
			                        </div>
			                       	<div class="input-field row">
			                            {{edit_location_form.address2}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="row">
		                    	<div class="location-city location-data">
									<fieldset>
				                      	<div class="row">
				                            <label class="pull-left">
					                             {% trans "City" %} *                      
					                        </label>
					                        <div class="error-field required hide">
					                            {% trans "Please fill out the city" %}
					                        </div>
				                        </div>
				                        <div class="input-field row">
				                            {{edit_location_form.city}}
				                        </div>
				                    </fieldset>
			                    </div>

			                    <div class="location-state location-data pull-right hide">
									<fieldset>
				                        <div class="row">
				                            <label class="pull-left">
					                            {% trans "State" %} *                      
					                        </label>
					                        <div class="error-field required hide">
					                            {% trans "Please fill out the state" %}
					                        </div>
				                        </div>
				                        <div class="input-field row">
				                            {{edit_location_form.state}}
				                        </div>
				                    </fieldset>
			                    </div>
		                    </div>
		                   	

		                    <div class="row">
		                    	<div class="location-country location-data pull-left">
									<fieldset>
					                    <div class="row">
					                        <label class="pull-left">
						                        {% trans "Country" %} *                      
						                    </label>
						                    <div class="error-field required hide">
						                        {% trans "Please fill out the country" %}
						                    </div>
					                    </div>
				                        <div class="input-field row">
				                            {{edit_location_form.country}}
				                        </div>
				                    </fieldset>
				                </div>
		                    	<div class="location-zipcode location-data pull-right">
									<fieldset>
					                    <div class="row">
					                        <label class="pull-left">
						                        {% trans "Zip code" %} *                      
						                    </label>
						                    <div class="error-field required hide">
						                        {% trans "Please fill out zip code" %}
						                    </div>
					                    </div>
					                    <div class="input-field row">
					                       	{{edit_location_form.zip_code}}
					                    </div>
					                </fieldset>
				                </div>
		                    </div>

						</div>
						<div class="col-md-5">
							<div class="panel panel-primary row map-panel" >
								<div class="panel-heading">
									<small>{% trans "Move the map pin if needed" %}</small>
								</div>
								<div class="panel-body">
									<div id="edit_location_map_canvas"></div>
								</div>
							</div>
							
				            <div class="location-website row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						                    {% trans "Website" %}                     
						                </label>
						                <div class="error-field valid-url hide">
						                    {% trans "Please enter a correct url" %}
					                    </div>
				                    </div>
				                    <div class="input-field row">
					                    {{edit_location_form.website}}
					                </div>
					            </fieldset>
				            </div>
				            <div class="location-phone row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						                    Phone                    
						                </label>
						                <div class="error-field valid-phone-number hide">
					                        {% trans "Please enter a correct phone input" %}
					                    </div>
				                    </div>
				                    <div class="input-field row">
				                    	{{edit_location_form.phone}}
					                </div>
					            </fieldset>
				            </div>
				            <div class="location-picture row location-data">
								<fieldset>
									<div class="error-field image-size hide">
	                                    {% trans "File over 5mb" %}
	                                </div>
					                <div class="row">
					                    <label class="pull-left">
						                   	{% trans "Picture" %} *                  
						                </label>
				                    </div>
				                    <div class="input-field row">
					                    <input type="file" id="main_picture" name="main_picture">
					                    <div class="image-container medium-margin-top">
	                                        <img src="{{location.main_picture.image.url}}" id="display_edit_location_main_picture" class="crop-image"/>
	                                    </div>
					                </div>
					            </fieldset>
				            </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Cancel" %}</button>
                	<button type="submit" id="edit_location_btn" class="btn btn-primary prevent-default btn-sm">{% trans "Update" %}</button>
				</div>
			</form>
		</div>
	</div>
</div>
