{% extends "apps/feed/feed_base.html" %} 
{% load i18n %}
{% block left_section %}
	<div class="notification-link medium-margin-top">
		<a href="{% url 'notification_main' %}" class="bold medium-text link-color">
			{% trans "Notifications" %}
		</a>
	</div>
	<div class="feed-link small-margin-top">
		<span class="bold medium-text">Feeds</span> 
	</div>
	<div class="message-link small-margin-top">
		<a href="{% url 'message_main' %}" class="bold medium-text link-color">
			{% trans "Messages" %}
		</a> 
	</div>
{% endblock %}

{% block right_section %}
		<div class="header-section">
			<span class="bold medium-text">{% trans "Feeds" %}</span>
		</div>

		{% if is_no_feed %}

			<div id="no_feed">
				<span>{% trans "You currently have no feed" %}</span>
			</div>

		{% else %}

			<div class="body-content ">
				<ul id="feed_list">
					{% for feed in feeds %}
						<li class="feed-item row">
							<div class="user-avatar pull-left">
								<img src="{{feed.create_by.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
							</div>
							<div class="feed-details pull-left">
								<div class="feed-content">
									{{feed.content}}
								</div>
								<div class="feed-date">
									{{feed.date}}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>

		{% endif %}
{% endblock %}

