{% extends "apps/feed/feed_base.html" %}


	{% block title %}	 

    <title>Pubnub - Demo</title>
    {% endblock %}

	{% block main_section %}	 

	<div id=pubnub ssl= "on"></div>

    {% endblock %}

    {% block footer_script %}
    
     <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
     <script type="text/javascript">

      var originalstories = '{{feed_stories_js|safe}}';
      var originalpictures = '{{feed_pictures_url|safe}}'
      originalstories = JSON.parse(originalstories);
      originalpictures = JSON.parse(originalpictures);
      //friends  = JSON.parse(friends);
      var friends_js = '{{friends_js|safe}}';

      friends_js = JSON.parse(friends_js)
      var i = 0 ;
      var pusher = new Pusher('14cb2b132219c62ebc94');
      var channel = pusher.subscribe('test_channel');
      var count = 0;
      var newfeed =[]; // hold content of feed story
      var hubpictures =[]; // hold picture of feed story
      var image_url ;

     

      function check_matching_delivery(y)
      {
          
          for (var j=0;j<friends_js.length;j++)
          {
            //document.write(friends_js[j].username);
            if (friends_js[j].username == y)
              return "1";
          }
          return "0";
      }
      //begin subscribe from here
      channel.bind('my_event', function(data) {
     
      
      
      //check_matching to be delivery
      if ( check_matching_delivery(data.message.create_by) == "1" )
      {
      console.log("count");
      console.log(count);

      count = count + 1 ;
      console.log("testts");
     
      console.log(data.message.content);
      console.log(data.message.create_by);
      console.log(data.message.time);
      console.log(data.message.photo_id);
      console.log(data.message.feed_id);
      Dajaxice.frittie.apps.feed.save_feed_story(Dajax.process,{ 'content' : data.message.content, 'create_by':data.message.create_by, 'time':data.message.time ,'photo_id':data.message.photo_id,'feed_id':data.message.feed_id});
     
    
       
      var tmp = newfeed ;
      newfeed = [ data.message];
      
      

      for (var j=0;j<tmp.length;j++)
        {
          newfeed.push(tmp[j]);
         
        }

      console.log("test hubpictures");
      for (var j=0;j<hubpictures.length;j++)
        {
          //console.log(j);
          console.log(hubpictures[j]);
         
        }
        
      } 



       for (var i=0; i < count; i++)
       {
         var id_creator = "#"+i+"_creator";
         var id_content = "#"+i+"_content";
         var id_picture = "#"+i+"_picture";
         console.log($(id_creator)[0]);
         console.log($(id_content)[0]);
         console.log($(id_picture)[0]);
         $(id_creator)[0].innerHTML = newfeed[i].create_by ;
       
         $(id_content)[0].innerHTML = newfeed[i].content ; 
      
         $(id_picture)[0].src = newfeed[i].photo_url;
       }
       for (var i=count;i<originalstories.length+ count  ;i++)
       { 
         console.log(i);
         var id_creator = "#"+i+"_creator";
         var id_content = "#"+i+"_content";
         var id_picture = "#"+i+"_picture";
         console.log($(id_creator)[0]);
         console.log($(id_content)[0]);
         console.log($(id_picture)[0]);
         $(id_creator)[0].innerHTML = originalstories[i-count].create_by ;
         $(id_content)[0].innerHTML = originalstories[i-count].content ; 
         $(id_picture)[0].src = originalpictures[i-count];
     
        }
      
    });



  </script>

  <div class= "feed" >
    {% for story in feed_stories_html %} 
       <div class = "row feature-item" >
        <div class="left-column pull-left">
         <div class="row small-margin-top">
          <img class="right-column pull-left" id= "{{id}}_picture"  src="http://127.0.0.1:8000/media/uploads/img/share/Nobita.jpg" height="5px" width="40px" >
         </div>
        
         </div>
        

        <div class="right-column pull-left"> 
           <div class="row head mini-margin-top">
         <div id= "{{story.id}}_creator" color="red"  /> 
         {{story.create_by}} 
         </div>
         </div>

          <div class="row "> 
          <div class="" id= "{{story.id}}_content" />{{story.content}}</div>
          </div>
          <div class="row ">
          <img class="right-column pull-left" id= "{{story.id}}_picture"  src="{{story.photo_url}}" width="70px" >
          </div>
        </div>
    </div>



      <br>
    {% endfor %}

    {% for id in numbers_of_feed %} 

    <div class = "row feature-item" >
        <div class="left-column pull-left">
         <div class="row small-margin-top">
          <img class="right-column pull-left" id= "{{id}}_picture"  src="" width="30px" >
         </div>
        
         </div>
         </div>
        

        <div class="right-column pull-left"> 
          <div class="row top ">
          <div id= "{{id}}_creator" /> 
          </div>   
          <div class="row small-margin-top"> 
          <div class="" id= "{{id}}_content" /></div>
          </div>
          <div class="row mini-margin-top">
          <img class="right-column pull-left" id= "{{id}}_picture"  src="http://127.0.0.1:8000/media/uploads/img/share/Nobita.jpg" height="5px" width="40px" >
          </div>
        </div>
    </div>
      <br>
    {% endfor %}
     
  </div>
    {% endblock %}
  
