{% load i18n %}<li class="comment-item" data-unique-id="{{comment.unique_id}}">
    <div class="author-image">
        <a href="/people/{{comment.user.username}}">
            <img src="{{comment.user.get_profile.avatar.image.url}}" alt="{{comment.user.first_name}}" class="avatar " title="{{comment.user.first_name}}">
        </a>
    </div>
    <div class="comment-contents">
        <p class="comment-text">{{comment.content}}</p>
        <div class="comment-info">
            <span class="username">
                <a href="/people/{{comment.user.username}}">{{comment.user.first_name}}</a>
            </span> · 
            {% if comment.edit_date %}
                <span class="comment-date">
                    {% trans "Edited at" %} {{comment.edit_date}}
                </span>
            {% else %}
                <span class="comment-date">
                    {{comment.create_date}}
                </span>
            {% endif %}
        </div>

        <div class="action-buttons">
            {% if comment.user.username == user_login.username %}
                <div class="edit-comment-button" onclick="initEditComment(this)">
                    <span>{% trans "Edit" %}</span>
                </div>
                <div class="delete-comment-button" data-toggle="modal" data-target="#delete_comment_modal" onclick="initDeleteComment(this)">
                    <span>{% trans "Delete" %}</span>
                </div>
            {% else %}
                <div class="report-comment-button" data-toggle="modal" data-target="#report_comment_modal">
                    <span>{% trans "Report" %}</span>
                </div>
            {% endif %}
        </div>
    </div>
</li>