{% load i18n %}{% if activity.is_attendable %} <div class="pull-left">
        <button class="btn btn-default btn-sm mini-margin-right" id="request_join_btn" value="request_join" onclick='showActivityRequestModal()'>
            <i class="glyphicon glyphicon-plus "></i>&nbsp;&nbsp;{% trans "Request to Join" %}
        </button>
    </div>
{% else %}
    <div class="pull-left" id="disable_request_join_btn" data-toggle="tooltip" data-placement="left" title="The numbe of this activity's attendant already reach limit. Please contact the host for more information">
        <button class="btn btn-default btn-sm mini-margin-right" disabled="disabled" >
            <i class="glyphicon glyphicon-plus "></i>&nbsp;&nbsp;{% trans "Request to Join" %}
        </button>
    </div>
{% endif %}