{% if user.get_profile.privacy_status == "1" %}<li class="user">
    <a href="/people/{{user.username}}">
        <img src="{{user.get_profile.avatar.image.url}}" width="50" height="50" alt="" title="{{user.get_profile.get_user_fullname}}"/>
    </a>
</li>
{% else %}
<li class="user">
    <a>
        <img src="{{STATIC_URL}}img/apps/member/male_icon.png" width="50" height="50" alt="" title="Anonymous User"/>
    </a>
</li>
{% endif %}