{% load frittie_main %}
{% load set_var %}
{% load thumbnail %}
{% load i18n %}

{% for activity in activities %}
	{% if forloop.counter <= 16 %}
		<li class="activities-list-item activity-item col-xs-12 col-sm-6 col-md-4 col-lg-3" data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}" onclick="showPreviewActivity('{{activity.unique_id}}')">
			<div class="thumbnail">
				{% if user_login %}
					{% if activity.user_create.username != user_login.username %}
						{% if activity in user_login.get_profile.watchlist.all %}
							<div class="watchlist-box watching">
								<i class="fa fa-check"></i> {% trans "Watching" %}
							</div>
						{% endif %}
					{% endif %}
				{% endif %}
				<div class="thumbnail-image">
					{% thumbnail activity.logo.image '274x170' crop='center' as im %}
						<img src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'>
					{% endthumbnail %}
				</div>
				<div class="date btn btn-default">
					{{activity.start_time|display_month}} {{activity.start_time.day}}
				</div>
				<div class="caption">
					<h4 class="activities-list-item-title">{{activity.name|words_first_char_upper}}</h4>
					<small class="activities-list-item-location text-muted pull-left">
						{% if is_location_model %}
							{{location_object.city}},
							{% if location_object.state %}
								{{location_object.state}}
							{% else %}
								{{location_object.country}}
							{% endif %}
						{% else %}
							{{activity.location}}
						{% endif %}
					</small>
					<small class="activities-list-item-timestamp text-muted pull-right">
						{% trans "Added " %} {{activity.create_time|display_elapse_time}}
					</small>
					<div class="clearfix"></div>
				</div>
				<div class="activities-list-item-people-info clearfix">
					<div class="navbar-left">
						<div class="navbar-text">
							<span class="fa fa-users"></span>
							{{activity.get_total_people_going}} {% trans " people going" %}
						</div>
					</div>
					<div class="navbar-right">
						<div class="navbar-text">
							{{activity.get_watchers|length}} {% trans " watchers" %}
						</div>
					</div>
				</div>
			</div>
		</li>
	{% endif %}
	</div>
{% endfor %}
