{% load frittie_main %}

{% load thumbnail %}
{% load i18n %}

{% for location in locations %}
	{% if forloop.counter <= 20 %}
	<li class="location-item col-xs-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='/location/{{location.unique_id}}'">
		<div class="item-box">
			{% if user_login %}
				{% if location.create_by.username != user_login.username %}
					{% if user_login in location.follow_by.all %}
						<div class="follow-box following">
							<i class="glyphicon glyphicon-ok"></i> Following
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
			<div class="thumbnail-image">
				{% thumbnail location.main_picture.image "248x170" crop='center' as im %}
					<img src="{{im.url}}" width='{{im.width}}' heigh='{{im.height}}'/>
				{% endthumbnail %}
			</div>

			<div class="location-info row">
				<div class="name add-dot" data-html-maxlength="20">
					{{location.name|words_first_char_upper}}
				</div>
				<div class="category">
					<span>{{location.get_category}}</span>
				</div>
			</div>
			<div class="more-detail-info row">
			   	<div class="num-followers pull-left">{{location.follow_by.all|length}} {% trans "followers" %}</div>
				<div class="num-activities pull-right">
				{% with activities_of_location=location.get_all_activities %}
					{% if activities_of_location %}
						{{activities_of_location|length}} {% trans "activities" %}
					{% else %}
						0 {% trans "activity" %}
					{% endif %}
				{% endwith %}
				</div>
			</div>

		</div>
	</li>
	{% endif %}
{% endfor %}