<div class="modal fade" id="add_photo_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="add_photo_form" enctype="multipart/form-data" method="post" action="/photo/add/" novalidate>
            {% csrf_token %}

                <input type="hidden" name="photo_type" value="" />
                <input type="hidden" name="callback_url" value="" />
                <input type="hidden" name="success_url" value="" />
                <input type="hidden" name="unique_id" value="" />
 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add New Photo</h4>
                </div>
      
                <div class="modal-body">
                
                    <div class="wrapper">
                        <div class="photo-caption row photo-data medium-margin-bottom">
                            <fieldset>
                                <label class="pull-left">
                                    Caption              
                                </label>
                                <div class="input-field pull-left">
                                    <input type="text" name="caption" id="photo_caption" class="form-control"/>
                                </div>
                            </fieldset>
                        </div>
                    
                        <div class="photo-image row photo-data">
                            <fieldset>
                                <div class="error-field image-size hide">
                                    File over 5mb
                                </div>
                                <div class="error-field required hide">
                                    Please select the photo image
                                </div>
                                <label class="pull-left">
                                    Image                     
                                </label>
                                <div class="input-field pull-left" id="activity_photo_file">
                                    <input type="file" name="image" id="add_photo_image"/>
                                    <div id="add_photo_upload_area">
                                       Drag or Click to upload file
                                    </div>
                                    <div id="add_photo_thumbnail"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>        
                    <button class="btn btn-primary btn-sm" id="submit_photo_form_btn" >Submit</button>
                </div>
            </form> 

        </div>
    </div>
</div>