<div class="modal hide fade" style="overflow: auto; width : 500px; height : 300px;" id="view_all_people_going_modal">

<h3>All people are going</h3>

<div class="">
    <h4>Going</h4>
        <div class='member-data'>
            <ul>
                
                {% for request in activity.activity_request.all %}
                    {% if request.request_status == "1" %}
                        <div class = "user-joined">
                    
                            <a href="/{{request.user_request.username}}">
                                <img src='{{request.user_request.get_profile.get_avatar}}' width=50 height=50 title="{{request.user_request.username}}">
                            </a> 
                    
                        </div>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
</div>
</div>