<div class="modal fade" id="cancel_request_join_activity_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cancel your request</h4>
      </div>
      <div class="modal-body">
         Are you sure that you want to cancel your request?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" id="cancel_request_join_activity_btn" class="btn btn-danger btn-sm" data-dismiss="modal">Yes, cancel it</button>
      </div>
    </div>
  </div>
</div>