<div class="modal fade clear-modal-error" id="cancel_attending_activity_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cancel your attending</h4>
      </div>
      <div class="modal-body">
        <p class="medium-text">
         Please tell us the reason why you want to cancel your attending
        </p>
        <textarea id="cancel_reason_textarea" class="medium-margin-top form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" id="cancel_attending_activity_btn" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>
  </div>
</div>