<div class="modal fade" id="create_location_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="create_location_form" enctype="multipart/form-data" method="post" action="{% url 'create_location' %}" novalidate>{% csrf_token %}

				<input type="hidden" id="is_create_location_form_clicked" class='check-form-clicked' value="false" />
				<input type="hidden" id="create_location_lat" name="lat" value=""/>
				<input type="hidden" id="create_location_lng" name="lng" value=""/>
				<input type='hidden' class='is-google-place' name='is_google_place' value='false'/>
				<input type='hidden' class='google-place-id' name='google_place_id'/>
				<input type='hidden' class='google-place-address' name='google_place_address'/>

            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                	<h4 class="modal-title">Create Your Location</h4>
            	</div>
				
				<div class="modal-body">
					<div class="error-notice row hide">
	                    <span>
	                    	There are error occured in the form. Plese complete the form correctly
	                    </span>
	                </div>
	                <div class='location-exist-error row hide'>
	                	<span class='error-color bold'>Note:</span>
	                	<span class='bold'>
	                		This place already existed. You can visit it <a id="exist_location_link" class='link-color'>here</a>. If you think this location is wrong, please send us a report
	                	</span>
	                </div>
					<div class="row">
						<div class="col-md-7">
							<div class="location-name row location-data">
								<fieldset>
									<div class="row">
			                          	<label class="pull-left">
				                          	Name *                     
				                        </label>
				                   		<div class="error-field required hide">
				                            Please fill out the location name
				                       	</div>
			                        </div>
			                        <div class="input-field row">
			                            {{create_location_form.name}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-category row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						           	        Category *                      
						                </label>
				                    </div>
				                    <div class="input-field row">
					                    {{create_location_form.category}}
					                </div>
					            </fieldset>
				            </div>

		                    <div class="location-description row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            Description *                      
				                        </label>
				                        <div class="error-field required hide">
				                            Please fill out the place description 
				                        </div>
			                        </div>
			                        <div class="input-field row">
			                            {{create_location_form.description}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-address1 row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            Address Line 1 *                      
				                        </label>
				                        <div class="error-field required hide">
				                            Please fill out the address
				                        </div>
			                        </div>
			                       	<div class="input-field row">
			                            {{create_location_form.address1}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="location-address1 row location-data">
								<fieldset>
			                        <div class="row">
			                            <label class="pull-left">
				                            Address Line 2                  
				                        </label>
			                        </div>
			                       	<div class="input-field row">
			                            {{create_location_form.address2}}
			                        </div>
			                    </fieldset>
		                    </div>

		                    <div class="row">
		                    	<div class="location-city location-data">
									<fieldset>
				                      	<div class="row">
				                            <label class="pull-left">
					                             City *                      
					                        </label>
					                        <div class="error-field required hide">
					                            Please fill out the city
					                        </div>
				                        </div>
				                        <div class="input-field row">
				                            {{create_location_form.city}}
				                        </div>
				                    </fieldset>
			                    </div>

			                    <div class="location-state location-data pull-right hide">
									<fieldset>
				                        <div class="row">
				                            <label class="pull-left">
					                            State *                      
					                        </label>
					                        <div class="error-field required hide">
					                            Please fill out the state
					                        </div>
				                        </div>
				                        <div class="input-field row">
				                            {{create_location_form.state}}
				                        </div>
				                    </fieldset>
			                    </div>
		                    </div>
		                   	

		                    <div class="row">
		                    	<div class="location-country location-data pull-left">
									<fieldset>
					                    <div class="row">
					                        <label class="pull-left">
						                        Country *                      
						                    </label>
						                    <div class="error-field required hide">
						                        Please fill out the country
						                    </div>
					                    </div>
				                        <div class="input-field row">
				                            {{create_location_form.country}}
				                        </div>
				                    </fieldset>
				                </div>
		                    	<div class="location-zipcode location-data pull-right">
									<fieldset>
					                    <div class="row">
					                        <label class="pull-left">
						                        Zip code *                      
						                    </label>
						                    <div class="error-field numeric hide">
						                        Please enter a numeric value
						                    </div>
						                    <div class="error-field required hide">
						                        Please fill out zip code
						                    </div>
					                    </div>
					                    <div class="input-field row">
					                       	{{create_location_form.zip_code}}
					                    </div>
					                </fieldset>
				                </div>
		                    </div>

						</div>
						<div class="col-md-5">
							<div class="panel panel-primary row map-panel" >
								<div class="panel-heading">
									<small>Move the map pin if needed</small>
								</div>
								<div class="panel-body">
									<div id="create_location_map_canvas"></div>
								</div>
							</div>
							
				            <div class="location-website row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						                    Website (http://www.example.com)                     
						                </label>
						                <div class="error-field valid-url hide">
						                    Please enter correct url
					                    </div>
				                    </div>
				                    <div class="input-field row">
					                    {{create_location_form.website}}
					                </div>
					            </fieldset>
				            </div>
				            <div class="location-phone row location-data">
								<fieldset>
					                <div class="row">
					                    <label class="pull-left">
						                    Phone                    
						                </label>
						                <div class="error-field valid-phone-number hide">
					                        Please enter a correct phone input
					                    </div>
				                    </div>
				                    <div class="input-field row">
				                    	{{create_location_form.phone}}
					                </div>
					            </fieldset>
				            </div>
				            <div class="location-picture row location-data">
								<fieldset>
									<div class="error-field image-size hide">
	                                    File over 5mb
	                                </div>
					                <div class="row">
					                    <label class="pull-left">
						                   	Picture                 
						                </label>
				                    </div>
				                    <div class="input-field row">
					                    <input type="file" id="main_picture" name="main_picture">
					                    <div class="image-container medium-margin-top hide">
	                                        <img src="#" id="display_location_main_picture" class="crop-image"/>
	                                    </div>
					                </div>
					            </fieldset>
				            </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                	<button type="submit" id="create_location_btn" class="btn btn-primary prevent-default btn-sm">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>
