<div class="modal fade" id="create_activity_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="create_activity_form" method="post" action="{% url 'create_activity' %}" novalidate>
            {% csrf_token %}

            <input type="hidden" id="is_create_activity_form_clicked" value="false" />

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Your Activity</h4>
            </div>
      
            <div class="modal-body">

                <div class="error-notice hide">
                    <span>There are error occured in the form. Plese complete the form correctly</span>
                </div>
                
                <div class="panel-group" id="create_activity_panel_group">

                    <div class="panel panel-default form-group">
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="activity-name row activity-data">
                                    <fieldset>
                                        <div class="error-field required hide">
                                            Please fill out the activity name 
                                        </div>
                                        <label class="pull-left">
                                            Name *                      
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.name}}
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-description row activity-data hide">
                                    <fieldset>
                                        <label class="pull-left">
                                            Brief Info *                      
                                        </label>
                                        <div class="input-field pull-left">
                                            <div class="error-field required hide">
                                                Please fill out the description for your activity
                                            </div>
                                            {{create_activity_form.description}}
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-location row activity-data">
                                    <fieldset>
                                        <div class="error-field required hide">
                                            Please fill out the place for your activity
                                        </div>
                                        <div class="error-field unique-id-correct hide">
                                            Please choose the correct place for your activity
                                        </div>
                                        <label class="pull-left">
                                            Place *                      
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.activity_place}}
                                            <input type="hidden" class="location-unique-id" name="location_unique_id" value="" />
                                            <input type='hidden' class='is-google-place' name='is_google_place'/>
                                            <input type='hidden' class='google-place-id' name='google_place_id'/>
                                            <input type='hidden' class='google-place-address' name='google_place_address'/>
                                            <input type='hidden' class='google-place-city' name='google_place_city'/>
                                            <input type='hidden' class='google-place-country' name='google_place_country'/>
                                            <input type='hidden' class='google-place-state' name='google_place_state'/>
                                            <input type='hidden' class='google-place-zipcode' name='google_place_zipcode'/>
                                            <input type='hidden' class='google-place-lat' name='google_place_lat'/>
                                            <input type='hidden' class='google-place-lng' name='google_place_lng'/>
                                            
                                            <div id='create_activity_map_canvas'></div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-start-time row activity-data">
                                    <fieldset>
                                        <div class="error-field required hide">
                                            Please fill out the start time for your activity
                                        </div>
                                        <label class="pull-left">
                                            When *                     
                                        </label>
                                        <div class="input-field pull-left">
                                            <input type="text" class="form-control datepicker-field" name="start_date" id="start_date" placeholder="Start date" required="required"/>
                                            <div class="bfh-timepicker pull-left" data-mode="12h" data-time="now" id="start_time" data-name="start_time"></div>
                                            <a href="#" class="link-color pull-left" id="show_end_time_link">End time?</a>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-end-time row activity-data hide">
                                    <fieldset class="optional">
                                        <div class="error-field required hide">
                                            Please fill out the end time for your activity
                                        </div>
                                        <label class="pull-left">
                                            To                     
                                        </label>
                                        <div class="input-field pull-left">
                                            <input type="text" class="form-control datepicker-field" name="end_date" id="end_date" placeholder="End date" required="required"/>
                                            <div class="bfh-timepicker pull-left" data-mode="12h" data-time="now" id="end_time" data-name="end_time"></div>
                                            <span class="glyphicon glyphicon-remove" id="remove_end_time_btn"></span>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-category row activity-data">
                                    <fieldset>
                                        <label class="pull-left">
                                            Category *       
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.category}}
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-limit row activity-data">
                                    <fieldset>
                                        <div class="error-field numeric hide">
                                            Please enter a numeric value
                                        </div>
                                        <div class="error-field required hide">
                                            Please enter number of people allowed to attend your activity
                                        </div>
                                        <label class="pull-left">
                                            Limit Guest *       
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.limit}}
                                            <div class="pull-right small-margin-top">
                                                <input type="checkbox" id="unlimited_people_checkbox" class="pull-left" name="is_unlimited" checked/>
                                                <span class="mini-margin-left">Unlimited</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-ticket-type row activity-data">
                                    <fieldset>
                                        <label class="pull-left">
                                            Type *                      
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.activity_type}}
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="activity-privacy row activity-data">
                                    <fieldset>
                                        <label class="pull-left">
                                            Privacy *     
                                        </label>
                                        <div class="input-field pull-left">
                                            {{create_activity_form.privacy}}
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <button type="submit" id="create_activity_btn" class="btn btn-primary prevent-default btn-sm">Create</button>
            </div>

            </form> 

        </div>
    </div>
</div>