{% load frittie_main %} 
{% load thumbnail %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">

            <input type="hidden" id="activity_unique_id" />

            <div class="col-md-6 col-sm-6 activity-preview-photo-container">
                <div class="con">
                    {% thumbnail activity.logo.image '429' crop='center' as im %}
                        <img src="{{im.url}}" width='{{im.width}}' height='{{im.height}}' />
                    {% endthumbnail %}
                </div>
            </div>
            <div class="col-md-6 col-sm-6 activity-preview-details-container">
                <div class="activity-preview-details">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_preview_activity_modal_btn">
                        <i class="fa fa-times fa-1"></i>
                    </button>

                    <h5 class="text-uppercase">{{activity.get_category}}</h5>
                    <a href="/activity/{{activity.unique_id}}">
                        <h4 class="text-uppercase text-bold">{{activity.name}}</h4>
                    </a>
                    <h5>By <a href="/people/{{activity.user_create.username}}" class="text-pink text-bold">{{activity.user_create.get_profile.get_user_fullname}}</a></h5>
                    <hr />
                    <ul class="media-list">
                        <li class="media">
                            <a href="" class="pull-left">
                                <div class='sprite-description media-object'></div>
                            </a>
                            <div class="media-body">
                                {{activity.description|safe}}
                            </div>
                        </li>
                        <hr />
                        <li class="media">
                            <a href="" class="pull-left"> 
                                <div class='sprite-time media-object'></div>
                            </a>
                            <div class="media-body">
                                <ul class="list-unstyled">
                                    <li>
                                        {% if activity.start_time|istoday %}
                                            TODAY at {{ activity.start_time|ampm }}
                                        {% elif activity.start_time|istomorrow %}
                                            TOMORROW at {{ activity.start_time|ampm }}
                                        {% else %}
                                            {{activity.start_time|date}} 
                                        {% endif %}
                                    </li>
                                    <li>
                                        Starting Time: {{activity.start_time.time}}
                                    </li>
                                    <li>
                                        {% if activity.end_time %}
                                            Ending Time: {{activity.end_time.time}}
                                        {% else %}
                                            Ending Time: Unspecified
                                        {% endif %}
                                    </li>
                                    <li>
                                        Available Spot: 
                                        {% if activity.limit == -1 %}
                                            Unlimited
                                        {% else %}
                                            {{activity.get_available_spot}} / {{activity.limit}}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <hr />

                        <li class="media">
                            <a href="" class="pull-left">
                                <div class='sprite-tag media-object'></div>
                            </a>
                            <div class="media-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="large-margin-right pull-left num-watcher">
                                            {{activity.get_watchers|length}} watchers
                                        </div>
                                        <div class="pull-left">
                                            {{activity.get_total_people_going}} people going
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <hr />
                        <li class="media">
                            <a href="" class="pull-left">
                                <div class='sprite-location media-object'></div>
                            </a>
                            {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
                            <input type='hidden' class='is-location-model' value='{{is_location_model}}'/>
                            <div class="media-body">
                                {% if is_location_model %}
                                <ul class="list-unstyled">
                                    <li>
                                        {{location_object.name.upper}}
                                    </li>
                                    <li>
                                        {{location_object.get_address}}
                                    </li>
                                    <div id='preview_activity_map_canvas'></div>
                                    <input type='hidden' class='activity-location-lat' value='{{location_object.lat}}'/>
                                    <input type='hidden' class='activity-location-lng' value='{{location_object.lng}}'/>
                                </ul>
                                {% else %}
                                <ul class="list-unstyled">
                                    <li>
                                        Place
                                    </li>
                                    <li>
                                        {{activity.location}}
                                    </li>
                                    <pre class='mini-margin-top'></pre>
                                </ul>
                                {% endif %}
                            </div>
                            {% endwith %}
                        </li>
                        <hr />

                        <li class="media activity-preview-recent-posts">
                            <a href="" class="pull-left">
                                <div class='sprite-posts media-object'></div>
                            </a>
                            <div class="media-body">
                                <h5 class="text-uppercase">Recent Posts</h5>
                                {% if activity.get_ordered_posts %}
                                    <ul class="media-list">
                                        {% for post in activity.get_ordered_posts %}
                                            <li class="media">
                                                <div class="media-body">
                                                    <div class="activity-post">
                                                        <div class="post-content">
                                                            {{post.content}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div>
                                        There are no recent post in this activity
                                    </div>
                                {% endif %}

                            </div>
                        </li>
                        <hr />
                    </ul>
                </div>
                <nav class="navbar navbar-default navbar-fixed-bottom activity-actions-container">
                    <input type="hidden" class="activity-unique-id" value="{{activity.unique_id}}"/>
                    {% if activity.user_create.username != user_login.username %}

                    <ul class="list-inline list-unstyled activity-actions">
                        {% if activity.get_available_spot != 0 and activity.sell_ticket == "0" %}
                        <li>
                            <a class="join-action text-pink pointer-cursor" > 
                                {% if is_joining %}
                                    <span onmouseover="$(this).html('Cancel my attending')" onmouseout="$(this).html('Attending');" onclick="$('#preview_activity_modal').modal('hide');$('#cancel_attending_activity_modal').modal('show');$('#activity_unique_id').val('{{activity.unique_id}}');">Attending</span>
                                    <input type="hidden" class='join-value' value="attending"/>
                                {% elif is_waiting %}
                                    <span onmouseover="$(this).html('Cancel my request')" onmouseout="$(this).html('Waiting for accepted');" onclick="$('#preview_activity_modal').modal('hide');$('#cancel_request_join_activity_modal').modal('show');$('#activity_unique_id').val('{{activity.unique_id}}');">Waiting for accepted</span>
                                    <input type="hidden" class='join-value' value="waiting"/>
                                {% elif is_invited %}
                                    <span onclick='window.location.href="/activity/{{activity.unique_id}}"'>You are invited</span>
                                    <input type="hidden" class='join-value' value="invited"/>
                                {% else %}
                                    <span onclick="$('#preview_activity_modal').modal('hide');$('#request_join_activity_modal').modal('show');$('#activity_unique_id').val('{{activity.unique_id}}');">Join</span>
                                    <input type="hidden" class='join-value' value="join"/>
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}

                        <li>
                            <a class="watch-action text-pink pointer-cursor" onclick="previewActivityWatchlistHandler(this)" data-unique-id="{{activity.unique_id}}">
                                {% if is_watching %}
                                    <span class="watch-text-display">Watching</span>
                                    <input type="hidden" class='watch-value' value="watching"/>
                                {% else %}
                                    <span class="watch-text-display">Add to watchlist</span>
                                    <input type="hidden" class='watch-value' value="not_watch"/>
                                {% endif %} 
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <div class="row">
                
                <div class="col-md-4 col-sm-4 text-left">
                    {% if previous_activity %}
                    <a onclick="showPreviewActivity('{{previous_activity.unique_id}}')">
                        <div>
                            Previous
                        </div>
                        <div class="text-uppercase text-bold">
                            {{previous_activity.name}}
                        </div> 
                    </a>
                    {% endif %}
                </div>
                
                <div class="col-md-4 col-sm-4 text-center">
                    <div>
                        {{current_activity_position}} of {{total_display_activity_count}}
                    </div>
                    <div class="text-uppercase text-bold">
                        {{activity.name}}
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 text-right">
                    {% if next_activity %}
                    <a onclick="showPreviewActivity('{{next_activity.unique_id}}')">
                        <div>
                            Next
                        </div>
                        <div class="text-uppercase text-bold">
                            {{next_activity.name}}
                        </div> 
                    </a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>
