{% extends "base.html" %}

{% block title %}
	<title> {{SITE_NAME_INITIAL_CAPITAL}} - Search </title>
{% endblock %}

{% block header_css %}
	{% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/search.css" type="text/css" />
    {% else %}
    	<link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/search.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="main-area row">
		{% block main_area %}
    	{% endblock %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_internal_scripts %}
    {% if stage == "dev" %}
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/search/ajax.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/search/function.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/apps/search/main.js"></script>
    {% else %}
	   <script type="text/javascript" src="{{STATIC_URL}}js/apps/search/prod/frittie.script.app.min.js"></script>
    {% endif %}
{% endblock %}
