{% extends "apps/member/member_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block title %} 
	<title>
		{{ SITE_NAME_INITIAL_CAPITAL }} - {{user_view.get_profile.get_user_fullname}}
	</title>
{% endblock %}


{% block main_area %}

		<div id="basic_profile" class="pull-left">
			<div class="wrapper">
				<div id="profile_avatar" class="row">
					<img src="{{user_view.get_profile.avatar.image.url}}" id="profile_avatar_img" />
				</div>
				
				<div id="profile_info" class="row small-margin-top" >
					<div class="row mini-margin">
						<div class="pull-left">
							<span class="text">{% trans "User Profile" %}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-padding user-profile-tab active" data-value="attending">
						<div class="pull-left">
							<span class="text">{% trans "Attending events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{join_activities_count}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="host">
						<div class="pull-left">
							<span class="text">{% trans "Host events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_create_activities|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="watchlist">
						<div class="pull-left">
							<span class="text">{% trans "Watchlist events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.watchlist.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="my_places">
						<div class="pull-left">
							<span class="text">{% trans "My Places" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_create_locations|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="interest_places">
						<div class="pull-left">
							<span class="text">{% trans "Interest Places" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_follow_locations|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='following'>
						<div class="pull-left">
							<span class="text">{% trans "Following" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.following.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='followers'>
						<div class="pull-left">
							<span class="text">{% trans "Followers" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.followers.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='media'>
						<div class="pull-left">
							<span class="text">{% trans "Media" %}</span>
						</div>
						<div class="pull-right">
							<div class="bold">
								{{user_view.get_profile.get_upload_photos|length}} {% trans "Photos" %}
							</div>
						</div>
					</div>
				</div>
				{% if user_view.get_profile.privacy_status == "1" %}
					<div id="media_section_preview" class="row">
						<ul class="photo-list">
						{% for photo in user_view.get_profile.get_upload_photos %}
							{% if forloop.counter <= 6 %}
								<li class='photo-item'>
									{% thumbnail photo.image "50x50" crop="center" as im %}
									    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='user-photo-thumbnail'>
									{% endthumbnail %}
								</li>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div id="profile_content" class="pull-left">
			<div id="intro_area">
				<div class="background-pic">
					{% thumbnail user_view.get_profile.cover_picture.image "655x180" crop="center" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}
				</div>
				<div id="user_info_profile">
					<div class="row mini-margin-bottom">
						<span class="white-color medium-text bold" id="user_fullname">
							{{user_view.get_profile.get_user_fullname}}
						</span>
					</div>
					<div class="row">
						<span class="white-color">
							{{user_view.get_profile.basic_info}}
						</span>
					</div>
				</div>
				<div id="action_btn_bar" class="btn-group">

				{% if is_following %}
					<button id="follow_handler_btn" class='btn btn-primary btn-sm' value="following">Following</button>
				{% else %}
					<button id="follow_handler_btn" class='btn btn-default btn-sm' value="not_follow">Follow</button>
				{% endif %}
                    
              		<button class="btn btn-sm btn-default" id="message_user_btn">{% trans "Message" %}</button>

              		<button class="btn btn-sm btn-default" id="report_user_btn" data-toggle="modal" data-target="#report_user_modal">{% trans "Report" %}</button>

              	</div>
			</div>
			<div id="details_area">
				<!-- <div id="triangle_pointer"></div> -->
				{% if join_activities_count > 0 %}
					
					{% if happening_activities %}
						<div id="happening_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "CURRENTLY HAPPENING" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{happening_activities|length}} {% trans "Events" %}</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in happening_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

					{% if upcoming_activities %}
						<div id="upcoming_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "COMING SOON" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{upcoming_activities|length}} {% trans "Events" %}</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in upcoming_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

					{% if past_activities %}
						<div id="past_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "PAST" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{past_activities|length}} {% trans "Events" %}</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in past_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

				{% else %}
					<div id="no_item">
						<span>{% trans "You are currently not attending any events" %}.</span>
					</div>
				{% endif %}
			</div>
		</div>

		{% include "common/live_feed.html" %}

{% endblock %}


{% block modal %}

	{% include "apps/message/modal/compose_new_message.html" %}
	{% include "apps/member/modal/report_user.html" %}

{% endblock %}
