{% extends "apps/main/main_base.html" %} 
{% load i18n %}

{% block header_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/landing.min.css" type="text/css" />
{% endblock %}

{% block header %}

    <header id="header_mobile">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top_navbar">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="logo">
                         <div class='sprite-logo-white-small'></div>
                    </a>
                </div><!-- end .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="visible-xs">
                            <a href='{% url "explore_page" %}'>{% trans "Explore" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'account_signup' %}">{% trans "Signup" %}</a>
                        </li>
                    </ul>
                            
                    
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li>
                            <a href='{% url "explore_page" %}'>
                                {% trans "Explore" %}
                            </a>
                        </li>
                        <li>
                            <a href='{% url "account_login" %}' >
                                {% trans "Login" %}
                            </a>  
                        </li>
                        <li>
                            <a href='{% url "account_signup" %}' >
                                {% trans "Signup" %}
                            </a>
                        </li>
                    </ul>
                </div><!-- end .navbar-collapse -->
            </div>
        </div>
    </header><!-- end top_navbar -->
{% endblock %}

{% block content %} 
    <div id='body'>
        <div class="row" id="slider_section" style="background-image: url('{{STATIC_URL}}img/apps/landing/cover_photo_street.jpg'); background-size: 100% ;") >
            <div class='language-section'>
                <div class='white-color bold pull-left mini-margin-right'>{% trans "Language" %} :</div>
                <div class='pull-left'>
                    <form action="/i18n/setlang/" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{request.get_full_path}}" />
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            {% if language.code == "vn" %} 
                                <input id="language" name="language" type="image" src="{{STATIC_URL}}img/apps/all/vn-flag.jpg" value="{{ language.code }}" style='margin-right:3px'/>  
                            {% endif %}
                            {% if language.code == "en" %} 
                                <input id="language" name="language" type="image" src="{{STATIC_URL}}img/apps/all/us-flag.png" value="{{ language.code }}"/>
                            {% endif %}
                            
                        {% endfor %}
                    </form> 
                </div>
            </div>
            <div class='search-event-section div-center'>
                <div class='row medium-margin-bottom'>
                    <div class='title'>{% trans "Find An Event Near You" %}</div>
                </div>
                <div class='row'>
                    <input type='text' id="search_where" class='form-control pull-left' placeholder='Enter city to search for event'/>
                    <input type='button' class='btn btn-default small-margin-left' value='Search' id="search_event_submit_btn">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row align-center" style="margin-top:60px;font-weight:bold;font-size:30px;margin-bottom:40px">
                <span>{% trans "AN UNIFIED EXPERIENCE" %}</span>
            </div>
            <div class="row div-center" style="width:340px;font-size:16px">
                <div class="align-center">
                    <span>{% trans "Enjoy an all-in-one-place event experience with our features" %}</span>
                </div>
            </div>

            <div class="row div-center" style='margin-top: 70px;margin-bottom: 70px;'>
                <div class="pull-left" style="margin-right: 50px;">
                    <div class="icon">
                        <img src='{{STATIC_URL}}img/apps/landing/connect-icon.png'/>
                    </div>
                    <div class="description" style="width: 140px;margin-top: 50px;margin-left: 10px;">
                        <div class="row" style="text-align: center;font-weight: bold;font-size: 20px;margin-bottom:20px;color:#777777">
                            <span>{% trans "CONNECT" %}</span>
                        </div>
                        <div class="row" style="color: #777777; font-size:14px; text-align:center;">
                            <span>{% trans "Connect and share interesting events with your friends and family" %}</span>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-right: 50px;margin-left:50px;">
                    <div class="icon">
                        <img src='{{STATIC_URL}}img/apps/landing/explore-icon.png'/>
                    </div>
                    <div class="description" style="width: 140px;margin-top: 50px;margin-left: 10px;">
                        <div class="row" style="text-align: center;font-weight: bold;font-size: 20px;margin-bottom:20px;color:#777777">
                            <span>{% trans "EXPLORE" %}</span>
                        </div>
                        <div class="row" style="color: #777777; font-size:14px; text-align:center;">
                            <span>{% trans "Explore and discover events and activities happening around you" %}</span>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-right: 50px;margin-left:50px;">
                    <div class="icon">
                        <img src='{{STATIC_URL}}img/apps/landing/create-icon.png'/>
                    </div>
                    <div class="description" style="width: 140px;margin-top: 50px;margin-left: 10px;">
                        <div class="row" style="text-align: center;font-weight: bold;font-size: 20px;margin-bottom:20px;color:#777777">
                            <span>{% trans "CREATE" %}</span>
                        </div>
                        <div class="row" style="color: #777777; font-size:14px; text-align:center;">
                            <span>{% trans "Create your own events for others to join, discuss and share" %}</span>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-left:50px;">
                    <div class="icon">
                        <img src='{{STATIC_URL}}img/apps/landing/organize-icon.png'/>
                    </div>
                    <div class="description" style="width: 140px;margin-top: 50px;margin-left: 10px;">
                        <div class="row" style="text-align: center;font-weight: bold;font-size: 20px;margin-bottom:20px;color:#777777">
                            <span>{% trans "ORGANIZE" %}</span>
                        </div>
                        <div class="row" style="color: #777777; font-size:14px; text-align:center;">
                            <span>{% trans "Organize and plan your events and activities with your friends" %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="background-color:#f3f3f3;">
            <div class="row align-center" style="margin-top:60px;font-weight:bold;font-size:30px;margin-bottom:40px">
                <span>{% trans "ACCESS ANYWHERE" %}</span>
            </div>
            <div class="row div-center" style="font-size:16px">
                <div class="align-center" style="color:#6a6a6a">
                    <p>{% trans "Available soon for your favourite platforms Android, iOS & Web" %}</p>
                    <p>{% trans "Can't wait?" %} <a href="{% url 'account_signup' %}" style="color:#71c168;text-decoration:underline">{% trans "Sign up for our open beta" %}</a></p>
                </div>
            </div>

            <div class="row div-center" style='margin-top: 30px;margin-bottom: 70px;'>
                <img src="{{STATIC_URL}}img/apps/landing/coming-soon-btn.png"/>
            </div>

            <div class='row' style='margin-bottom:200px'>
                <img src="{{STATIC_URL}}img/apps/landing/device.png" style="width:100%"/>
            </div>

        </div>
    </div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block hidden %}
{% endblock %}

{% block footer_custom_scripts %}

    {% verbatim %}
    <script>
        function scrollPageTop() {
          $("html, body").animate({scrollTop:0}, '300', 'swing');
        }

        $(".team-member-picture").hover(
            function() {
                $($(this).find(".mask")[0]).show();
                $($(this).find(".team-member-info")[0]).show();
            },
            function() {
                $($(this).find(".mask")[0]).hide();
                $($(this).find(".team-member-info")[0]).hide();
            }
        );

        $(function() {
            $('#search_where').typeahead(null, 
            {
                displayKey: 'label',
                source: city_data.ttAdapter(),
                templates: {
                    suggestion: Handlebars.compile([
                        '<div class="details pull-left">',
                            '<div class="name">',
                                '{{label}}',
                            '</div>',
                        '</div>'
                    ].join(''))
                }
            }).on('typeahead:selected', function($e,datum) {
                runTopProgressBar();
                window.location.href = "/explore" + datum['url'].substring(1);
            });
        })
    </script>
    {% endverbatim %}
{% endblock %}
