{% extends "apps/main/main_base.html" %} 
{% load i18n %}
{% load frittie_main %} 
{% load thumbnail %}

{% block hidden %}
	{% if locations|length >= 20 %}
		<input type="hidden" id="num_locations_load" value="20"/>
	{% else %}
		<input type="hidden" id="num_locations_load" value="{{locations|length}}"/>
	{% endif %}
	<input type="hidden" id='is_loading_item' value='False'/>
{% endblock %}

{% block main_area %}
	<nav id="locations_toolbar" class="navbar">
		<div class="container">
			<div class="navbar-collapse">
				<ul class="nav navbar-nav navbar-left text-uppercase">
					<li>
						<span class="navbar-text text-label" >
							<span id="total_locations_count">{{total_locations}}</span> {% trans "places in" %} {{current_city}}
						</span>
					</li>
					<li>
						<span class="navbar-text text-label">
							<a id="find_activity_link">{% trans "Find Activities" %}</a>
						</span>
					</li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<span class="navbar-text text-uppercase text-label">
							{% trans "Filter By" %}
						</span>
						<div id="locations_toolbar_filter_menu" class="locations-toolbar-menu btn-group navbar-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="btn-text">{% trans "All categories" %}</span>
								<span class="caret"></span>
								<span class="sr-only">{% trans "Toggle Filter By" %}</span>
							</button>
							
							<ul class="dropdown-menu" id="location_filter_by">
								<li class="dropdown-item active" role="presentation" onclick="filterHomePageLocation(this)" data-value="-1">
									<a href="#" role="menuitem" tabindex="-1">{% trans "All categories" %}</a>
								</li>
								{% for key,value in location_categories.items %}
									{% if key != LOCATION_PRIVATE_PLACE %}
										<li class="dropdown-item" role="presentation" onclick="filterHomePageLocation(this)" data-value="{{key}}">
											<a href="#" role="menuitem" tabindex="-1">{{value}}</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul><!-- end .navbar-right -->
			</div>
		</div>
	</nav><!-- end #activities_toolbar -->
	
	{% if locations %}
	<div id="location_listing_section">
		<div class="container">
			<div class="col-md-12">
				<div class='row'>
					<ul id="content_area">
					{% for location in locations %}
						<li class="location-item col-xs-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='/location/{{location.unique_id}}'">
							<div class="item-box">
								{% if user_login %}
									{% if location.create_by.username != user_login.username %}
										{% if user_login in location.follow_by.all %}
											<div class="follow-box following">
												<i class="glyphicon glyphicon-ok"></i> Following
											</div>
										{% endif %}
									{% endif %}
								{% endif %}
								<div class="thumbnail-image">
									{% thumbnail location.main_picture.image "248x170" crop='center' as im %}
										<img src="{{im.url}}" width='{{im.width}}' heigh='{{im.height}}'/>
									{% endthumbnail %}
								</div>

								<div class="location-info row">
									<div class="name add-dot" data-html-maxlength="20">
										{{location.name|words_first_char_upper}}
									</div>
									<div class="category">
										<span>{{location.get_category}}</span>
									</div>
								</div>
								<div class="more-detail-info row">
								   	<div class="num-followers pull-left">{{location.follow_by.all|length}} {% trans "followers" %}</div>
									<div class="num-activities pull-right">
									{% with activities_of_location=location.get_all_activities %}
										{% if activities_of_location %}
											{{activities_of_location|length}} {% trans "activities" %}
										{% else %}
											0 {% trans "activity" %}
										{% endif %}
									{% endwith %}
									</div>
								</div>

							</div>
						</li>
				   {% endfor %}
				   </ul>
			   </div>

			   <div class='row'>
					<ul class="pager">
						{% if is_first_page %}
					  		<li class='disabled pull-left medium-margin-top'>
					  			<a>Previous</a>
					  		</li>
					  	{% else %}
					  		<li class='pull-left medium-margin-top'>
					  			<a href="{{previous_page_link}}">Previous</a>
					  		</li>
					  	{% endif %}

					  	{% if is_last_page %}
					  		<li class='disabled pull-right medium-margin-top'>
					  			<a>Next</a>
					  		</li>
					  	{% else %}
					  		<li class='pull-right medium-margin-top'>
					  			<a href="{{next_page_link}}">Next</a>
					  		</li>
					  	{% endif %}
					</ul>
				</div>

			</div>
		</div>
	</div>
	{% endif %}

	<div id="no_location_found" class="hide align-center">
		<div class='wrapper'>
			{% trans "Sorry, no matching locations. Create your first local place" %} <a class='link-color' data-toggle='modal' data-target='#create_location_modal'>{% trans "here" %}</a>
		</div>
	</div>

	
	
{% endblock %}

