{% extends "apps/main/main_base.html" %} 
{% load i18n %}
{% load frittie_main %} 
{% load set_var %}
{% load thumbnail %}

{% block hidden %}
	{% if activities|length >= 20 %}
		<input type="hidden" id="num_activities_load" value="20"/>
	{% else %}
		<input type="hidden" id="num_activities_load" value="{{activities|length}}"/>
	{% endif %}
	<input type="hidden" id='is_loading_item' value='False'/>
{% endblock %}

{% block main_area %}
	<nav id="activities_toolbar" class="navbar">
		<div class="container">
			<div class="navbar-collapse">
				<ul class="nav navbar-nav navbar-left text-uppercase">
					<li>
						<span class="navbar-text text-label">
							 <span id="total_activities_count">{{total_activities}}</span> {% trans " activities in " %} {{current_city}}
						</span>
					</li>
					<li>
						<span class="navbar-text text-label">
							<a id="find_place_link">{% trans "Find Places" %}</a>
						</span>
					</li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li>
						<span class="navbar-text text-uppercase text-label">
							{% trans "Filter By" %}
						</span>
						<div id="activities_toolbar_filter_menu" class="activities-toolbar-menu btn-group navbar-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="btn-text">{% trans "All categories" %}</span>
								<span class="caret"></span>
								<span class="sr-only">{% trans "Toggle Filter By" %}</span>
							</button>
							
							<ul class="dropdown-menu" role="menu">
								<li class="dropdown-item active" role="presentation" onclick="filterHomePageActivity(this)" data-value="1">
									<a href="#" role="menuitem" tabindex="1">{% trans "Latest on Frittie" %}</a>
								</li>
								<li class="dropdown-item" role="presentation" onclick="filterHomePageActivity(this)" data-value="2">
									<a href="#" role="menuitem" tabindex="2">{% trans "Hot events" %}</a>
								</li>
							</ul>
						</div>
					</li>
					
					<li>
						<span class="navbar-text text-uppercase text-label">
							{% trans "Sort By" %}
						</span>
						<div id="activities_toolbar_sort_menu" class="activities-toolbar-menu btn-group navbar-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="btn-text">{% trans "All categories" %}</span>
								<span class="caret"></span>
								<span class="sr-only">{% trans "Toggle Filter By" %}</span>
							</button>
							
							<ul class="dropdown-menu" role="menu">
								{% for key,value in activity_categories.items %}
								<li class="dropdown-item" role="presentation" onclick="filterHomePageActivity(this)" data-value="{{key}}">
									<a href="#" role="menuitem" tabindex="-1">{{value}}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</li>
				</ul><!-- end .navbar-right -->
			</div>
		</div>
	</nav>
	
	{% if activities %}
	<div id="activity_listing_section">
		<div class="container">
		{% if activities %}
			<div class='row'>
				<ul id="content_area" class="activities-list list-unstyled list-inline">
					{% for activity in activities %}
						{% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
							<li class="activity-item col-xs-12 col-sm-6 col-md-4 col-lg-3" data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}" onclick="showPreviewActivity('{{activity.unique_id}}')">
								<div class="item-box">
									{% if user_login %}
										{% if activity.user_create.username != user_login.username %}
											{% if activity in user_login.get_profile.watchlist.all %}
												<div class="watchlist-box watching">
													<i class="fa fa-check"></i> {% trans "Watching" %}
												</div>
											{% endif %}
										{% endif %}
									{% endif %}
									<div class="thumbnail-image">
										{% thumbnail activity.logo.image '274x170' crop='center' as im %}
											<img src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'>
										{% endthumbnail %}
									</div>
									<div class="date btn btn-default">
										{{activity.start_time|display_month}} {{activity.start_time.day}}
									</div>
									<div class="caption">
										<h4 class="activity-item-title">{{activity.name|words_first_char_upper}}</h4>
										<small class="activity-item-location text-muted pull-left">
											{% if is_location_model %}
												{{location_object.city}},
												{% if location_object.state %}
													{{location_object.state}}
												{% else %}
													{{location_object.country}}
												{% endif %}
											{% else %}
												{{activity.location}}
											{% endif %}
										</small>
										<small class="activity-item-timestamp text-muted pull-right">
											{% trans "Added " %} {{activity.create_time|display_elapse_time}}
										</small>
										<div class="clearfix"></div>
									</div>
									<div class="activity-item-people-info clearfix">
										<div class="navbar-left">
											<div class="navbar-text">
												<span class="fa fa-users"></span>
												{{activity.get_total_people_going}} {% trans " people going" %}
											</div>
										</div>
										<div class="navbar-right">
											<div class="navbar-text">
												{{activity.get_watchers|length}} {% trans " watchers" %}
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endwith %}
					{% endfor %}
				</ul><!-- end #activities_list -->
			</div>

			<div class='row'>
				<ul class="pager">
					{% if is_first_page %}
				  		<li class='disabled pull-left medium-margin-top'>
				  			<a>Previous</a>
				  		</li>
				  	{% else %}
				  		<li class='pull-left medium-margin-top'>
				  			<a href="{{previous_page_link}}">Previous</a>
				  		</li>
				  	{% endif %}

				  	{% if is_last_page %}
				  		<li class='disabled pull-right medium-margin-top'>
				  			<a>Next</a>
				  		</li>
				  	{% else %}
				  		<li class='pull-right medium-margin-top'>
				  			<a href="{{next_page_link}}">Next</a>
				  		</li>
				  	{% endif %}
				</ul>
			</div>
		{% endif %}

		</div>
	</div>
	{% endif %}
	
	<div id="no_activity_found" class="hide align-center">
		<div class="wrapper">
			{% trans "Sorry, there are no new activities. Create first activity in your local" %} <a class='link-color' data-toggle='modal' data-target='#create_activity_modal' data-backdrop='static'>{% trans "here" %}</a>
		</div>
	</div>

{% endblock %}

