{% for notification in new_notifications %}
	<li class="notification-item new-notification row">
		<div class="user-avatar pull-left">
			<img src="{{notification.notify_from.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
		</div>
		<div class="notification-details pull-left">
			<div class="notification-content add-dot" data-html-maxlength="170">
				{{notification.content}}
			</div>
			<div class="notification-date">
				{{notification.date}}
			</div>
		</div>
	</li>
{% endfor %}

{% for notification in old_notifications %}
	<li class="notification-item row">
		<div class="user-avatar pull-left">
			<img src="{{notification.notify_from.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
		</div>
		<div class="notification-details pull-left">
			<div class="notification-content add-dot" data-html-maxlength="170">
				{{notification.content}}
			</div>
			<div class="notification-date">
				{{notification.date}}
			</div>
		</div>
	</li>
{% endfor %}