{% extends "base.html" %} 

{% block header_css %}
	{% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/member.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/member.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	  <div class="main-area div-center pos-relative container">
		  {% block main_area %}
    	{% endblock %}
    </div>
{% endblock %}

{% block hidden %}
	<input type="hidden" id="user_view_username" value="{{user_view.username}}"/>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_internal_scripts %}
	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/member/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/member/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/member/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/member/prod/frittie.script.app.min.js"></script> 
	{% endif %}
{% endblock %}