/*--------------------------Bubble----------------------------*/

.bubble {
	position: relative;
	border-radius:10px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
}

#about_us_right.bubble:after {
	border-width: 25px 25px 25px 0;
	border-color: transparent #FFFFFF;
	left: -25px;
	top: 50px;
}

#about_text.bubble:after {
	border-width: 0 25px 25px;
	border-color: transparent #FFFFFF;
	top: -25px;
	left: 100px;
	background-color: #01C8B3;
}

#about_text{
	background-color: #01C8B3;
	padding: 30px;
	color:#FFFFFF;
	font-size: 15px;
}

#team_list .bubble{
	background-color: #34BADF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#team_list .bubble-left:after{
	border-width: 25px 0 25px 25px;
	border-color: transparent #34BADF;
	left: -10px;
	top: 45px;
}

#team_list .bubble-right:after{
	border-width: 25px 25px 25px 0;
	border-color: transparent #34BADF;
	right: -10px;
	top: 45px;
}

#team_list .media-body{
	min-height:135px;
	background-color: #34BADF;
	border-radius:15px;
	padding: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#team_list .media-heading{
	color:#FFFFFF;
}

#team_list .media-heading a{
	color:inherit;
}



/*------------------------------------------------------------*/

body {
	background-color: #E3E3E3;
}

.panel {
	border-radius: 10px!important;
}

.panel-heading {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #9E9EA0;
	font-family: 'Helvetica';
	font-weight: bold;
	height: 52px;
	line-height: 42px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panel-heading a{
	color:inherit;
}

.panel-footer {
	background-color: #FFFFFF;
	color: #B9B9B9;
}

.panel-heading > .text-uppercase {
	height: 42px;
	line-height: 42px;
}

#about_us_left .list-group-item a {
	color: #FFFFFF;
}

#about_list .list-group-item {
	background-color: #E97C5F;
}

#about_list .list-group-item.active {
	background-color: #DB6343;
	color: #FFFFFF;
}

#legal_list .list-group-item {
	background-color: #E9CA5C;
}

#legal_list .list-group-item.active {
	background-color: #E9CA5C;
	color: #FFFFFF;
}

/*--------------------------Footer----------------------------*/
#footer{
	background-color: #000000;
	border-radius:15px;
	border:2px solid #FFFFFF;
	height: 50px;
	line-height: 50px;
	color:#FFFFFF;
}

#footer a{
	color:inherit;
}

#footer li:before{
	content:'• ';	
}

#footer li:first-child:before{
	content:'';
}
