/*---------------------- FONT DECLARATION ----------------------*/

@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-reg-webfont.eot');
	src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-reg-webfont.woff') format('woff'), url('../fonts/lato-reg-webfont.ttf') format('truetype'), url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bol-webfont.eot');
	src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bol-webfont.woff') format('woff'), url('../fonts/lato-bol-webfont.ttf') format('truetype'), url('lato-bol-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---------------------- GOLBAL SETUP ----------------------*/

body {
	color: #333;
	font-family: "latoregular", Arial, Helvetica, sans-serif;
	line-height: 1.618em;
	/* Disable Bootstrap 3 Responsiveness */
	min-width: 1172px;
}

.content {
	margin-top: 50px;
	min-height:1000px;
}

/*----------------Implement bordered tabbable----------------*/

.tabbable {
	border-color: #ddd;
	border-style: solid;
	border-width: 0;
	*zoom: 1;
}

.tabbable:before, .tabbable:after {
	display: table;
	line-height: 0;
	content: "";
}

.tabbable:after {
	clear: both;
}

.tabbable > .nav-tabs {
	margin: 0;
}

.tab-content {
	padding: 18px 0 0 0;
	overflow: auto;
	border-color: #ddd;
	border-style: solid;
	border-width: 0;
}

.tabbable-bordered {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tabbable-bordered > .tab-content {
	padding: 20px 20px 10px 20px;
	border-width: 0 1px 1px 1px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/*-----------------------------------------------------------*/


.ticket-row td{
	vertical-align: middle!important;
}

.response-box-textarea{
	border:none;
	resize: vertical;
}

.response-box-checkbox{
	margin-top: 5px;
	margin-bottom: 0;
}

.media-list hr{
	margin-top: 0;
	margin-bottom: 0;
}

.users-list li{
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
}

.creator-info{
	width: 200px;
}

/*-------------------------Collapse--------------------------*/

#map_panel .panel-heading{
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
}

/*---------------------------Text----------------------------*/
.text-bold{
	font-weight: bold;
}
.text-italic{
	font-style: italic;
}
.text-uppercase{
	text-transform: uppercase;
}

.non-decorated:hover{
	text-decoration: none;
}

.text-white,
a.text-white:hover,
a.text-white:active{
	color:#FFFFFF;
}

.text-pink,
a.text-pink:hover,
a.text-pink:active{
	color:#ED145B;
}

/*--------------------------Navbar----------------------------*/
#navbar li{
	height: 34px;
}
#navbar li>a{
	display: block;
	line-height: 34px;
}
#navbar li>input{
	display: inline-block;
}


/*
 * 
 */
#about_us_container{
	padding-top: 20px;
}