.event-preview-photo-container {
	background-color: #1A1A1A;
	border-top-left-radius: 5px;
	height: 700px;
	overflow: hidden;
	text-align: center;
	position: relative;
	padding: 10px;
}
.event-preview-photo-container>img{
	vertical-align: middle;
}
#event_preview_modal {
	color: #747474;
}
#event_preview_modal .modal-body{
	padding: 0;
}
.event-preview-details-container {
	height: 700px;
	position: relative;
	padding-top: 20px;
	padding-bottom: -70px;
	padding-right: 0;
	overflow: hidden;
}
.event-preview-details{
	padding: 0;
	margin: 0;
	height: 630px;
	overflow: hidden;
	overflow-y: scroll;
}
.event-preview-details-container .navbar-fixed-bottom{
	position: absolute;
}
.event-preview-details-container h5 {
	margin-top: 0;
}
.event-preview-details-container hr {
	margin: 10px 0px;
}

.event-preview-recent-posts a {
	color: inherit;
}

.event-post {
	margin-bottom: 10px;
}

.event-actions-container{
	border:1px solid #C3C3C3;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.event-actions{
	padding: 0;
	margin: 0;
}
.event-actions li{
	padding-left: 0;
	padding-right: 0;
}
.event-actions li:before{
	content:'· ';
	color:#ED145B;
}
.event-actions li:first-child:before{
	content:'';
}

#event_preview_modal .modal-footer{
	margin-top: -1px;
	background-color: #202020;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color:#FFFFFF;
}

#event_preview_modal .modal-footer a{
	color:#FFFFFF;
}
