.photo-details-tab-section{
	margin-bottom: 20px;
}

.photo-list-item{
	margin-bottom: 20px;
}

.photo-list-item-details{
	display: block;
	padding-top: 10px;
	padding-left: 10px;
}

.photo-page-numbers-list{
	display: inline-block;
}

#footer_links_list{
	
}
