.sidebar {
	position: fixed;
	top: 50px;
	bottom: 0px;
	z-index: 1000;
	display: block;
	padding: 20px;
	padding-top: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(245, 245, 245);
	border-right: 1px solid rgb(238, 238, 238);
	min-width: 200px;
}

#sidebar_left {
	background-color: #D7D7D7;
	left: 0px;
}

#sidebar_right {
	right: 0px;
	color:#FFFFFF;
}

#content {
	background-color: #F3F3F3;
}

#sidebar_right {
	background-color: #383838;
}

#watchlist_title {
	text-transform: uppercase;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #B8B8B8;
}

#watchlist_list {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#watchlist_list > li > span {
	font-weight: bold;
	cursor: pointer;
}

#watchlist_list > li > span i.fa-caret-right {
	margin-left: 3px;
}

#watchlist_list > li > ul > li {
	margin-left: 10px;
}

#watchlist_list > li > ul > li.active {
	color: #ED145B;
}
#watchlist_list > li > ul > li > a {
	color: inherit;
}

.watchlist-section {
}

.watchlist-section h5 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

.watchlist-section .description {
	margin-bottom: 10px;
	color: #989898;
}

.watchlist-section .description .active {
	color: #ED145B;
}

.watchlist-section .description a {
	color: inherit;
}

/*
 * Watchlist Item
 */
.watchlist-item-container {
	margin-bottom: 20px;
}

.watchlist-item {
	background-color: #FFFFFF;
	border: 1px solid #D5D5D5;
	padding: 15px;
}

.watchlist-item-thumbnail {
	margin-bottom: 10px;
}

.watchlist-item-time {
	color: #A5A5A5;
	text-transform: uppercase;
}

.watchlist-item-event {
	color: #464646;
	margin: 5px 0;
}

.watchlist-item-address {
	color: #A5A5A5;
}

.watchlist-item .media-body {
	color: #898989;
	font-size: 13px;
}

.watchlist-item .media-body a {
	font-weight: bold;
	color: inherit;
}

/*
 * Livefeed
 */
#livefeed_title {
	text-transform: uppercase;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #B8B8B8;
}

#sidebar_right a{
	color:inherit;
	font-weight: bold;
}

#sidebar_right .media .media-body{
	border-bottom:1px solid #B8B8B8;
}

#sidebar_right .media:last-child .media-body{
	border-bottom:none;
}