{% extends "base.html" %} 

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/main.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/main.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="main-area row">
		{% block main_area %}
    	{% endblock %}
    </div>
{% endblock %}

{% block footer_internal_scripts %}

	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/main/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/main/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/main/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/main/prod/frittie.script.app.min.js"></script> 
	{% endif %}

{% endblock %}
    