{% extends "apps/friend/friend_base.html" %}
{% load i18n %}
{% block hidden %}
	<input type="hidden" id="is_have_friend_list" value="{{is_have_friend_list}}"/>
{% endblock %}

{% block main_area %} 

<div class="div-center container">
	<div id="share_section">
        <div id="share_message">{% trans "Invite your friend to join Frittie" %}</div>
        <div id="share_button_container" >
            <div>
                <img id="fb_share_button" src="{{STATIC_URL}}img/apps/friend/fb_share_button.png" >
                <div id="personal_link" >
                    <img src="{{STATIC_URL}}img/apps/friend/share_link_container.png">
                    <div id="invite_url">{{short_url}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="friend_section" class="large-margin-top">
        {% if is_have_friend_list %}
            <div class="pull-left col-md-6">
                <div class='medium-padding'>
                    <div class='bold medium-text'>
                        {% trans "Invite your friend from Facebook" %}
                    </div>
                    <hr>
                    <div>
                        <div id="facebook_friends">
                            <div class='row'>
                                <button class='btn btn-primary btn-sm pull-left invite-all-btn' onclick="sendMultipleInviteRequest()">Invite all</button>
                                <input type="text" class='form-control search pull-left' placeholder="Search my friend"/>
                            </div>
                            <ul id="facebook_friends_list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right col-md-6">
                <div class='medium-padding'>
                    <div class='bold medium-text'>
                        {% trans "Friends on Frittie" %}
                    </div>
                    <hr>
                    <div>
                        <div id='existing_friends'>
                            <ul id="existing_friends_list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div id="no_facebook_friend">
                <div class='row div-center connect-message'>
                   {% trans "Connect to your" %} <a class='link-color' id='import_facebook_btn'>Facebook</a> {% trans "to invite your friend" %}
                </div>
                <div class='row large-margin-top toolbar-action'>
                    <button class='btn btn-primary btn-sm pull-left invite-all-btn' onclick="sendMultipleInviteRequest()">{% trans "Invite all" %}</button>
                    <input type="text" class='form-control search pull-left' placeholder="Search my friend"/>
                </div>
                <div class="pull-left col-md-6 column1">
                    <div class='medium-padding'> 
                        <ul id="facebook_friends_list1">
                        </ul>
                    </div>
                </div>
                <div class="pull-left col-md-6 column2">
                    <div class='medium-padding'> 
                        <ul id="facebook_friends_list2">
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div id="fb-root"></div>

{% endblock %}

{% block footer_external_scripts %} 
	<script src="http://connect.facebook.net/en_US/all.js"></script>
{% endblock %}

{% block footer_custom_scripts %}
	<script>
        window.fbAsyncInit = function() {
    		FB.init({
    	    	appId  : '{{FACEBOOK_APP_ID}}',
    	   		status : true,
    	    	cookie : true,
    	    	oauth: true
    		});
        };
	</script>
{% endblock %}
