{% extends "base.html" %}
{% load i18n %}
{% block title %}
	<title> {{SITE_NAME_INITIAL_CAPITAL}} - {% trans "Notification" %} </title>
{% endblock %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/notification.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/notification.min.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block main_section %}	 
	<div class="main-area div-center pos-relative">
		<div class="left-section pull-left">
			{% block left_section %}
    		{% endblock %}
		</div>
		<div class="right-section pull-left">
			{% block right_section %}
    		{% endblock %}
		</div>
    </div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}

{% block footer_internal_scripts %}
	{% if stage == "dev" %}
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/notification/ajax.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/notification/function.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/apps/notification/main.js"></script>
	{% else %}
    	<script type="text/javascript" src="{{STATIC_URL}}js/apps/notification/prod/frittie.script.app.min.js"></script> 
	{% endif %}
{% endblock %}