{% extends "apps/explore/explore_base.html" %} 

{% block main_area %}
    
	{% include "common/map/map.html" %}

	<div id="activity_section" class="map-content-section">
		
		<div class="wrapper">
			
			<div id="filter_area" class="small-margin">
				{% include "common/map/activity_filter_bar.html" %}
			</div>

			<div id="content_area">
	    		{% include "common/map/activity_list_item.html" %}
	    	</div>
	    
	    </div>

	</div>

	{% if user_login %}
	
		{% include "common/watch_list.html" %}
    
    {% endif %}

{% endblock %}

{% block hidden %}
	<div class="hide" id="activity_info_box_template">
		{% include "common/map/activity_info_box.html" %}
	</div>
	{% if user_login %}
		<input type='hidden' id='is_guest_explore' value='False'/>
	{% else %}
		<input type='hidden' id='is_guest_explore' value='True'/>
	{% endif %}
{% endblock %}