#footer {
	background: #333;
	color: white;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	bottom:0px;
	position:absolute;
}

#footer h3 {
	margin-top:0px;
}

#footer a {
	color: white;
}

#footer_language_menu {
	margin-top:10px;
}


