/* Header Mobile */
header#header_mobile {
  height:50px;
}

header#header_mobile #logo{
  display: inline-block;
}

header#header_mobile #logo .sprite-logo-white-small {
  margin-top:-15px;
}

header#header_mobile #top_navbar .navbar-collapse.in li #search_form,
#top_navbar .navbar-collapse.collapsing li #search_form{
  margin: 0;
}

header#header_mobile #top_navbar ul.navbar-nav > li > a{
  color:#FFFFFF;
}

header#header_mobile #top_navbar ul.navbar-nav > li > a:hover{
  color:#C2C2C2;
}


header#header_mobile #search_query {
  background-color: white;
  border-radius: 15px;
  height:28px;
  border: 0px;
  color: #333;
  padding-left: 12px;
  padding-top:12px;
  font-size:12px;
}

header#header_mobile #search_query:focus {
  border: 0px;
}

header#header_mobile #search_query::-webkit-input-placeholder {
  color: #cacaca;
  font-size: 12px;
}

header#header_mobile #search_query:-moz-placeholder {
  color: #cacaca;
  font-size: 12px;
}

header#header_mobile #search_form_submit{
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius:18px;
    border-bottom-right-radius:18px;
    background-color: transparent;
    z-index:10;
}

header#header_mobile #search_form .twitter-typeahead{
  outline:none;
}

header#header_mobile #search_form .typeahead,
header#header_mobile #search_form .tt-query,
header#header_mobile #search_form .tt-hint {
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
          border-radius: 18px;
  outline: none;
}

header#header_mobile #search_form .typeahead {
  background-color: #fff;
}

header#header_mobile #search_form .typeahead:focus {
  border: 2px solid #0097cf;
}

header#header_mobile #search_form .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

header#header_mobile #search_form .tt-hint {
  color: #999;
  width:358px;
}

header#header_mobile #search_form .tt-input,
header#header_mobile #search_form .tt-input:focus {
  border:transparent;
  box-shadow: none
}

header#header_mobile #search_form .tt-hint:focus {
  border:0px;
}

header#header_mobile #search_form .tt-dropdown-menu {
  width: 362px;
  margin-top:5px;
  margin-left:-2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  max-height:400px;
  overflow-y:auto;
}

header#header_mobile #search_form .tt-suggestion {
    width:361px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

header#header_mobile #search_form .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

header#header_mobile #search_form .tt-suggestion div {
  margin: 0;
}

header#header_mobile #search_form .tt-suggestion .details .name {
  font-size:12px;
  width:285px;
}

header#header_mobile #search_form .tt-suggestion .details {
    margin-left:10px;
    line-height: 20px;
}

header#header_mobile #search_form .tt-suggestion .details .type {
    color: #999;
    font-size: 12px;
}

header#header_mobile #search_form .tt-suggestion .picture img {
    width:25px;
    height:25px;
    background-color:#d3d6db;
    margin-top:4px;
}

header#header_mobile #create_links{
  padding-top: 8px;
}

header#header_mobile #user_link{
  padding-top: 8px;
  padding-bottom: 0;
  color:#FFFFFF;
  font-weight: bold;
}

header#header_mobile .user-avatar{
  vertical-align: middle;
  display: inline-block;
  border-radius:18px;
  background-color: #fff;
  height: 36px;
  width: 36px;
  line-height: 20px;
}

header#header_mobile .user-display-name {
  margin-left:10px;
}

header#header_mobile #user_actions{
  padding-top: 8px;
}

header#header_mobile #user_actions button.btn{
  background-color: transparent;
  color: #FFFFFF;
  padding-left:0px;
}

header#header_mobile #user_actions button.btn:hover{
  color:#C2C2C2;
}

header#header_mobile #user_actions .dropdown-menu li a{
  display: block;
  line-height: 30px;
  font-weight: bold;
}

header#header_mobile #user_actions .dropdown-menu li a:hover{
  background-color: #428BCA;
  color:#FFFFFF;
}

header#header_mobile #new_notification {
  position: absolute;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 15px;
  border-radius: 3px;
  background-color: #fa3f5e;
  padding-top: 0px;
  padding-bottom: 3px;
  top: 16px;
  right: -15px;
  z-index: 100;
}

header#header_mobile ul.dropdown-menu {
  top:42px;
}




/* Header Web */
/*div#header_web {
	height: 48px;
}

div#header_web .container {
	width: 100%;
	height: 48px;
}

div#header_web .navbar {
	border: 0px;
	height: 48px;
	z-index: 1030;
	margin-bottom:0px;
	border-radius:0px;
  background-color: #212121;
  background-image: none;
}

div#header_web .navbar-collapse {
	background-size: 100% 100%;
	border-top:0px;
	background-image: url("https://frittie.s3.amazonaws.com/img/apps/header/background-image.png");
}

div#header_web .navbar-brand {
	margin-left:20px;
	padding-top:0px;
}

div#header_web .navbar-brand img {
	width:70px;
}

div#header_web .arrow-icon{
  margin-top:18px;
}

div#header_web .header-item {
  	letter-spacing:0px;
  	font-size: 14px;
  	height:50px;
  	line-height:50px;
}

div#header_web .header-item > a {
	text-shadow: none;
	padding-top: 0px;
	color: white;
	height:48px;
  line-height:48px;
}

div#header_web .header-item > a:hover {
	color: #c2c2c2;
	text-decoration: none;
}

div#header_web li#global_create_btn {
  margin-right:5px;
}

div#header_web li#global_create_btn > a {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-top: 12px;
  line-height: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #666;
  text-align: center;
  padding: 0;
  background: #f5f5f5;
}

div#header_web li#global_create_btn > a:hover {
  background-color:#fa3f5e;
  color: white;
}

div#header_web #signup a {
	margin-right:60px;
}

div#header_web .navbar .nav-left ul li {
	vertical-align: center;
}

div#header_web .long-divider-vertical,
div#header_web .short-divider-vertical{
	background-color: white;
	opacity: 0.2;
	border-left: 0px;
	border-right: 1px solid rgba(255,255,255,0.2);
}

div#header_web .long-divider-vertical {
	height:48px;
}

div#header_web .short-divider-vertical {
	height: 12px;
	margin-top: 17px;
}

div#header_web #search_query {
	background-color: white;
	border-radius: 18px;
	border: 0px;
	height:28px;
	width: 360px;
	min-width: 130px;
	color: #333;
	padding-left: 12px;
	font-size:12px;
}

div#header_web #search_query:focus {
	border: 0px;
}

div#header_web #search_query::-webkit-input-placeholder {
	color: #cacaca;
	font-size: 12px;
	font-weight: bold;
}

div#header_web #search_query:-moz-placeholder {
	color: #cacaca;
	font-size: 12px;
	font-weight: bold;
}

div#header_web #search_submit_btn{
    position: absolute;
    right: 8px;
    top: 16px;
}

div#header_web #search_form {
	margin:0px;
	padding: 10px 0px 0px 10px;
	height: 48px;
}

div#header_web .navbar .navbar-right .user-account-area {
	margin-top: 1px;
	margin-left: 15px;
}

div#header_web #user_menu {
	height: 50px;
	position: relative;
  margin-right:20px;
}

div#header_web .user-account-hover-effect {
	background-color: #333;
}

div#header_web .navbar .navbar-right .user-account .profile-picture {
	margin-top:-2px;
	margin-right:12px;
}

div#header_web .navbar .navbar-right .fullname {
  	font-weight: bold;
  	letter-spacing:0px;
  	font-size: 13px;
	color: white;
}

div#header_web .navbar .navbar-right .fullname:hover {
	color: #c2c2c2;
}

div#header_web #user_account_avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

div#header_web .navbar .navbar-right .dropdown-icon{
	margin-left: 10px;
	margin-top:16px;
}

div#header_web .sidebar-button {
	position: relative;
	right: 0px;
	width: 58px;
	height: 48px;
}

div#header_web .sidebar-button a {
	padding: 16px 0px 0px 20px;
}

div#header_web #handler_user_account_dropdown div {
	float: left;
}

div#header_web #handler_user_account_dropdown:hover {
	text-decoration: none
}

div#header_web #search_form .twitter-typeahead{
	outline:none;
}

div#header_web #search_form .typeahead,
div#header_web #search_form .tt-query,
div#header_web #search_form .tt-hint {
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
          border-radius: 18px;
  outline: none;
}

div#header_web #search_form .typeahead {
  background-color: #fff;
}

div#header_web #search_form .typeahead:focus {
  border: 2px solid #0097cf;
}

div#header_web #search_form .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div#header_web #search_form .tt-hint {
  color: #999;
  width:358px;
  height:28px;
}

div#header_web #search_form .tt-hint:focus {
	border:0px;
}

div#header_web #search_form .tt-dropdown-menu {
  width: 362px;
  margin-left:-2px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  max-height:400px;
  overflow-y:auto;
}

div#header_web #search_form .tt-suggestion {
    width:361px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

div#header_web #search_form .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

div#header_web #search_form .tt-suggestion div {
  margin: 0;
}

div#header_web #search_form .tt-suggestion .details .name {
  font-size:12px;
  width:285px;
}

div#header_web #search_form .tt-suggestion .details {
    margin-left:10px;
    line-height: 20px;
}

div#header_web #search_form .tt-suggestion .details .type {
    color: #999;
    font-size: 12px;
}

div#header_web #search_form .tt-suggestion .picture img {
    width:25px;
    height:25px;
    background-color:#d3d6db;
    margin-top:4px;
}

div#header_web #global_create_action,
div#header_web #user_action {
    min-width: 150px;
    max-width:200px;
    position: absolute;
    padding: 0px;
    margin: -2px -0px 0px 0px;
    border-radius: 5px
}

div#header_web #global_create_action {
    left:-62px;
}

div#header_web #global_create_action li.divider {
    height:1px;
}

div#header_web #user_action li.divider {
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#header_web #global_create_action li,
div#header_web #user_action li {
    height: 30px;
    padding: 0px;
    margin: 0px;
}

div#header_web #global_create_action li {
  text-align: center;
}

div#header_web #global_create_action li a,
div#header_web #user_action li a {
    height: 30px;
    font-weight: bold;
    font-size: 13px;
}

div#header_web #user_action li a {
  padding: 5px 20px 0px 15px;
}

div#header_web #global_create_action li a {
  padding:5px 0px 0px 0px;
}

div#header_web #global_create_action.dropdown-menu > li > a:hover, 
div#header_web #global_create_action.dropdown-menu > li > a:focus,
div#header_web #user_action.dropdown-menu > li > a:hover, 
div#header_web #user_action.dropdown-menu > li > a:focus {
    background-color:#08c;
    background-image:none;
    color: white;
}

div#header_web #new_notification {
  position: fixed;
  right: 20px;
  top: 19px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  padding-right: 6px;
  padding-left: 6px;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  background-color: #fa3f5e;
}


div#header_web .dropdown-menu.arrow:before {
    position: absolute;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

div#header_web .dropdown-menu.left-arrow:before {
    top: -7px;
    left: 13px;
}

div#header_web .dropdown-menu.center-arrow:before {
    top: -7px;
    left: 46%;
}

div#header_web .dropdown-menu.right-arrow:before {
    top: -7px;
    right:13px;
}

div#header_web .dropdown-menu.arrow:after {
    position: absolute;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

div#header_web .dropdown-menu.left-arrow:after {
    top: -6px;
    left: 14px;
}

div#header_web .dropdown-menu.center-arrow:after {
    top: -6px;
    left: 46%;
}

div#header_web .dropdown-menu.right-arrow:after {
    top:-6px;
    right:14px;
}*/