#live_feed {
	position:absolute;
	width:225px;
	right:0px;
	background-color: #363530;
	color: white;
	z-index: 10;
	top:56px;
}

#live_feed .wrapper {
	margin:15px;
}

#live_feed .title {
	border-bottom: 1px solid #b8b8b8;
	text-align: center;
	padding-bottom:12px;
}

#live_feed .title a,
#live_feed .title a span {
	color: white;
}

#no_live_feed {
	text-align: center;
	padding-bottom:16px;
	padding-top:16px;
	border-bottom: 1px solid #b8b8b8;
}

#hide_feed_btn {
	position:absolute;
	top:4px;
	right:5px;
}

#hide_feed_btn a {
	color:white;
}

#hide_feed_btn a:hover {
	text-decoration: underline;
	color:white;
}

#show_feed_btn {
	position: fixed;
	top:60px;
	right: 465px;
	padding: 6px 10px 6px 10px;
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	cursor:pointer;
}

li.feed-item {
	padding-top:6px;
	padding-bottom:8px;
	border-bottom: 1px solid #b8b8b8;
}

li.feed-item .user-avatar {
	margin-top:3px;
	margin-right:10px;
}

li.feed-item .user-avatar img{
	width:25px;
	height:25px;
	border: 2px solid white;
	border-radius: 2px;
}

li.feed-item .feed-details {
	width:150px;
}

li.feed-item .feed-details .feed-time {
	font-size: 11px;
	color: #a5a8a2;
	line-height: 15px;
}

li.feed-item .feed-details .feed-content a,
li.feed-item .feed-details .feed-content a:hover {
	color: white;
	font-weight:bold;
}

li.feed-item .feed-details .feed-content a:hover {
	text-decoration: underline;
}
