#map_wrapper {
	position:fixed;
	top:47px;
	height:100%;
	width:100%;
}

#map_section{
	z-index: 1;
	height:100%;
	width:100%;
	position:relative;
}

#map_section img { 
  max-width: none;
}

#map_section label { 
  width: auto; display:inline; 
} 

.map-item-border-line {
   	height:1px;
    border-top:1px solid #d2d2d2;
    width:390px;
    text-align:center;
    margin:0px auto;
}

#watch_list {
	position:fixed;
	bottom:15px;
	left:15px;
	padding: 6px 10px 6px 10px;
	    
	background-color: rgb(0, 0, 0);

	/* RGBa with 0.6 opacity */
	background-color: rgba(0, 0, 0,0.7);

	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	    
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";  
}

#activity_section {
	position: absolute;
	top:56px;
	right:0px;
	z-index:10;
	background-color: white;
	width:450px;
}

#activity_section li.activity-item {
	margin:6px 10px 10px 10px;
	border-radius:6px;
}

#activity_section li.activity-item:hover {
	background-color: #eaeaea;
}

#activity_section li.activity-item .item-container {
	position:relative;
	margin-top:10px;
    margin-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}

#activity_section li.activity-item .left-column .activity-logo {
	width:180px;
	height:145px;
	overflow: hidden;
    position: relative;
    border-radius: 10px;
}

#activity_section li.activity-item .right-column {
	width:200px;
}

#activity_section li.activity-item .right-column .activity-place .image img {
	width:14px;
}

#activity_section li.activity-item .right-column .activity-time span{      
    font-size:15px;
}

#activity_section li.activity-item .right-column .activity-going {
    position:absolute;
    bottom:0px;
}


/*#activity_section li.activity-item .center-column {
	margin-left:15px;
	margin-right:10px;
	width:240px;
}

#activity_section li.activity-item .center-column .activity-title {
	font-weight:bold;
	font-size: 14px;
}

#activity_section li.activity-item .center-column .activity-title a:hover {
	color: #E47911;
}

#activity_section li.activity-item .center-column .row {
	margin-bottom:8px;
}

#activity_section li.activity-item .center-column img.avatar {
	width:18px;
	height:18px;
}

#activity_section li.activity-item .center-column span {
	display: block;
	float:left;
}

#activity_section li.activity-item .center-column .activity-creator a:hover {
	text-decoration: underline;
}

#activity_section li.activity-item .center-column .activity-creator span.text {
	font-weight: bold;
	font-size:12px;
	color:#817E7E;
}

#activity_section li.activity-item .center-column .activity-place {
	margin-top:12px;
	margin-bottom:4px;
}

#activity_section li.activity-item .center-column .activity-place span.text {
	margin-top:-2px;
	max-width:200px;
}

#activity_section li.activity-item .center-column .activity-place span.text:hover {
	color: #E47911;
}

#activity_section li.activity-item .right-column {
	width:50px;
}

#activity_section li.activity-item .right-column .activity-time {
	text-align: center;
	margin-bottom:5px;
}

#activity_section li.activity-item .right-column .activity-time .month {
	background: #5cb2e3;
	border: 1px solid #52a2cf;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}

#activity_section li.activity-item .right-column .activity-time .day {
	background: #484848;
	color: #fff;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
}

#activity_section li.activity-item .right-column .activity-limit {
	font-weight:bold;
}
*/

#no_activity_found {
    text-align: center;
    padding:10px;
}

#hidden_section {
	display:none;
}

#filter_area {
	background-color:white;
	border-radius:6px;
	padding-left:15px;
	padding-right:15px;
}

#category {
	height:40px;
	line-height: 40px
}

#category span.caret {
	vertical-align: middle;
	margin-top: -2px
}

#activity_category_dropdown {
	left:auto;
	right:0px;
	border-radius: 0px;
	min-width: 120px;
	margin-top:0px;
	margin-right:-1px;
	padding: 0px;
	z-index: 10;
	list-style: none;
	background-color: white;
	border-radius: 0px;
	border-top: 1px solid #cacaca;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

#activity_category_dropdown li {
	text-align: center;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	height: 22px;
	color: black;
	padding-top:4px;
	font-size: 11px;
	cursor:pointer;
	padding-top:0px;
}

#activity_category_dropdown li:hover {
	background-color: #ececec;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}


#category .dropdown {
	height: 25px;
	margin-top: 8px;
}

#category .dropdown.open {
	border: 1px solid rgb(212, 212, 212);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#category .dropdown .wrapper{
	float: right;
	text-align: center;
	height: 35px;
	margin-top: -8px;
	padding-left: 8px;
	padding-right: 8px;
	color: #6e6e6e;
}

.right-section .description-text {
	margin-top:10px;
	margin-right:10px;
	font-weight:bold;
}

#list_filter_how li.filter-how-item {
	list-style-type: none;
	padding:4px;
	background-color: white;
	border: solid 1px #dcdcdc;
	color: #6e6e6e;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#list_filter_how li.filter-how-item.active {
	background: white;
	color: #fa3f5e;
}

#list_filter_how li.filter-how-item:hover {
	background-color: #e0e0e0;
}

#zoom_out {
	position: fixed;
	left: 15px;
	top: 98px;
	z-index: 10;
	cursor:pointer;
}

#zoom_in {
	position: fixed;
	left: 15px;
	top: 60px;
	z-index: 10;
	cursor:pointer;
}

.activity-filter-item {
	color: #6e6e6e;
}

.activity-filter-item.filter-when-item.active {
	color: #fa3f5e;
}

.info-box {
    padding:10px 10px 12px 15px;
}

.info-box .activity-info {
    width:200px;
    position:relative;
}

.info-box .activity-info .single-overlay {
    right:-20px;
    top:0px;
    border-radius:4px;
}

.single-overlay {
    position:absolute;
    min-width:28px;
    text-align: center;
    background-color: #ed135a;
    border: 2px solid white;
    padding: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.group-overlay {
	position: absolute;
	min-width: 40px;
	min-height: 40px;
	text-align: center;
	background-color: #ed135a;
	border: 2px solid white;
	padding: 7px;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-radius: 30px;
}


li.activity-item time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 15px auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

li.activity-item time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

li.activity-item time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
 /* background-color: #fd9f1b;
  box-shadow: 0 2px 0 #fd9f1b;*/
  background-color: #fa3f5e;
  box-shadow: 0 2px #fa3f5e;
}

li.activity-item time.icon em
{
  position: absolute;
  bottom: 10px;
  /*color: #fd9f1b;*/
  color: #fa3f5e;
}

li.activity-item time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}