/*******DELETE COMMENT MODAL********/
#delete_comment_modal .modal-dialog {
	width:350px;
}

#delete_comment_modal .modal-footer {
	margin-top:0px;
}

#delete_comment_modal .modal-body {
	text-align: center;
}
/**********************************/


/*****REPORT MODAL*********/
.report-modal .modal-dialog {
	width:450px;
}

.report-modal textarea#report_comment_textarea {
	width: 400px;
}

.report-modal textarea.error {
	border: 1px solid red;
}

.report-modal p.error {
	color: red;
}
/***********************************/


/*****CREATE ACTIVITY MODAL*********/
#create_activity_modal .modal-dialog {
	width:350px;
}

#create_activity_modal .modal-dialog {
    width: 450px;
}

#create_activity_form .activity-data {
    margin-bottom:12px;
}

#create_activity_form .activity-data label {
    color: #666;
    width: 80px;
    font-size:12px;
    font-weight: bold;
    margin: 5px 10px 0px -5px;
    text-align:right;
}

#create_activity_form .activity-data  .input-field {
    width: 300px;
}

#create_activity_modal .panel-group {
    margin-bottom:0px;
}

#create_activity_modal .panel-group .panel-body {
    padding-left:6px;
    padding-right:5px;
}

#create_activity_form textarea#id_description {
    max-height:500px;
}

#create_activity_form input#start_date,
#create_activity_form input#end_date {
    float:left;
    width: 130px;
    margin-right:10px;
}

#start_time,
#end_time {
    width:130px;
    float:left;
}

#create_activity_form .activity-description .error-field {
    margin-left:0px;
}

#create_activity_form #create_activity_map_canvas {
    height: 150px;
    width: 300px;
    margin-top:10px;
}

/*#create_activity_form span#show_create_location_modal_btn {
    font-weight:bold;
    color: #333;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}*/

#create_activity_form .activity-end-time span.glyphicon {
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

#create_activity_form a#show_end_time_link {
    margin-top:10px;
}


#create_activity_form .typeahead,
#create_activity_form .tt-query,
#create_activity_form .tt-hint {
    width: 300px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
}

#create_activity_form .typeahead {
    background-color: #fff;
}

#create_activity_form .typeahead:focus {
    border: 2px solid #0097cf;
}

#create_activity_form .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#create_activity_form .tt-hint {
    color: #999
}

#create_activity_form .tt-dropdown-menu {
    margin-left:-2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    overflow-y: auto;
}

#create_activity_form .tt-suggestion {
    width:300px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#create_activity_form .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

#create_activity_form .tt-suggestion p {
    margin: 0;
}

#create_activity_form .tt-suggestion p.name {
    margin-left:10px;
    font-size: 11px;
    width: 225px;
}

#create_activity_form .tt-suggestion p.picture img {
    width:25px;
    height:25px;
}

#create_activity_form .error-notice {
    color: #a94442;
    margin-bottom:10px;
    text-align: center;
}

#create_activity_form .error-field {
    margin-left:85px;
}

#create_activity_form input#id_limit {
    width:170px;
    float:left;
}

#create_activity_form input#id_activity_place {
    width:300px;
    padding-right: 40px;
}

#create_activity_form input#unlimited_people_checkbox {
    margin-top:2px;
}

#create_activity_form span.remove-location-btn {
    position:absolute;
    cursor:pointer;
    right:30px;
    bottom:171px;
    top:auto;
}

#create_activity_form .activity-data {
    position:relative;
}

#create_activity_form .bfh-timepicker-popover {
    top:inherit;
    left:inherit;
}


#create_activity_form_mobile .activity-data {
    margin-bottom:12px;
}

#create_activity_form_mobile .activity-data label {
    color: #666;
    width: 80px;
    font-size:12px;
    font-weight: bold;
    margin: 5px 10px 0px -5px;
    text-align:right;
}

#create_activity_form_mobile .activity-data  .input-field {
    width: 300px;
}

#create_activity_modal .panel-group {
    margin-bottom:0px;
}

#create_activity_modal .panel-group .panel-body {
    padding-left:6px;
    padding-right:5px;
}

#create_activity_form_mobile textarea#id_description {
    max-height:500px;
}

#create_activity_form_mobile input#start_date,
#create_activity_form_mobile input#end_date {
    float:left;
    width: 130px;
    margin-right:10px;
}

#start_time,
#end_time {
    width:130px;
    float:left;
}

#create_activity_form_mobile .activity-description .error-field {
    margin-left:0px;
}

#create_activity_form_mobile #create_activity_map_canvas {
    height: 150px;
    width: 300px;
    margin-top:10px;
}

/*#create_activity_form_mobile span#show_create_location_modal_btn {
    font-weight:bold;
    color: #333;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}*/

#create_activity_form_mobile .activity-end-time span.glyphicon {
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

#create_activity_form_mobile a#show_end_time_link {
    margin-top:10px;
}


#create_activity_form_mobile .typeahead,
#create_activity_form_mobile .tt-query,
#create_activity_form_mobile .tt-hint {
    width: 300px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
}

#create_activity_form_mobile .typeahead {
    background-color: #fff;
}

#create_activity_form_mobile .typeahead:focus {
    border: 2px solid #0097cf;
}

#create_activity_form_mobile .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#create_activity_form_mobile .tt-hint {
    color: #999
}

#create_activity_form_mobile .tt-dropdown-menu {
    margin-left:-2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    overflow-y: auto;
}

#create_activity_form_mobile .tt-suggestion {
    width:300px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#create_activity_form_mobile .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

#create_activity_form_mobile .tt-suggestion p {
    margin: 0;
}

#create_activity_form_mobile .tt-suggestion p.name {
    margin-left:10px;
    font-size: 11px;
    width: 225px;
}

#create_activity_form_mobile .tt-suggestion p.picture img {
    width:25px;
    height:25px;
}

#create_activity_form_mobile .error-notice {
    color: #a94442;
    margin-bottom:10px;
    text-align: center;
}

#create_activity_form_mobile .error-field {
    margin-left:85px;
}

#create_activity_form_mobile input#id_limit {
    width:170px;
    float:left;
}

#create_activity_form_mobile input#id_activity_place {
    width:300px;
    padding-right: 40px;
}

#create_activity_form_mobile input#unlimited_people_checkbox {
    margin-top:2px;
}

#create_activity_form_mobile span.remove-location-btn {
    position:absolute;
    cursor:pointer;
    right:30px;
    bottom:171px;
    top:auto;
}

#create_activity_form_mobile .activity-data {
    position:relative;
}

#create_activity_form_mobile .bfh-timepicker-popover {
    top:inherit;
    left:inherit;
}

/************************************/


/********CREATE LOCATION MODAL********/
#create_location_modal .modal-dialog {
    width: 920px;
}

#create_location_form .location-data {
    margin-bottom: 10px;
}

#create_location_form .location-city,
#create_location_form .location-country{
    width:200px;
}

#create_location_form .location-state,
#create_location_form .location-zipcode {
    width:220px;
}

#create_location_form .location-data {
    position:relative;
}

#create_location_form .location-data .error-field {
    position:absolute;
    right:0px;
}

#create_location_form .location-picture .image-container {
    height:150px;
}

#create_location_form .map-panel {
    height: 228px;
    border: 1px solid #bababa;
    margin-bottom:10px;
}

#create_location_form .map-panel .panel-heading {
    /*background-color: #fa3f5e;
    background-image: none;
    border: 1px solid #fa3f5e;*/
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #bababa;
    color: #333;
}

#create_location_form .location-exist-error,
#create_location_form .error-notice {
    margin-bottom:20px;
    margin-left:15px;
}

#create_location_form #create_location_map_canvas {
    height:188px;
    width:334px;
}

#create_location_modal .map-panel .panel-body {
    padding:0px;
}


/*#create_location_form .typeahead,
#create_location_form .tt-query,
#create_location_form .tt-hint {
    width: 300px;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    outline: none;
}*/

#create_location_form .twitter-typeahead {
    width:100%;
}

#create_location_form .typeahead {
    background-color: #fff;
}

#create_location_form .typeahead:focus {
    border: 2px solid #0097cf;
}

#create_location_form .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#create_location_form .tt-hint {
    color: #999
}

#create_location_form .tt-dropdown-menu {
    margin-left:-2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    overflow-y: auto;
}

#create_location_form .tt-suggestion {
    width:482px;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    display: table;
    content: "";
    cursor:pointer;
}

#create_location_form .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

#create_location_form .tt-suggestion p {
    margin: 0;
}

#create_location_form .tt-suggestion p.name {
    margin-left:10px;
    font-size: 11px;
    max-width: 420px;
}

#create_location_form .tt-suggestion p.picture img {
    width:25px;
    height:25px;
}

/*************************************/


#request_join_activity_modal .modal-dialog {
    width: 350px;
}

#request_introduction_textarea {
    height:80px;
}

#cancel_request_join_activity_modal .modal-dialog {
    width:350px;
}


/***** ADD PHOTO MODAL *****/
#add_photo_modal label {
    width: 80px;
}

#add_photo_modal .modal-dialog {
    width: 450px;
}

#add_photo_modal .photo-caption .label {
    height:34px;
    line-height:34px;
}

#add_photo_modal .input-field {
    width: 300px;
}

#add_photo_modal #add_photo_image {
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 300px;
    cursor:pointer;
}

#add_photo_modal #add_photo_upload_area {
    border: 3px dashed #ccc;
    background: #fff;
    height: 50px;
    width:100%;
    text-align: center;
    padding:10px;
    cursor:pointer;
    font-size:16px;
    color: #999;
}

#add_photo_modal #add_photo_thumbnail {
    margin-top: 10px;
}

#add_photo_modal #add_photo_thumbnail img {
    width: 300px;
    height: 200px;
}

#compose_new_message_modal .modal-dialog {
    width:400px;
}