#preview_activity_modal img.media-object {
    width:auto;
    height:auto;
}

.activity-preview-details li.media {
    margin-bottom:10px;
}

#preview_activity_map_canvas {
    height:80px;
    width:380px;
    margin-top:5px;
    border: 1px solid #adadad;
}

.activity-preview-details pre {
    height:50px;
    background-color: #dcdcdc;
    border-radius: 0px;
    border: 1px solid #adadad;
}

#close_preview_activity_modal_btn {
    position:absolute;
    font-size:14px;
    top:4px;
    right:6px;
}

.activity-preview-photo-container {
    background-color: #1A1A1A;
    border-top-left-radius: 5px;
    height: 550px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 10px;
    line-height:550px;
}

.activity-preview-photo-container .con {
    width:100%;
    height:100%;
}

.activity-preview-photo-container img{
    max-width:100%;
}

#preview_activity_modal {
    color: #747474;
    font-family: "latoregular", Arial, Helvetica, sans-serif;
}

#preview_activity_modal .modal-body{
    padding: 0;
}

.activity-preview-details-container {
    height: 550px;
    position: relative;
    padding-top: 20px;
    padding-bottom: -70px;
    padding-right: 0;
    overflow: hidden;
}

.activity-preview-details{
    padding: 0px 20px 0px 0px;
    margin: 0;
    height: 480px;
    overflow: hidden;
    overflow-y: auto;
}

.activity-preview-details-container .navbar-fixed-bottom{
    position: absolute;
}

.activity-preview-details-container h5 {
    margin-top: 0;
}

.activity-preview-details-container hr {
    margin: 10px 0px;
}

.activity-preview-recent-posts a {
    color: inherit;
}

.activity-post {
    margin-bottom: 10px;
}

.activity-actions-container{
    border:1px solid #C3C3C3;
    padding-left: 20px;
    padding-right: 20px;
    min-height:0px;
    height:40px;
    background: #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.activity-actions{
    padding: 0;
    margin: 0;
}

.activity-actions li{
    padding-left: 0;
    padding-right: 0;
    height:40px;
    line-height:40px;
    margin-right:10px;
}

.activity-actions li:before{
    color:#ED145B;
}

#preview_activity_modal .modal-footer{
    margin-top: -1px;
    background-color: #202020;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#FFFFFF;
}

#preview_activity_modal .modal-footer a{
    color:#FFFFFF;
}

.activity-preview-recent-posts li.media {
    margin-top:0px;
}