.sprite-add-picture{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 0; width: 16px; height: 16px; } 
.sprite-alert-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -66px; width: 12px; height: 12px; } 
.sprite-all-icons{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -128px; width: 104px; height: 520px; } 
.sprite-arrow-icon-gray{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -698px; width: 15px; height: 15px; } 
.sprite-arrow-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -763px; width: 15px; height: 15px; } 
.sprite-bg-explore{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -828px; width: 456px; height: 61px; } 
.sprite-bg-livefeed{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -939px; width: 228px; height: 31px; } 
.sprite-city-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -1020px; width: 600px; height: 398px; } 
.sprite-description{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -1468px; width: 21px; height: 21px; } 
.sprite-direction-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -1539px; width: 16px; height: 16px; } 
.sprite-email-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -1605px; width: 20px; height: 20px; } 
.sprite-error-picture{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: 0 -1675px; width: 1126px; height: 894px; } 
.sprite-facebook-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px 0; width: 20px; height: 20px; } 
.sprite-fb-share-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -70px; width: 220px; height: 42px; } 
.sprite-female-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -162px; width: 50px; height: 50px; } 
.sprite-female-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -262px; width: 50px; height: 50px; } 
.sprite-go-top-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -362px; width: 42px; height: 43px; } 
.sprite-google-calendar-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -455px; width: 20px; height: 20px; } 
.sprite-header-background{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -525px; width: 10px; height: 57px; } 
.sprite-host-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -632px; width: 12px; height: 20px; } 
.sprite-icalendar-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -702px; width: 20px; height: 20px; } 
.sprite-item-frame{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -772px; width: 170px; height: 170px; } 
.sprite-light-divider-vertical{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -992px; width: 1px; height: 28px; } 
.sprite-line-explore{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1070px; width: 456px; height: 1px; } 
.sprite-location{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1121px; width: 21px; height: 21px; } 
.sprite-location-pin{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1192px; width: 11px; height: 15px; } 
.sprite-logo-white-small{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1257px; width: 70px; height: 46px; } 
.sprite-male-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1353px; width: 50px; height: 50px; } 
.sprite-male-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1453px; width: 50px; height: 50px; } 
.sprite-mouseover-shade{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1553px; width: 207px; height: 162px; } 
.sprite-offline-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1765px; width: 5px; height: 5px; } 
.sprite-online-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1820px; width: 5px; height: 5px; } 
.sprite-outlook-calendar-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1875px; width: 20px; height: 20px; } 
.sprite-phone-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -1176px -1945px; width: 32px; height: 32px; } 
.sprite-pin{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px 0; width: 43px; height: 53px; } 
.sprite-pin-arrow{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -103px; width: 61px; height: 32px; } 
.sprite-place-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -185px; width: 13px; height: 16px; } 
.sprite-post-explore{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -251px; width: 456px; height: 185px; } 
.sprite-posts{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -486px; width: 21px; height: 21px; } 
.sprite-register-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -557px; width: 90px; height: 30px; } 
.sprite-remove-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -637px; width: 207px; height: 162px; } 
.sprite-remove-btn-mouseover{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -849px; width: 207px; height: 162px; } 
.sprite-responsive-search-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1061px; width: 18px; height: 18px; } 
.sprite-scrollbar-image{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1129px; width: 8px; height: 5px; } 
.sprite-search-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1184px; width: 20px; height: 20px; } 
.sprite-seperator{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1254px; width: 188px; height: 1px; } 
.sprite-share-link-container{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1305px; width: 220px; height: 42px; } 
.sprite-sidebar-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1397px; width: 20px; height: 20px; } 
.sprite-signin-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1467px; width: 77px; height: 32px; } 
.sprite-signin-fb-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1549px; width: 190px; height: 30px; } 
.sprite-social-avatar-ppl{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1629px; width: 31px; height: 31px; } 
.sprite-social-avatar{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1710px; width: 31px; height: 31px; } 
.sprite-social-avatar-frameonly{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1791px; width: 31px; height: 31px; } 
.sprite-stack-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1872px; width: 19px; height: 18px; } 
.sprite-tag{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -2352px -1940px; width: 21px; height: 21px; } 
.sprite-ticket{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px 0; width: 21px; height: 21px; } 
.sprite-time{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -71px; width: 21px; height: 21px; } 
.sprite-title-livefeed{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -142px; width: 110px; height: 25px; } 
.sprite-transparent-black{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -217px; width: 1px; height: 1px; } 
.sprite-user-profile-background{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -268px; width: 743px; height: 236px; } 
.sprite-view-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -554px; width: 207px; height: 162px; } 
.sprite-view-btn-mouseover{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -766px; width: 207px; height: 162px; } 
.sprite-watch-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -978px; width: 207px; height: 162px; } 
.sprite-watch-btn-mouseover{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -1190px; width: 207px; height: 162px; } 
.sprite-watched-btn{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -1402px; width: 45px; height: 15px; } 
.sprite-website-link-icon{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -1467px; width: 32px; height: 32px; } 
.sprite-zoom-in{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -1549px; width: 35px; height: 35px; } 
.sprite-zoom-out{ background: url("http://frittie.s3.amazonaws.com/img/sprite/global_sprite.png"); background-position: -3528px -1634px; width: 35px; height: 35px; } 

