{% load dajaxice_templatetags %}
{% load static_loader %}

<!DOCTYPE html>
<html>
<head>

    {% block title %}
        <title> {{SITE_NAME_INITIAL_CAPITAL}} - Home </title>
    {% endblock %}

    {% block meta %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Copyright" content="{{SITE_NAME}} LLC" />
        <meta name="keywords" content="{{SITE_NAME}}, Friend, Connect, Social Network, Activity, Location, Place, Restaurant, Cinema, Interact" />        
        <meta name="description" content="{{SITE_DESCRIPTION}} " />
    {% endblock %}
    <link rel="icon" href="{{STATIC_URL}}img/ico/favicon.ico" type="image/x-icon" />

    {% load_plugin_css %}
    {% load_global_css %}
    
    {% block header_css %}
        {% load_final_level_css %}
    {% endblock %}

    {% block header_scripts %}
    {% endblock %}

</head>
<body>

    <div id='page_wrapper'>
    
        <!-- Header block -->
        {% block header %} 

            {% include "common/header_mobile.html" %}

        {% endblock %}  

        <!-- Content block -->
        {% block content %} 
        <div id='body' class='row'>

            {% if request_message %}
                <div class="flash-messages">
                    <div class="container">
                        <div class="alert text-info">
                            <button class="close" data-dismiss="alert" type="button">
                                <span aria-hidden="true"><i class="fa fa-times"></i></span>
                            </button>
                            {{ request_message }}
                            <input type="hidden" id="is_activate_message" value="{{is_activate_message}}"/>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div id='alert_message' class="bold medium-text small-padding-top small-padding-bottom"></div>

            <div id='main_section'>
                {% block main_section %}
                {% endblock %}
            </div>

            <div id="scroll_top_btn" class="hide">
                <div class="wrapper">
                    <div class='sprite-go-top-icon pointer-cursor'></div>
                </div>
            </div>

            <div id="ajax_loading_icon" >
                <div class='wrapper'>
                    <img src="{{STATIC_URL}}img/apps/body/ajax-loader.gif"/>
                </div>
            </div>

        </div>
        {% endblock %}

        {% block footer %}
            {% include "common/footer.html" %}
        {% endblock %}

    </div>

    <!--  Modal field-->
    <div id='modal_section'> 
        <div class="hidden-xs">
            {% include "common/modal/create_activity_web.html" %}
            {% include "common/modal/create_location_web.html" %}
        </div>
        <div class="visible-xs">
            {% include "common/modal/create_activity_mobile.html" %}
            {% include "common/modal/create_location_mobile.html" %}
        </div>
        {% include "common/modal/request_join_activity.html" %}
        {% include "common/modal/cancel_request_join_activity.html" %}
        {% include "common/modal/cancel_attending_activity.html" %}
        
        <div class="modal fade" id="preview_activity_modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
        
        {% block modal %}        
        {% endblock %}

    </div>

    <!--  Hidden field-->
    <div id="hidden_section">
        {% if user_login %}
            <input type='hidden' id='check_login' value="True">
            <input type='hidden' id='user_login_username' value='{{user_login.username}}'>
        {% else %}
            <input type='hidden' id='check_login' value='False'>
        {% endif %}
        
        <input type="hidden" id="static_url" value="{{STATIC_URL}}" />
        <input type="hidden" id="current_latitude" value="{{current_lat}}" />
        <input type="hidden" id="current_longitude" value="{{current_lng}}" />
        <input type="hidden" id="current_city" value="{{current_city}}"/>
        <input type="hidden" id="current_country" value="{{current_country}}"/>
        <input type="hidden" id="client_ip" value="{{client_ip}}" />
        <input type="hidden" id="short_url" value="{{short_url}}"/>

        {% block hidden %}
        {% endblock %}     

    </div>        
    
    {% block footer_script %} 

        {% dajaxice_js_import %}
        
        {% block map_js %}
            <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
        {% endblock %}

        {% block footer_plugin_scripts %}
            {% load_plugin_js %}
        {% endblock %}

        {% load_global_js %}

        {% block footer_external_scripts %} {% endblock %}
        
        {% block footer_internal_scripts %} 
            {% load_final_level_js %}
        {% endblock %}

        {% block footer_custom_scripts %} {% endblock %}
        
    {% endblock %}

</body>
</html>
