{% load i18n %}
 <html xmlns="http://www.w3.org/1999/xhtml"  xmlns:v="urn:schemas-microsoft-com:vml"> 

 <body onload="initialize()" onunload="GUnload();"> 
  
    <table>

    <tr>
      <td>{% trans "Name" %}:</td>
      <td><input type="text" id="Name" size="20" value="" /></td>
    </tr>
    <tr>
      <td>{% trans "Description" %}:</td>
      <td><input type="text" id="Description" size="20" value="" /></td>
    </tr>
     <tr>
      <td>{% trans "Category" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
    </tr>

      <tr>
      <td>{% trans "Address1" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>

        <tr>
      <td>{% trans "City" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>

        <tr>
      <td>{% trans "State" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>


       <tr>
      <td>{% trans "Zipcode" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>


       <tr>
      <td>{% trans "Country" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>


       <tr>
      <td>{% trans "Rating" %}:</td>
      <td><input type="text" id="Category" size="20" value="" /></td>
      </tr>


    <tr>
      <td><input type="button" onclick="doDirection();" value="get_location" /></td>
    </tr>
    </table>

    <table>
    <tr>
      <td>{% trans "From" %}:</td>
      <td><input type="text" id="Name" size="20" value="" /></td>
    </tr>
    <tr>
      <td>{% trans "To" %}:</td>
      <td><input type="text" id="Description" size="20" value="" /></td>
    </tr>
    <tr>
      <td><input type="button" onclick="doDirection();" value="add_location" /></td>
    </tr>
    </table>
  </body> 
</html> 