<div class="modal fade" id="delete_ticket_modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="delete_ticket_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='{% url "delete_ticket" %}' method="POST" id="delete_ticket_form">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Ticket</h4>
                </div>
                <div class="modal-body">
                    <p>
                    Are you sure that you want to delete ticket?
                    </p>
                    <input type="hidden" id="ticket_id" name="ticket_id" />
                    <input type="hidden" id="activity_unique_id" name="activity_unique_id" value="{{activity.unique_id}}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="delete_ticket_final_btn" class="btn btn-danger btn-sm">Yes, delete it</button>

                </div>
            </form>
        </div>

    </div>
</div>