{% load i18n %}
<div class="modal fade" id="edit_ticket_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <form id="edit_ticket_form" method="post" action="{% url 'edit_ticket' %}" novalidate>
            {% csrf_token %}
                <input type="hidden" id="is_edit_ticket_form_clicked" value="false" />
                <input type="hidden" name="activity_unique_id" value="{{activity.unique_id}}"/>
                <input type="hidden" name="ticket_id" value=""/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Edit Ticket" %}</h4>
                </div>
          
                <div class="modal-body">

                    <div class="error-notice hide">
                        <span>{% trans "There are errors in the form. Plese complete the form correctly" %}</span>
                    </div>
                    
                    <div class="panel-group">   

                        <div class="panel panel-default form-group">
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">      
                                    
                                    <div class="ticket-data row">
                                        <fieldset>
                                            <div class="error-field required hide">
                                                {% trans "Please fill out ticket information" %}
                                            </div>
                                            <label class="pull-left mini-margin-top">
                                                {% trans "Ticket Type" %}
                                            </label>
                                            <div class="input-field pull-left">
                                                <input type="text" name="ticket_type" placeholder="Ex: General Ticket" class="form-control" required='required' >
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="ticket-data row">
                                        <fieldset>
                                            <label class="pull-left mini-margin-top">
                                                {% trans "Currency" %}                    
                                            </label>
                                            <div class="input-field pull-left">
                                                <select title="concurency-new" name="currency" class="form-control">
                                                {% for currency in SHORTCUT_CURRENCY  %}   
                                                    <option value="{{currency}}"> {{currency}} </option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </fieldset>
                                    </div>

                                
                                    <div class="ticket-data row">
                                        <fieldset>
                                            <div class="error-field numeric hide">
                                                {% trans "Please enter a numeric value" %}
                                            </div>
                                            <div class="error-field required hide">
                                                {% trans "Please enter the total available tickets" %}
                                            </div>
                                            <label class="pull-left mini-margin-top">
                                                {% trans "Price" %}                   
                                            </label>
                                            <div class="input-field pull-left" >
                                                <input type="number" name="price" class="form-control" required="required" numeric="numeric">
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="ticket-data row">
                                        <fieldset>
                                            <div class="error-field numeric hide">
                                                {% trans "Please enter a numeric value" %}
                                            </div>
                                            <div class="error-field required hide">
                                                {% trans "Please enter the total available tickets" %}
                                            </div>
                                            <label class="pull-left">
                                                {% trans "Total Available Tickets" %}                  
                                            </label>
                                            <div class="input-field pull-left" id="activity_photo_file" >
                                                <input type="number" name="total_available" class="form-control" required="required" numeric="numeric">
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="ticket-data row">
                                        <fieldset>
                                            <div class="error-field numeric hide">
                                                {% trans "Please enter a numeric value" %}
                                            </div>
                                            <div class="error-field required hide">
                                                {% trans "Please enter the total available tickets" %}
                                            </div>
                                            <label class="pull-left">
                                                {% trans "Max Quantity per Transaction" %}                
                                            </label>
                                            <div class="input-field pull-left" id="activity_photo_file">
                                                <input type="number" name="max_quantity" class="form-control" required="required" numeric="numeric">
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button type="submit" id="edit_ticket_final_btn" class="btn btn-primary btn-sm" >
                        {% trans "Submit" %}
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>