{% extends "apps/about/about_base.html" %}
{% load i18n %}

{% block content %}
<div class="content container medium-margin-top" id="about_us_container">
	<div class="col-md-3">
		<div id="about_us_left">
			
			<div class="panel">
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-users"></i>
					</div>
					<div class="text-uppercase">
						{% trans "About" %}
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="about_list">
					<li class="list-group-item active">
						<a href="">{% trans "Company" %}</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							{% trans "Jobs" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor" >
						<a href="">
							FAQs
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-heading">
					<div class="pull-right">
						<i class="fa fa-gavel"></i>
					</div>
					<div class="text-uppercase">
						Legal
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group" id="legal_list">
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "Privacy" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item pointer-cursor">
						<a href="">
							{% trans "API Terms" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
					<li class="list-group-item">
						<a href="">
							{% trans "Libraries" %}
							<span class="pull-right">
								<i class="fa fa-2x fa-caret-right"></i>
							</span>
						</a>
					</li>
				</ul>
				<div class="panel-footer">
					<div class="text-right">
						Frittie &copy; Copyright 2014
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 row">
		<div class="bubble" id="about_us_right">
			<div class="panel">
				<div class="panel-heading">
					<div class="text-uppercase">
						{% trans "Term of Service" %} 
					</div>
				</div>
				<div class="panel-body">
					<div id="about_text" class="bubble">
						<h4 class="text-bold"></h4>
						<p>
						1. Welcome to Frittie!
   Thanks for using frittie product . The services are provided by Frittie inc ( Frittie) . Located in Hanoi, Vietnam.	
   By using our service, you are going the accept these term below. So please look carefully before you decide.

</p>
<p>
  2. Using our Services
 </p>
 <p>
   a) Your frittie account
  
   You may need Frittie account in order to use Frittie Service. You can create your own Frittie account. 
   To protect your account, keep your password safe . We encode your password account, so you are the only one know about it.
   We support "forgot my password" for your frittie account to reset . 
</p>
<p>
   b) Using Frittie service 

   Frittie also can show content what are not belong to Frittie. We are in charging of keeping the website's environment as clean as we can.
   We may review our content to decice does it violate or be illegal our policies, we can remove or reject to show content that violate our policies or the law.
   But we are not guaranteeing to reviewing all content that we can.     

   We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don’t assume that we do.
   <p>
   </p>
   c) Your content in our Services
   
   Our Service allow you to write, post, upload , submit or receive content. Content what you post belong to your access.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}
