{% extends "apps/watchlist/watchlist_base.html" %}

{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block hidden %}
    <input type='hidden' id="num_activities_load" value="{{length_today_activities}}"/>
{% endblock %}

<!-- {% language 'en' %}
    {% get_current_language as LANGUAGE_CODE %}
    <p>{% trans "Welcome to our page" %}</p>
{% endlanguage %} -->

{% block left_sidebar %}
    <aside class="col-md-2 col-sm-2 sidebar" id="sidebar_left">
        <div id="watchlist_menu">
            <div id="watchlist_title" class="text-center">
                {% trans "Watchlist" %}
            </div>
            <div id="watchlist_content">
                <ul id="watchlist_list" class="list-unstyled nav">
                    <li>
                        <span href="#timeline" data-toggle="collapse" data-parent="#watchlist_list">
                            <i class="fa fa-caret-down"></i>{% trans "Timeline" %}
                        </span>
                        <ul id="timeline" class="collapse in list-unstyled">
                            <li class="active">
                                <a data-value="today" >{% trans "Today" %} <span class="pull-right">{{length_today_activities}}</span></a>
                            </li>
                            <li>
                                <a data-value="yesterday" >{% trans "Yesterday" %} <span class="pull-right">{{length_yesterday_activities}}</span></a>
                            </li>
                            <li>
                                <a data-value="last_week">{% trans "Last Week" %} <span class="pull-right">{{length_last_week_activities}}</span></a>
                            </li>
                            <li>
                                <a data-value="all" >{% trans "All" %} <span class="pull-right">
                                {{length_all_activities}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span href="#upcoming" data-toggle="collapse" data-parent="#watchlist_list">
                            <i class="fa fa-caret-right"></i> {% trans "Upcoming" %}
                        </span>
                        <ul id="upcoming" class="collapse list-unstyled">
                            <li>
                                <a data-value="tomorrow" >{% trans "Tomorrow" %} <span class="pull-right">{{length_tomorrow_activities}}</span></a>
                            </li>
                            <li>
                                <a data-value="next_week">{% trans "Next Week" %} <span class="pull-right">{{length_next_week_activities}}</span></a>
                            </li>
                            <li>
                                <a data-value="next_month">{% trans "Next Month" %} <span class="pull-right">{{length_next_month_activities}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span href="#type" data-toggle="collapse" data-parent="#watchlist_list">
                            <i class="fa fa-caret-right"></i> {% trans "Category" %}
                        </span>
                        <ul id="type" class="collapse list-unstyled">
                            {% for category_key,category_count in activity_category_count.items %}
                                 <li>
                                    <a data-value='{{category_key}}'>
                                        {{activity_categories|get_dictionary_item_value:category_key}} 
                                        <span class="pull-right">{{category_count}}</span>
                                    </a>
                                </li>
                            {% endfor %} 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
{% endblock %}

{% block display_content %} 
    <div class="col-md-8 col-sm-8 col-sm-offset-2 col-md-offset-2" id="content" data-spy="scroll" data-target="#watchlist_content">
        <div class="watchlist-section" >
            <div id="watch_list_box">
                <div class="container">
                    <h5>{% trans "Today" %}</h5>
                    <div class="description mini-margin-top">
                        {{length_today_activities}} {% trans "Events" %} <!-- / <a href="" class="active">View in Details</a> -->
                    </div>
                </div>
                <div class="clearfix"></div>
                <ul id="watchlist_listing_section">
                {% for activity in today_activities %} 
                    {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
                    <li class="activity-item" data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}" onclick="showPreviewActivity('{{activity.unique_id}}')">
                        <div class="item-box" >
                            {% if activity.logo %}
                                <div class="activity-image row">
                                    <div class="activity-date-tag">
                                        {{activity.start_time|display_month}} {{activity.start_time.day}}
                                    </div>
                                    {% thumbnail activity.logo.image "248x170" crop='center' as im %}
                                        <img src="{{im.url}}" width='{{im.width}}' heigh='{{im.height}}'>
                                    {% endthumbnail %}
                                </div>
                            {% else %}
                                <div class="activity-image row no-logo">
                                    <div class="no-logo-cover">
                                        <time datetime="{{activity.start_time.date}}" class="icon">
                                            <em>{{activity.start_time|display_weekday}}</em>
                                            <strong>{{activity.start_time|display_full_month}}</strong>
                                            <span>{{activity.start_time.day}}</span>
                                        </time>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="activity-info row">
                                <div class="name add-dot" data-html-maxlength="20">{{activity.name|words_first_char_upper}}</div>
                                <div class="place">
                                    <span>
                                        {% if is_location_model %}
                                            {{location_object.city}},
                                            {% if location_object.state %}
                                                {{location_object.state}}
                                            {% else %}
                                                {{location_object.country}}
                                            {% endif %}
                                        {% else %}
                                            {{activity.location}}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class='timezone'>
                                    <span>Timezone: 
                                        {% if activity.timezone %}
                                            {{activity.timezone}}
                                        {% else %}
                                            {{DEFAULT_TIMEZONE}}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="more-detail-info row">
                               <div class="num-people-going pull-left">
                                    <div class='sprite-social-avatar-ppl pull-left'></div>
                                    <span>
                                        {{activity.get_total_people_going}} {% trans "people going" %}
                                    </span>
                                </div>
                               <div class="num-watchers pull-right">{{activity.get_watchers|length}} {% trans "watchers" %}</div>
                            </div>
                        </div>
                        <div class="created-time">{% trans "Added" %} {{activity.create_time|display_elapse_time}}</div>
                    </li>
                    {% endwith %}
               {% endfor %}
               </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}





