{% extends "apps/notification/notification_base.html" %} 
{% load i18n %}
{% block left_section %}
	<div class="notification-link medium-margin-top">
		<span class="bold medium-text">{% trans "Notifications" %}</span>
	</div>
	<div class="feed-link small-margin-top">
		<a href="{% url 'feed_main' %}" class="bold medium-text link-color">Feeds</a> 
	</div>
	<div class="message-link small-margin-top">
		<a href="{% url 'message_main' %}" class="bold medium-text link-color">Messages</a> 
	</div>
{% endblock %}

{% block right_section %}
		<div class="header-section">
			{% if new_notifications_count %}
				<span class="bold medium-text">
					{{ new_notifications_count }} {% trans "New Notifications" %}
				</span>
			{% else %}
				<span class="bold medium-text">{% trans "Notifications" %}</span>
			{% endif %}
		</div>

		{% if is_no_notification %}

			<div id="no_notification">
				<span>{% trans "You currently have no notifications" %}</span>
			</div>

		{% else %}

			<div class="body-content ">
				<ul id="notification_list">
					{% for notification in new_notifications %}
						<li class="notification-item new-notification row">
							<div class="user-avatar pull-left">
								<img src="{{notification.notify_from.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
							</div>
							<div class="notification-details pull-left">
								<div class="notification-content add-dot" data-html-maxlength="170">
									{{notification.content|safe}}
								</div>
								<div class="notification-date">
									{{notification.date}}
								</div>
							</div>
						</li>
					{% endfor %}

					{% for notification in old_notifications %}
						<li class="notification-item row">
							<div class="user-avatar pull-left">
								<img src="{{notification.notify_from.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
							</div>
							<div class="notification-details pull-left">
								<div class="notification-content add-dot" data-html-maxlength="170">
									{{notification.content|safe}}
								</div>
								<div class="notification-date">
									{{notification.date}}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>

		{% endif %}
{% endblock %}

