{% extends "apps/member/member_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block title %} 
	<title>
		{{ SITE_NAME_INITIAL_CAPITAL }} - {{user_view.get_profile.get_user_fullname}}
	</title>
{% endblock %}


{% block main_area %}

		<div id="basic_profile" class="pull-left">
			<div class="wrapper">
				<div id="profile_avatar" class="row">
					{% thumbnail user_view.get_profile.avatar.image "180x160" crop="center" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" id="profile_avatar_img">
					{% endthumbnail %}
					<form id="user_avatar_form" action="{% url 'account_update_picture' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div id="update_avatar">
                            <img src="{{STATIC_URL}}img/apps/body/add_picture.gif" alt="" width="16" height="16">
                            <span>{% trans "Update Avatar" %}</span>
                            <input type="file" name="picture" id="update_avatar_file"/>
                            <input type="hidden" name='picture_type' value="avatar"/>
                        </div>
                    </form>
				</div>
				
				<div id="profile_info" class="row small-margin-top" >
					<div class="row mini-margin">
						<div class="pull-left">
							<span class="text">{% trans "User Profile" %}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-padding user-profile-tab active" data-value="attending" id="attending_event_tab">
						<div class="pull-left">
							<span class="text">{% trans "Attending events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{join_activities_count}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="host" id="host_event_tab">
						<div class="pull-left">
							<span class="text">{% trans "Host events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_create_activities|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="watchlist" id="watchlist_event_tab">
						<div class="pull-left">
							<span class="text">{% trans "Watchlist events" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.watchlist.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="my_tickets" id="my_tickets_tab">
						<div class="pull-left">
							<span class="text">{% trans "My tickets" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_tickets|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="my_places" id="my_places_tab">
						<div class="pull-left">
							<span class="text">{% trans "My Places" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_create_locations|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value="interest_places" id="interest_places_tab">
						<div class="pull-left">
							<span class="text">{% trans "Interest Places" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.get_follow_locations|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='following' id="my_following_tab">
						<div class="pull-left">
							<span class="text">{% trans "Following" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.following.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='followers' id="my_follower_tab">
						<div class="pull-left">
							<span class="text">{% trans "Followers" %}</span>
						</div>
						<div class="pull-right">
							<span class="bold">{{user_view.get_profile.followers.all|length}}</span>
						</div>
					</div>
					<div class="hr-line"></div>
					<div class="row mini-margin user-profile-tab" data-value='media' id="media_tab">
						<input type="hidden" id="total_media" value='{{user_view.get_profile.get_all_upload_photos_count}}'/>
						<div class="pull-left">
							<span class="text">{% trans "Media" %}</span>
						</div>
						<div class="pull-right">
							<div class="bold">
								{{user_view.get_profile.get_all_upload_photos_count}} {% trans "Photos" %}
							</div>
						</div>
					</div>
				</div>
				
				{% if user_view.get_profile.privacy_status == "1" %}
					<div id="media_section_preview" class="row">
						<ul class="photo-list">
						{% for photo in user_view_upload_photos %}
							<li class='photo-item'>
								{% thumbnail photo.image "50x50" crop="center" as im %}
								    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='user-photo-thumbnail'>
								{% endthumbnail %}
							</li>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div id="profile_content" class="pull-left">
			<div id="intro_area" >
				<div class="background-pic">
					{% thumbnail user_login.get_profile.cover_picture.image "655x180" crop="center" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}
				</div>
				<form id="user_cover_picture_form" action="{% url 'account_update_picture' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div id="update_cover_picture">
                        <img src="{{STATIC_URL}}img/apps/body/add_picture.gif" alt="" width="16" height="16">
                        <span>{% trans "Update Cover Picture" %}</span>
                        <input type="file" name="picture" id="update_cover_picture_file"/>
                        <input type="hidden" name='picture_type' value="cover_picture"/>
                    </div>
                </form>
				<div id="user_info_profile">
					<div class="row mini-margin-bottom">
						<span class="white-color medium-text bold">
							{{user_view.get_profile.get_user_fullname}}
						</span>
					</div>
					<div class="row">
						<span class="white-color">
							{{user_view.get_profile.basic_info}}
						</span>
					</div>
				</div>
			</div>
			<div id="details_area">
				{% if join_activities_count > 0 %}
					
					{% if happening_activities %}
						<div id="happening_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "CURRENTLY HAPPENING" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{happening_activities|length}} Events</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in happening_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="20">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

					{% if upcoming_activities %}
						<div id="upcoming_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "COMING SOON" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{upcoming_activities|length}} {% trans "Events" %}</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in upcoming_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="20">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

					{% if past_activities %}
						<div id="past_activities">
							<div class="section-header row">
								<div class="row">
									<h4>{% trans "PAST" %}</h4>
								</div>
								<div class="row">
									<span class="count-item">{{past_activities|length}} {% trans "Events" %}</span>
								</div>
							</div>
							<div class="section-body row">
								<ul id="activity_list" class="row">
									{% for activity in past_activities %}
										<li class='activity-item'>
											<div class="activity-logo row">
												<a href="/activity/{{activity.unique_id}}">
													<img src="{{activity.logo.image.url}}" class="item-photo"/>
												</a>
											</div>
											<div class="activity-time row">
													{% if activity.start_time|istoday %}
		                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
		                                            {% elif activity.start_time|istomorrow %}
		                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
		                                            {% else %}
		                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
		                                            {% endif %}
											</div>
											<div class="activity-name row">
												<a class="preview-activity" id="{{activity.unique_id}}">
			                                      	<span class="bold medium-text add-dot" data-html-maxlength="20">
			                                           	{{activity.name.upper}}
			                                       	</span>
			                                    </a>
											</div>
											<div class="activity-place row">
												<div class="image pull-left">
		                                            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
		                                        </div>
		                                        <div class="text mini-margin-left pull-left">
		                                            <div class="row">
		                                                <span class="place-name add-dot" data-html-maxlength="20">
		                                                    {{activity.location.name}} 
		                                                </span>
		                                            </div>
		                                            <div class="row">
		                                                <span class="place-position">
		                                                    {{activity.location.city}},
		                                                    {% if activity.location.state %}
		                                                        {{activity.location.state}}
		                                                    {% else %}
		                                                        {{activity.location.country}}
		                                                    {% endif %}
		                                                </span>
		                                            </div>
		                                        </div>
											</div>
											<div class="activity-going row">
												<div class="image pull-left">
                                            		<img src="{{STATIC_URL}}img/apps/explore/post_content/social_avatar_ppl.png" />
                                        		</div>
                                        		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                            		<span class="bold">
                                            			{{activity.user_join.all|length}} {% trans "people" %}
                                            		</span> {% trans "are going" %}
                                        		</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}

				{% else %}
					<div id="no_item">
						<span>{% trans "You are currently not attending any events" %}.</span>
					</div>
				{% endif %}
			</div>
		</div>

{% endblock %}
