{% extends "apps/member/member_base.html" %}
{% load i18n %}

{% block main_section %}
<div id="setting_section">
	{% if form.is_multipart %}
		<form id="settings_form" enctype="multipart/form-data" method="post" action="{% url 'account_settings' %}">{% csrf_token %}
	{% else %}
		<form id="settings_form" method="post" action="{% url 'account_settings' %}">{% csrf_token %}
	{% endif %}

		<div class="title row medium-margin-top medium-margin-bottom">
			<div class="wrapper bold align-center extra-large-text">
				{% trans "Account Settings" %}
			</div>
		</div>

		<div class="content row">
			{{form.non_field_errors}}
			<div class="username row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Username" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.username.errors}}
					{{form.username}}
				</div>
			</div>

			<div class="password row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top mini-margin-bottom">
						{% trans "Password" %}
					</label>
				</div>
				<div class="pull-left second-column">
					<div class="wrapper mini-margin-top">
						<a href="{% url 'account_change_password' %}" class="bold link-color underline">{% trans "Change your password" %}</a>
					</div>
				</div>
			</div>

			<div class="first-name row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "First Name" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.first_name.errors}}
					{{form.first_name}}
				</div>
			</div>

			<div class="last-name row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Last Name" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.last_name.errors}}
					{{form.last_name}}
				</div>
			</div>

			<div class="email row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Email" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.email.errors}}
					{{form.email}}
				</div>
			</div>

			<div class="gender row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top mini-margin-bottom">
						{% trans "Gender" %}
					</label>
				</div>
				<div class="pull-left second-column">
					<div class="wrapper mini-margin-top">
						{{ form.gender.errors }}
						{% if user_login.get_profile.gender == "1" %}
					 		<div class="pull-left large-margin-right">    
                            	<label>
                					<input name="gender" type="radio" checked="checked" value="1">
                					<span class="bold normal-text">{% trans "Male" %}</span>
    							</label>
							</div>
                            <div class="pull-left">        
                            	<label>
                					<input name="gender" type="radio" value="0">
                					<span class="bold normal-text">{% trans "Female" %}</span>
    							</label>
							</div> 
						{% else %}
                            <div class="pull-left large-margin-right">     
                            	<label>
                					<input name="gender" type="radio" value="1">
                					<span class="bold normal-text">{% trans "Male" %}</span>
    							</label>
							</div>
                            <div class="pull-left">        
                            	<label>
                					<input name="gender" type="radio" checked="checked" value="0">
                					<span class="bold normal-text">{% trans "Female" %}</span>
    							</label>
							</div>  
						{% endif %}
					</div>
				</div>
			</div>

			<div class="basic-info row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Basic Info" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.basic_info}}
				</div>
			</div>

			<div class="birthday row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Birthday" %} 
					</label>
				</div>
				<div class="pull-left second-column">
					<div class="medium-margin-right pull-left month">{{form.birthday_month}}</div>
					<div class="medium-margin-right pull-left day">{{form.birthday_day}}</div>
					<div class="pull-left year">{{form.birthday_year}}</div>
				</div>
			</div>	

			<div class="avatar row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Avatar" %} 
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.avatar}}
				</div>
				<div class="pull-right third-column">
					<div class="wrapper">
						{% if user_login.get_profile.avatar %}
	                      	<img src="{{user_login.get_profile.avatar.image.url}}" id="setting_avatar_image"/>
	                    {% endif %}
                    </div>
				</div>
			</div>	

			<div class="city row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "City" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.city.errors}}
					{{form.city}}
				</div>
			</div>	

			{% if user_login.get_profile.country == "United States of America" %}
				<div class="state row setting-data-field" >
					<div class="pull-left first-column">
						<label class="bold mini-margin-top">
							{% trans "State" %}
						</label>
					</div>
					<div class="pull-left second-column">
						{{form.state.errors}}
						{{form.state}}
					</div>
				</div>	
			{% else %}
				<div class="state row setting-data-field hide" >
					<div class="pull-left first-column">
						<label class="bold mini-margin-top">
							{% trans "State" %}
						</label>
					</div>
					<div class="pull-left second-column">
						{{form.state.errors}}
						{{form.state}}
					</div>
				</div>	

			{% endif %}

			<div class="country row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Country" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.country.errors}}
					{{form.country}}
				</div>
			</div>	

			<div class="privacy-status row setting-data-field">
				<div class="pull-left first-column">
					<label class="bold mini-margin-top">
						{% trans "Privacy Status" %}
					</label>
				</div>
				<div class="pull-left second-column">
					{{form.privacy_status.errors}}
					{{form.privacy_status}}
				</div>
			</div>	
		</div>

		<div class="action large-padding-right medium-margin-bottom medium-margin-top row">
			<!-- <div class="pull-left">
				<div class="wrapper mini-margin-top">
					<a href="/deactivate/" class="bold danger-color underline" data-toggle="modal" data-target="#delete_account_modal">Delete Account</a>
				</div>
			</div> -->
			<div class="pull-right">
				<div class="wrapper">
					<input type="submit" class="btn btn-primary btn-sm" value="Save changes"/>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block footer %}
	{% include "common/footer.html" %}
{% endblock %}
