{% load frittie_main %}
{% load i18n %}
{% load thumbnail %}

{% with ticket_transactions_count=ticket_transactions|length %}
	{% if ticket_transactions_count > 0 %}
		<div>
			<div class="section-header row">
				<div class="row">
					<h4>{% trans "MY TICKETS" %}</h4>
				</div>
				<div class="row">
					<span class="count-item">{{ticket_transactions_count}} {% trans "tickets" %}</span>
				</div>
			</div>
			<div class="section-body row">
				<ul id="activity_list" class="row small-margin-left small-margin-right">
					{% for activity in activities %}

						<div class='row'>
							<h4>Activity: <a href='/activity/{{activity.unique_id}}'>{{activity.name}}</a></h4>
						</div>
						<div class='row'>
							<table class="table">
                                <thead>
                                    <th class='align-center'> {% trans "Ticket name" %} </th>
									<th class='align-center'> {% trans "Price" %} </th>
									<th class='align-center'> {% trans "Quantity" %} </th>
									<th class='align-center'> {% trans "Total" %} </th>
                                </thead>
                                <tbody>
                                    {% for ticket_transaction in ticket_transactions %}  
                                    	{% if ticket_transaction.activity.unique_id == activity.unique_id %} 
		                                    <tr class="ticket-data" data-ticket-id='{{ticket.id}}'>
		                                        <td class="align-center name">
		                                            {{ticket_transaction.ticket.ticket_name|words_first_char_upper}}
		                                        </td>
		                                        <td class="align-center price">
		                                            {{ticket_transaction.ticket.price|display_price:ticket_transaction.ticket.currency}}
		                                        </td>
		                                        <td class="align-center total-available-quantity">
		                                            {{ticket_transaction.quantity}}
		                                        </td>
		                                        <td class="align-center maximum-quantity-transaction">
		                                            {{ticket_transaction.total_cost|display_price:ticket_transaction.ticket.currency}}
		                                        </td>
		                                    </tr>
	                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
						</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% else %}
		<div id="no_item">
			<span>
				{% trans "You currently don't have any ticket" %}.
			</span>
		</div>
	{% endif %}
{% endwith %}