{% load thumbnail %}

{% for photo in photos %}
	{% if forloop.counter0|divisibleby:4 %}
		<li class='photo-item first-in-row'>
	{% else %}
		<li class="photo-item">
	{% endif %}
			<a href="/photo/{{photo.photo_type}}/{{photo.object_unique_id}}?current_photo={{photo.unique_id}}">
				{% thumbnail photo.image "50x50" crop='center' as im %}
					<img src="{{im.url}}" class="upload-photo" ald="Upload Photo" data-src='holder.js/50x50' width='{{im.width}}' height='{{im.height}}'/>
				{% endthumbnail %}
			</a>
		</li>
{% endfor %}