{% load i18n %}
{% load thumbnail %}

{% if photos_count > 0 %}
	<input type="hidden" id="num_media_load" value="{{photos_count}}"/>
	<div>
		<div class="section-header row">
			<div class="row">
				<h4>{% trans "MEDIA" %}</h4>
			</div>
			<div class="row">
				<span class="count-item">
					{% if photos_count > 1_%}
						{{photos_count}} {% trans "photos" %}
					{% else %}
						{{photos_count}} {% trans "photo" %}
					{% endif %}
				</span>
			</div>
		</div>
		<div class="section-body row">
			<ul id="photo_list" class="row">
				{% for photo in photos %}
					{% if forloop.counter0|divisibleby:4 %}
						<li class='photo-item first-in-row'>
					{% else %}
						<li class="photo-item">
					{% endif %}
							<a href="/photo/{{photo.photo_type}}/{{photo.object_unique_id}}?current_photo={{photo.unique_id}}">
								{% thumbnail photo.image "150x150" crop='center' as im %}
									<img src="{{im.url}}" data-src='holder.js/150x150' class="upload-photo" ald="Upload Photo" width='{{im.width}}' height='{{im.height}}'/>
								{% endthumbnail %}
							</a>
						</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% else %}
	<div id="no_item">
		<span>
			{% trans "You currently don't have any upload photo" %}.
		</span>
	</div>
{% endif %}