{% load frittie_main %}
{% load i18n %}
{% load thumbnail %}

{% if activities_count > 0 %}
	<input type="hidden" id="num_activities_load" value="{{activities_count}}" />
		
		{% if happening_activities %}
			<div id="happening_activities">
				<div class="section-header row">
					<div class="row">
						<h4>{% trans "CURRENTLY HAPPENING" %}</h4>
					</div>
					<div class="row">
						<span class="count-item">{{happening_activities|length}} {% trans "Events" %}</span>
					</div>
				</div>
				<div class="section-body row">
					<ul id="activity_list" class="row">
						{% for activity in happening_activities %}
							{% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
							<li class='activity-item' data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}">
								<div class="activity-logo row">
									<a href="/activity/{{activity.unique_id}}">
										{% if activity.logo %}
											{% thumbnail activity.logo.image "180x120" crop='center' as im %}
												<img src="{{im.url}}" class="item-photo" width='{{im.width}}' height='{{im.height}}'/>
											{% endthumbnail %}
										{% else %}
											<img data-src='holder.js/180x120/text:No Picture' class='item-photo'/>
										{% endif %}
									</a>
								</div>
								<div class="activity-time row">
										{% if activity.start_time|istoday %}
                                            {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                                        {% elif activity.start_time|istomorrow %}
                                            {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                                        {% else %}
                                            {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                                        {% endif %}
								</div>
								<div class="activity-name row">
									<a class="preview-activity" onclick="showPreviewActivity('{{activity.unique_id}}')">
                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
                                           	{{activity.name.upper}}
                                       	</span>
                                    </a>
								</div>
								<div class="activity-place row">
									<div class='pull-left sprite-location-pin'></div>
                                    <div class="text mini-margin-left pull-left">
                                        <div class="row">
                                            <span class="place-name add-dot" data-html-maxlength="20">
                                            	{% if is_location_model %}
                                                	{{location_object.name}}
                                                {% else %}
                                                	{{activity.location}}
                                                {% endif %} 
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="place-position">
												{% if is_location_model %}
													{{location_object.city}},
													{% if location_object.state %}
														{{location_object.state}}
													{% else %}
														{{location_object.country}}
													{% endif %}
												{% endif %}
                                            </span>
                                        </div>
                                    </div>
								</div>
								<div class="activity-going row">
									<div class='sprite-social-avatar-ppl pull-left'></div>
                            		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                		<span class="bold">
                                			{{activity.user_join.all|length}} {% trans "people" %}
                                		</span> {% trans "are going" %}
                            		</div>
								</div>
							</li>
							{% endwith %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}

		{% if upcoming_activities %}
			<div id="upcoming_activities">
				<div class="section-header row">
					<div class="row">
						<h4>{% trans "COMING SOON" %}</h4>
					</div>
					<div class="row">
						<span class="count-item">{{upcoming_activities|length}} {% trans "Events" %}</span>
					</div>
				</div>
				<div class="section-body row">
					<ul id="activity_list" class="row">
						{% for activity in upcoming_activities %}
							{% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
							<li class='activity-item' data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}">
								<div class="activity-logo row">
									<a href="/activity/{{activity.unique_id}}">
										{% if activity.logo %}
											{% thumbnail activity.logo.image "180x120" crop='center' as im %}
												<img src="{{im.url}}" class="item-photo" width='{{im.width}}' height='{{im.height}}'/>
											{% endthumbnail %}
										{% else %}
											<img data-src='holder.js/180x120/text:No Picture' class='item-photo'/>
										{% endif %}
									</a>
								</div>
								<div class="activity-time row">
										{% if activity.start_time|istoday %}
                                            {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                                        {% elif activity.start_time|istomorrow %}
                                            {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                                        {% else %}
                                            {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                                        {% endif %}
								</div>
								<div class="activity-name row">
									<a class="preview-activity" onclick="showPreviewActivity('{{activity.unique_id}}')">
                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
                                           	{{activity.name.upper}}
                                       	</span>
                                    </a>
								</div>
								<div class="activity-place row">
									<div class='pull-left sprite-location-pin'></div>
                                    <div class="text mini-margin-left pull-left">
                                        <div class="row">
                                            <span class="place-name add-dot" data-html-maxlength="20">
                                                {{activity.location.name}} 
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="place-position">
                                                {% if is_location_model %}
													{{location_object.city}},
													{% if location_object.state %}
														{{location_object.state}}
													{% else %}
														{{location_object.country}}
													{% endif %}
												{% else %}
													{{activity.location}}
												{% endif %}
                                            </span>
                                        </div>
                                    </div>
								</div>
								<div class="activity-going row">
									<div class='sprite-social-avatar-ppl pull-left'></div>
                            		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                		<span class="bold">
                                			{{activity.user_join.all|length}} {% trans "people" %}
                                		</span> {% trans "are going" %}
                            		</div>
								</div>
							</li>
							{% endwith %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}

		{% if past_activities %}
			<div id="past_activities">
				<div class="section-header row">
					<div class="row">
						<h4>{% trans "PAST" %}</h4>
					</div>
					<div class="row">
						<span class="count-item">{{past_activities|length}} {% trans "Events" %}</span>
					</div>
				</div>
				<div class="section-body row">
					<ul id="activity_list" class="row">
						{% for activity in past_activities %}
							{% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
							<li class='activity-item' data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}">
								<div class="activity-logo row">
									<a href="/activity/{{activity.unique_id}}">
										{% if activity.logo %}
											{% thumbnail activity.logo.image "180x120" crop='center' as im %}
												<img src="{{im.url}}" class="item-photo" width='{{im.width}}' height='{{im.height}}'/>
											{% endthumbnail %}
										{% else %}
											<img data-src='holder.js/180x120/text:No Picture' class='item-photo'/>
										{% endif %}
									</a>
								</div>
								<div class="activity-time row">
										{% if activity.start_time|istoday %}
                                            {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                                        {% elif activity.start_time|istomorrow %}
                                            {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                                        {% else %}
                                            {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                                        {% endif %}
								</div>
								<div class="activity-name row">
									<a class="preview-activity" onclick="showPreviewActivity('{{activity.unique_id}}')">
                                      	<span class="bold medium-text add-dot" data-html-maxlength="15">
                                           	{{activity.name.upper}}
                                       	</span>
                                    </a>
								</div>
								<div class="activity-place row">
									<div class='pull-left sprite-location-pin'></div>
                                    <div class="text mini-margin-left pull-left">
                                        <div class="row">
                                            <span class="place-name add-dot" data-html-maxlength="20">
                                                {{activity.location.name}} 
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="place-position">
                                                {% if is_location_model %}
													{{location_object.city}},
													{% if location_object.state %}
														{{location_object.state}}
													{% else %}
														{{location_object.country}}
													{% endif %}
												{% else %}
													{{activity.location}}
												{% endif %}
                                            </span>
                                        </div>
                                    </div>
								</div>
								<div class="activity-going row">
									<div class='sprite-social-avatar-ppl pull-left'></div>
                            		<div class="text pull-left activity-gray-color normal-text mini-margin">
                                		<span class="bold">
                                			{{activity.user_join.all|length}} {% trans "people" %}
                                		</span> {% trans "are going" %}
                            		</div>
								</div>
							</li>
							{% endwith %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}

	{% else %}
		<div id="no_item">
			<span>
				{% if load_type == "host" %} 
					{% trans "You are currently not hosting any events" %}.  
				{% elif load_type == "attending" %}
					{% trans "You are currently not attending any events" %}.
				{% else %}
					{% trans "You currently don't have any events in your watchlist" %}.
				{% endif %}
			</span>
		</div>
	{% endif %}