{% load frittie_main %}
{% load i18n %}
{% load thumbnail %}

{% if locations_count > 0 %}
	<div id="interest_places">
		<div class="section-header row">
			<div class="row">
				<h4>{% trans "FOLLOWING PLACES" %}</h4>
			</div>
			<div class="row">
				<span class="count-item">{{locations_count}} {% trans "places" %}</span>
			</div>
		</div>
		<div class="section-body row">
			<ul id="location_list" class="row">
				{% for location in locations %}
					<li class='location-item'>
						<div class="location-main-picture row">
							<a href="/location/{{location.unique_id}}">
								{% if location.main_picture %}
									{% thumbnail location.main_picture.image "180x135" crop='center' as im %}
										<img src="{{im.url}}" class="item-photo" width='{{im.width}}' height='{{im.height}}'/>
									{% endthumbnail %}
								{% else %}
									<img data-src='holder.js/180x135/text:No Picture' class="item-photo"/>
								{% endif %}
							</a>
						</div>
						<div class="location-name row">
							<a href="/location/{{location.unique_id}}">
                              	{{location.name|words_first_char_upper}}
                            </a>
						</div>
						<div class="location-category row">
       						<span class="bold">{% trans "Category" %}:</span>
        					<span>{{location.get_category}}</span>
						</div>
						<div class="location-address row">
							<div>
                           		{{location.address1}}
                           	</div>
                           	<div>
                           		{{location.city}},
                           		{% if location.state %}
                                  	{{location.state}} {{location.zip_code}} 
                                {% else %}
                                    {{location.country}}
                                {% endif %}
							</div>
						</div>
						<div class="location-additional-info row">
							<div class="location-follower pull-left">
								{% with followers_count=location.follow_by.all|length %}
                                    <span>
                                        {{followers_count}} 
                                        {% if followers_count > 1 %}
                                            {% trans "followers" %}
                                        {% else %} 
                                            {% trans "follower" %}
                                        {% endif %}
                                    </span>
                                {% endwith %}
							</div>
							<div class="location-num-activity pull-left">
                                {% with activity_count=location.get_all_activities.all|length %}
                                    <span>
                                        {{activity_count}} 
                                        {% if activity_count > 1 %}
                                            {% trans "activities" %}
                                        {% else %} 
                                            {% trans "activity" %}
                                        {% endif %}
                                    </span>
                                {% endwith %}
                            </div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% else %}
	<div id="no_item">
		<span>
			{% trans "You are currently not following any place" %}.
		</span>
	</div>
{% endif %}