{% load i18n %}
{% load frittie_main %}
{% if users_count > 0 %}
	<div>
		<div class="section-header row">
			<div class="row">
				{% if user_type == "following" %}
					<h4>{% trans "FOLLOWING" %}</h4>
				{% else %}
					<h4>{% trans "FOLLOWERS" %}</h4>
				{% endif %}
			</div>
			<div class="row">
				<span class="count-item">{{users_count}} {% trans "places" %}</span>
			</div>
		</div>
		<div class="section-body row">
			<ul id="user_list" class="row">
				{% for user in users %}
					<li class='user-item'>
						<div class="user-avatar pull-left">
							<a href="/people/{{user.username}}">
								<img src="{{user.get_profile.avatar.image.url}}" class="item-photo"/>
							</a>
						</div>
						<did class="user-profile pull-left">
							<div class="user-fullname row">
								<a href="/people/{{user.username}}" class="add-dot" data-html-maxlength="15">
                              		{{user.get_profile.get_user_fullname|words_first_char_upper}}
                            	</a>
                            </did>
                            <div class="user-num-follower row">
                            	<span>{{user.followers.all|length}} {% trans "followers" %}</span>
                            </div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% else %}
<div id="no_item">
	<span>
		{% if user_type == "following" %}
			{% trans "You are currently not following any user" %}
		{% else %}
			{% trans "You currently don't have any followers" %}
		{% endif %}
	</span>
</div>
{% endif %}