{% extends "base.html" %}

{% block header_scripts %}
	<script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?2A7qtOcFAI7rsg8wyoUo4aVQaeqdtc3b';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
{% endblock %}

{% block header_css %}
    {% if stage == "dev" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/apps/about_us.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/prod/stylesheets/about_us.min.css" type="text/css" />
    {% endif %}
{% endblock %}