{% extends "apps/location/location_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block wide_column %}
    <div class="location-info-section ">
        <div class="location-header">
            <div class="main-picture pull-right">
                <div class="row">
                    {% if location.main_picture %}
                        {% thumbnail location.main_picture.image "88x88" crop='center' as im %}
                            <img src="{{im.url}}" width="{{im.width}}" height='{{im.height}}' id='location_main_picture'>
                        {% endthumbnail %}
                    {% else %}
                        <img  data-src='holder.js/88x88/text:No Picture' id='location_main_picture'>
                    {% endif %}
                </div>
                <div class="row align-center mini-margin-top">
                    <form id="main_picture_form" action="/location/{{location.unique_id}}/update/picture/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <a href="#" id="change_logo" class="link-color">
                            <input type="file" name='picture' id="update_main_picture_file"/>
                            <span>{% trans "Change Logo" %}</span>
                        </a>
                    </form>
                </div>
            </div>
            <div class="primary-info pull-left">
                <h3 class="location-name" itemprop="name">
                    {{location.name|words_first_char_upper}}
                </h3>
                <div class="categories mini-margin-top">
                    <span class="bold">{% trans "Category" %}:</span>
                    <span class='mini-margin-left'>{{location.get_category}}</span>
                </div>
                <div class="location-address">
                    <div class="address" itemprop="address" >
                        <span class="street-address">
                            {{location.get_address}}
                        </span>  
                    </div>
                </div>
                <div class="location-button medium-margin-top">
                    <a href="#" class="pull-left small-margin-right link-color" data-target="#edit_location_modal" data-toggle="modal" data-backdrop='static'>
                        {% trans "Edit" %}
                    </a>
                    <a href="#" class="pull-left small-margin-right link-color" data-target="#delete_location_modal" data-toggle="modal" data-backdrop='static'>
                        {% trans "Delete" %}
                    </a>
                    <a href="#" id="add_photo_btn" class="small-margin-right pull-left link-color" data-toggle="modal" data-target="#add_photo_modal" data-backdrop='static'>
                        {% trans "Add photo" %}
                    </a>
                   <a href="/photo/location/{{location.unique_id}}" id="view_all_photo" class="link-color">
                        {% trans "View all photos" %}
                    </a>
                </div>
            </div>
        </div>


        <div class="location-attributes">
            <div class="basic-info">
                <div class="location-basic-attr pull-left">
                    <div class="basic-attr-key">
                        <div class='sprite-direction-icon'></div>
                    </div>
                    <div class="basic-attr-value">
                        <a href="http://maps.google.com/maps?daddr={{location.lat}},{{location.lng}}" rel="nofollow" target="_blank" class="directions-link">
                          {% trans "Direction" %}
                        </a>
                    </div>
                </div>
                {% if location.website_link %}
                    <div class="location-basic-attr pull-left large-margin-left">
                        <div class="basic-attr-key">
                            <div class='sprite-website-link-icon'></div>
                        </div>
                        <div class="basic-attr-value">
                            <a href="{{location.website_link}}" class="website-link">
                                {% trans "Website" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if location.phone %}
                    <div class="location-basic-attr pull-left large-margin-left">
                        <div class="basic-attr-key">
                            <div class='sprite-phone-icon'></div>
                        </div>
                        <div class="basic-attr-value">
                            <span>{{location.phone}}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="location-basic-attr pull-right small-margin-right">
                    <div class="basic-attr-key">
                        <span class="follower">{% trans "Followers" %}: </span>
                    </div>
                    <div class="basic-attr-value">
                        <span id="follower_count" >{{location.follow_by.all|length}}</span>
                    </div>
                </div>
            </div>
            <div class="description-detail">
              {{location.description|safe}}
            </div>
        </div>
        <div id="action_bar" class="location-actions row">
            <div class="create-event pull-left">
                <input type="button" id="create_event_here_button" class="btn btn-success btn-sm" value="Create Event" />
                <input type="hidden" id="is_create_event_here_modal" value="false"/>
            </div>
            <div class="share pull-right">
              <button id="share_button" class="btn btn-default btn-sm pull-right">{% trans "Share" %}</button>
            </div>
        </div>
    </div>

    {% with hot_activities=location.get_hot_activities.all hot_activities_count=location.get_hot_activities.all|length %}                
        <div class="activity-section">
            <div class="activity-section-header row">
                <h5 class="activity-count pull-left mini-margin-top">{{hot_activities_count}} {% trans "Activities" %}</h5>
                <div class="filter-area pull-right">
                    <div class="sort-controls pull-left medium-margin-right mini-margin-top">
                        <span class="gray-color">{% trans "Sort" %}: </span>
                        <span class="selected sort-link" data-sort="hot">{% trans "Hot" %} </span>
                        /
                        <span class='sort-link' data-sort="upcoming"> {% trans "Upcoming" %}</span>
                    </div>
                    <div class="date-controls pull-left">
                        <div class="input-append date" id="datepicker" data-date="{{now|us_date_format}}" data-date-format="mm-dd-yyyy">
                            <input class="span2" id="datepicker_value" size="16" type="text" value="{{now|us_date_format}}">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-section-body row">
                {% if hot_activities_count > 0 %}
                    <ul id='activity_list'>
                        {% for activity in hot_activities %}
                            <li class="activity-item row {% if hot_activities_count != 1 %} {% if forloop.first %} first {% elif forloop.last %} last {% endif %} {% endif %}" data-unique-id="{{activity.unique_id}}">
                                <div class="activity-logo pull-left image-container">
                                    <a href="/activity/{{activity.unique_id}}">
                                        {% thumbnail activity.logo.image "130x130" crop='center' as im %}
                                            <img src="{{im.url}}" photo-id="{{activity.logo.unique_id}}" width='{{im.width}}' height='{{im.height}}'/>
                                        {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="activity-info pull-left">
                                    <div class="name">
                                        <a href="/activity/{{activity.unique_id}}">
                                            {{activity.name|words_first_char_upper}}
                                        </a>
                                    </div>
                                    <div class="description add-dot" data-html-maxlength="210">
                                        {{activity.description|safe}}
                                    </div>
                                    <div class="time">
                                        <span>
                                            {% if activity.start_time|istoday %}
                                                {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                                            {% elif activity.start_time|istomorrow %}
                                                {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                                            {% else %}
                                                {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="people-going">
                                        <div class="image pull-left">
                                            <div class='sprite-social-avatar-ppl'></div>
                                        </div>
                                        <div class="text pull-left normal-text mini-margin">
                                            <span class="bold">
                                                {{activity.user_join.all|length}} {% trans "people" %}
                                            </span>  
                                            {% trans "are going" %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>   
                {% else %}
                    <div id="no_activity">
                        <span>{% trans "There are no activity at this place. Let's make one" %}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        
    {% endwith %}

    <div class="comment-section">

        <div class="comment-section-header">
            <h5 class="comments-count">{{location.comments.all|length}} {% trans "Comments" %}</h5>
        </div>

        <div class="add-comment-section">
            <div class="add-comment-block">
                <a href="/{{user_login.username}}" class="user-image pull-left">
                    {% thumbnail user_login.get_profile.avatar.image "32x32" crop='center' as im %}
                        <img src="{{im.url}}" alt="{{user_login.first_name}} {{user_login.last_name}}" class="avatar" width="{{im.width}}" height="{{im.height}}" title="{{user_login.first_name}} {{user_login.last_name}}">
                    {% endthumbnail %}
                </a>
                <div class="add-comment-area pull-left">
                    <span class="input-holder">
                        <textarea id="comment_textarea" class="form-style" cols="55" tabindex="1" rows="4" placeholder="Leave comment for this place..."></textarea>
                        
                    </span>
                    <span class="char-count"></span>
                    <p class="input-error"></p>
                </div>
                <div class="button-area pull-right">
                    <button class="btn btn-success btn-sm" id="publish_comment_btn" value="add">{% trans "Publish" %}</button>
                    <button class="btn btn-sm btn-default hide" id="cancel_edit_comment_btn">{% trans "Cancel" %}</button>
                    <input type="hidden" id="selected_comment_unique_id" value=""/>
                </div>
            </div>
        </div>

                 
        {% with comments=location.get_latest_comments.all %}
            <div class="comment-section-body">       
                <div id="comment_container">
                    <ul id="comment_list">

                    {% for comment in comments %}

                        <li class="comment-item" data-unique-id="{{comment.unique_id}}">
                            <div class="author-image">
                                <a href="/{{comment.user.username}}">
                                    <img src="{{comment.user.get_profile.avatar.image.url}}" alt="{{comment.user.first_name}}" class="avatar " title="{{comment.user.first_name}}">
                                </a>
                            </div>
                            <div class="comment-contents">
                                <p class="comment-text">{{comment.content}}</p>
                                <div class="comment-info">
                                    <span class="username">
                                        <a href="/{{comment.user.username}}">{{comment.user.first_name}}</a>
                                    </span> · 
                                    {% if comment.edit_date %}
                                        <span class="comment-date">
                                            {% trans "Edited at" %} {{comment.edit_date}}
                                        </span>
                                    {% else %}
                                        <span class="comment-date">
                                            {{comment.create_date}}
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="action-buttons">
                                    {% if comment.user.username == user_login.username %}
                                        <a class="edit-comment-button" onclick="initEditComment(this)">
                                            <span>{% trans "Edit" %}</span>
                                        </a>
                                        <a class="delete-comment-button" data-toggle="modal" data-target="#delete_comment_modal" onclick="initDeleteComment(this)">
                                            <span>{% trans "Delete" %}</span>
                                        </a>
                                    {% else %}
                                        <a class="report-comment-button" data-toggle="modal" data-target="#report_comment_modal">
                                            <span>{% trans "Report" %}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        {% endwith %}
    </div>
{% endblock %}

{% block narrow_column %}
    <div class="map-section">
        <div id="location_map_canvas"></div>
    </div>

    <div class="panel panel-default medium-margin-top" id="location_business_hour_panel">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Business Hour" %}</div>
        </div>
        <div class="panel-body">

        {% with business_hours=location.get_business_hours %}
            
            <div class='row small-margin-bottom' id='current_business_hours'>
                {% if business_hours %}
                <ul id='business_hour_list'>
                    {% for weekday,open_hours in business_hours.items %}
                        <li class='business-hour-item row'>
                            <div class='weekday-column pull-left'>
                                <span class='bold medium-text'>{{weekday|display_weekday_from_int}}</span>
                            </div>
                            <div class='open-hour-column pull-left '>
                                {% for open_hour in open_hours %}
                                    <div class='open-hour-item row'>
                                        <span class='medium-text'>{{open_hour.display}}</span>
                                        <span class="mini-margin-top pull-right glyphicon glyphicon-remove delete-business-hour-btn hide pointer-cursor" data-business-hour-id='{{open_hour.id}}' onclick='deleteBusinessHour(this)'></span>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class='align-center'>
                    <span class='bold'>{% trans "Add business hour for your place if needed" %}</span>
                </div>
                {% endif %}
            </div>
        {% endwith %}

            <div class='row'>
                <ul id='business_hour_data'>
                    <li class='business-hour-data-item weekday'>
                        <select class="form-control" id='weekday_select'>
                            <option value="0">{% trans "Mon" %}</option>
                            <option value="1">{% trans "Tue" %}</option>
                            <option value="2">{% trans "Wed" %}</option>
                            <option value="3">{% trans "Thu" %}</option>
                            <option value="4">{% trans "Fri" %}</option>
                            <option value="5">{% trans "Sat" %}</option>
                            <option value="6">{% trans "Sun" %}</option>
                        </select>
                    </li>
                    <li class='business-hour-data-item hours-start'>
                        <select class=" form-control" id='hours_start_select'>
                            <option value="12:00 am (midnight)">12:00 am ({% trans "midnight" %})</option>
                            <option value="12:30 am">12:30 am </option>
                            <option value="1:00 am">1:00 am </option>
                            <option value="1:30 am">1:30 am </option>
                            <option value="2:00 am">2:00 am </option>
                            <option value="2:30 am">2:30 am </option>
                            <option value="3:00 am">3:00 am </option>
                            <option value="3:30 am">3:30 am </option>
                            <option value="4:00 am">4:00 am </option>
                            <option value="4:30 am">4:30 am </option>
                            <option value="5:00 am">5:00 am </option>
                            <option value="5:30 am">5:30 am </option>
                            <option value="6:00 am">6:00 am </option>
                            <option value="6:30 am">6:30 am </option>
                            <option value="7:00 am">7:00 am </option>
                            <option value="7:30 am">7:30 am </option>
                            <option value="8:00 am">8:00 am </option>
                            <option value="8:30 am">8:30 am </option>
                            <option value="9:00 am" selected="">9:00 am </option>
                            <option value="9.30 am">9:30 am </option>
                            <option value="10:00 am">10:00 am </option>
                            <option value="10:30 am">10:30 am </option>
                            <option value="11:00 am">11:00 am </option>
                            <option value="11:30 am">11:30 am </option>
                            <option value="12:00 pm (noon)">12:00 pm ({% trans "noon" %})</option>
                            <option value="12:30 pm">12:30 pm </option>
                            <option value="1:00 pm">1:00 pm </option>
                            <option value="1:30 pm">1:30 pm </option>
                            <option value="2:00 pm">2:00 pm </option>
                            <option value="2:30 pm">2:30 pm </option>
                            <option value="3:00 pm">3:00 pm </option>
                            <option value="3:30 pm">3:30 pm </option>
                            <option value="4:00 pm">4:00 pm </option>
                            <option value="4:30 pm">4:30 pm </option>
                            <option value="5:00 pm">5:00 pm </option>
                            <option value="5:30 pm">5:30 pm </option>
                            <option value="6:00 pm">6:00 pm </option>
                            <option value="6:30 pm">6:30 pm </option>
                            <option value="7:00 pm">7:00 pm </option>
                            <option value="7:30 pm">7:30 pm </option>
                            <option value="8:00 pm">8:00 pm </option>
                            <option value="8:30 pm">8:30 pm </option>
                            <option value="9:00 pm">9:00 pm </option>
                            <option value="9:30 pm">9:30 pm </option>
                            <option value="10:00 pm">10:00 pm </option>
                            <option value="10:30 pm">10:30 pm </option>
                            <option value="11:00 pm">11:00 pm </option>
                            <option value="11:30 pm">11:30 pm </option>
                        </select>
                    </li>
                    <li class='business-hour-data-item hours-end'>
                        <select class="form-control" id='hours_end_select'>
                            <option value="6:00 am">6:00 am </option>
                            <option value="6:30 am">6:30 am </option>
                            <option value="7:00 am">7:00 am </option>
                            <option value="7:30 am">7:30 am </option>
                            <option value="8:00 am">8:00 am </option>
                            <option value="8:30 am">8:30 am </option>
                            <option value="9:00 am">9:00 am </option>
                            <option value="9.30 am">9:30 am </option>
                            <option value="10:00 am">10:00 am </option>
                            <option value="10:30 am">10:30 am </option>
                            <option value="11:00 am">11:00 am </option>
                            <option value="11:30 am">11:30 am </option>
                            <option value="12:00 pm (noon)">12:00 pm ({% trans "noon" %})</option>
                            <option value="12:30 pm">12:30 pm </option>
                            <option value="1:00 pm">1:00 pm </option>
                            <option value="1:30 pm">1:30 pm </option>
                            <option value="2:00 pm">2:00 pm </option>
                            <option value="2:30 pm">2:30 pm </option>
                            <option value="3:00 pm">3:00 pm </option>
                            <option value="3:30 pm">3:30 pm </option>
                            <option value="4:00 pm">4:00 pm </option>
                            <option value="4:30 pm">4:30 pm </option>
                            <option value="5:00 pm" selected="">5:00 pm </option>
                            <option value="5:30 pm">5:30 pm </option>
                            <option value="6:00 pm">6:00 pm </option>
                            <option value="6:30 pm">6:30 pm </option>
                            <option value="7:00 pm">7:00 pm </option>
                            <option value="7:30 pm">7:30 pm </option>
                            <option value="8:00 pm">8:00 pm </option>
                            <option value="8:30 pm">8:30 pm </option>
                            <option value="9:00 pm">9:00 pm </option>
                            <option value="9:30 pm">9:30 pm </option>
                            <option value="10:00 pm">10:00 pm </option>
                            <option value="10:30 pm">10:30 pm </option>
                            <option value="11:00 pm">11:00 pm </option>
                            <option value="11:30 pm">11:30 pm </option>
                            <option value="12:00 am (midnight)">12:00 am ({% trans "midnight" %})</option>
                            <option value="12:30 am (next day)">12:30 am ({% trans "next day" %})</option>
                            <option value="1:00 am (next day)">1:00 am ({% trans "next day" %})</option>
                            <option value="1:30 am (next day)">1:30 am ({% trans "next day" %})</option>
                            <option value="2:00 am (next day)">2:00 am ({% trans "next day" %})</option>
                            <option value="2:30 am (next day)">2:30 am ({% trans "next day" %})</option>
                            <option value="3:00 am (next day)">3:00 am ({% trans "next day" %})</option>
                            <option value="3:30 am (next day)">3:30 am ({% trans "next day" %})</option>
                            <option value="4:00 am (next day)">4:00 am ({% trans "next day" %})</option>
                            <option value="4:30 am (next day)">4:30 am ({% trans "next day" %})</option>
                            <option value="5:00 am (next day)">5:00 am ({% trans "next day" %})</option>
                            <option value="5:30 am (next day)">5:30 am ({% trans "next day" %})</option>
                        </select>
                    </li>
                    <li>
                        <button type="button" id='add_business_hour_btn' class="btn btn-primary btn-sm">{% trans "Add Hour" %}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="location_detail_info_panel">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Detail Info" %}</div>
        </div>
        <div class="panel-body">
            {% with detail_info=location.get_detail_info %}
            
             <div class='row medium-margin-bottom' id='current_detail_info'>
                {% if detail_info %}
                <ul id='detail_info_list'>
                    {% for item in detail_info %}
                        <li class='detail-info-item row'>
                            <div class='info-name-column pull-left'>
                                <span class='medium-text'>{{item.info|words_first_char_upper}}</span>
                            </div>
                            <div class='info-value-column pull-left large-margin-left'>
                                <span class='bold medium-text'>{{item.value}}</span>
                            </div>
                            <div class='pull-right'>
                            <span class="glyphicon glyphicon-remove delete-detail-info-btn hide pointer-cursor" data-detail-info-id='{{item.id}}' onclick='deleteDetailInfo(this)'></span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class='align-center'>
                    <span class='bold'>{% trans "Add more info to your location ( Ex: Has Wifi - Yes " %})</span>
                </div>
                {% endif %}
            </div>
           
            {% endwith %}

            <div class='row'>
                <ul id='detail_info_data'>
                    <li class='detail-info-data-item info-name'>
                        <input type='text' class='form-control' placeholder='Has Wifi' id='detail_info_name_input' maxlength="30"/>
                    </li>
                    <li class='detail-info-data-item info-value'>
                        <input type='text' class='form-control' placeholder='Yes / No' id='detail_info_value_input' maxlength='15'/>
                    </li>
                    <li class='detail-info-data-item small-margin-left'>
                        <button type='button' class='btn btn-primary btn-sm' id='add_detail_info_btn'>{% trans "Add Info" %}</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block additional_modal %}

    {% include "apps/location/modal/delete_location.html" %}
    {% include "apps/location/modal/edit_location.html" %}

{% endblock %}



