{% extends "apps/activity/activity_base.html" %}
{% load i18n %}
{% block main_section %}
<div class="row medium-margin-top">
	<div id="no_photo" class="align-center extra-large-margin-top">
		<h4 class="bold"> {% trans "This activity is private, you need to be invited to join. Contact the " %}<a href='/people/{{activity.user_create.username}}' class='link-color'>host</a>{% trans " for more detail" %}</h4>
	</div>
</div>
{% endblock %}
    
{% block footer_custom_scripts %}
{% endblock %}

{% block footer_internal_scripts %}
{% endblock %}