{% extends "apps/activity/activity_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}
{% load set_var %}

{% block main_section %}
    <div class="content container medium-margin-top medium-margin-bottom">
        <div id="activity_header" class="col-md-12">
            <div class='activity-title pull-left'>
                {{ activity.name.upper }}
            </div>
            {% if user_login %}
            <div class="activity-action pull-right">

                {% if activity.sell_ticket == "0" %}
                    {% if user_login_request_status == "1" %}
                        <div class="pull-left">
                            <button class="btn btn-success btn-sm mini-margin-right" id="request_join_btn" value="attending">
                                <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Attending
                            </button>
                        </div>
                    {% elif user_login_request_status == "0" %}
                        <div class="pull-left">
                            <button class="btn btn-default btn-sm mini-margin-right" id="request_join_btn" value="waiting">
                                {% trans "Waiting for accepted" %}
                            </button>
                        </div>
                    {% elif user_login_request_status == "2" %} 
                        <div class="mini-margin-right pull-left pos-relative" id="invite_btn_group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" id="request_join_btn" value="invited">
                                Invited &nbsp;<span class="caret"></span>
                            </button>
                            <ul id="invite_options_dropdown" class="dropdown-menu" role="menu">
                                <li class="invite-accept">
                                    <a id="accept_invite_btn">
                                        <i class="fa fa-smile-o"></i><span class='mini-margin-left'>{% trans "Yeah, let's have fun" %}</span>
                                    </a>
                                </li>
                                <li class="invite-decline">
                                    <a id="decline_invite_btn">
                                        <i class="fa fa-frown-o"></i><span class='mini-margin-left'>{% trans "Sorry, I'm busy"}</span>
                                    </a>
                                </li>
                          </ul>
                        </div>
                    {% else %}
                        {% if activity.is_attendable %} 
                            <div class="pull-left">
                                <button class="btn btn-default btn-sm mini-margin-right" id="request_join_btn" value="request_join" onclick='showActivityRequestModal();'>
                                    <i class="glyphicon glyphicon-plus "></i>&nbsp;&nbsp;{% trans "Request to Join" %}
                                </button>
                            </div>
                        {% else %}
                            <div class="pull-left" id="disable_request_join_btn" data-toggle="tooltip" data-placement="left" title="The numbe of this activity's attendant already reach limit. Please contact the host for more information">
                                <button class="btn btn-default btn-sm mini-margin-right" disabled="disabled" >
                                    <i class="glyphicon glyphicon-plus "></i>&nbsp;&nbsp;{% trans "Request to Join" %}
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}                    

                
                {% if is_watching %}
                    <div class="pull-left">
                        <button class="btn btn-sm btn-success" id="watchlist_handler_btn" value="watching">
                            <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{% trans "Watching" %}
                        </button>
                    </div>
                {% else %}
                    <div class="pull-left">
                        <button class="btn btn-default btn-sm" id="watchlist_handler_btn" value="not_watch">
                            <i class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;{% trans "Add to Watchlist" %}
                        </button>
                    </div>
                {% endif %}    

                <div class="pull-left">
                    <button class="btn btn-default btn-sm mini-margin-left" data-toggle="modal" data-target="   #report_activity_modal" data-backdrop='static' id="report_activity_btn">
                        Report
                    </button>
                </div>
            </div>
            {% endif %}

        </div>

        <div id="activity_body" class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pos-relative row" id="main_activity_logo_container">
                            {% thumbnail activity.logo.image "698x350" crop="center" as im %}
                                <img id="main_activity_logo" class="div-center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% empty %}
                                <img id="main_activity_logo" data-src='holder.js/698x350/text:No Picture' class="div-center"/>
                            {% endthumbnail %} 
                        </div>
                        <ul id="photo_thumbnail_list" class="div-center">
                            {% if list_activity_photos %}
                                <li class="pull-left small-margin-top mini-margin-right active" >
                                    <a href="/photo/activity/{{activity.unique_id}}?current_photo={{activity.logo.unique_id}}" >
                                        {% thumbnail activity.logo.image "698x350" crop="center" as im %}
                                            <img src="{{im.url}}" width='{{ im.width }}' height='{{ im.height }}' class="photo-thumbnail" />
                                        {% endthumbnail %}
                                    </a>
                                </li>
                            {% else %}
                                <li class="pull-left small-margin-top mini-margin-right active" >
                                    <a href="/photo/activity/{{activity.unique_id}}?current_photo={{activity.logo.unique_id}}" >
                                        <div class="mask"></div>
                                        <div class="all-photo-info">
                                            <span class="white-color">
                                                {% trans "View photos" %}
                                            </span>
                                        </div>
                                        {% thumbnail activity.logo.image "70x70" crop="center" as im %}
                                            <img src="{{im.url}}" width='{{ im.width }}' height='{{ im.height }}' class="photo-thumbnail" />
                                        {% endthumbnail %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for photo in list_activity_photos %}
                                {% if forloop.last %}
                                    <li class="pull-left small-margin-top mini-margin-right" >
                                        <a href="/photo/activity/{{activity.unique_id}}?current_photo={{photo.unique_id}}" >
                                            <div class="mask"></div>
                                            <div class="all-photo-info">
                                                <span class="white-color">
                                                   See {{activity.list_photos.all|length}} photos
                                                </span>
                                            </div>
                                            {% thumbnail photo.image "70x70" crop="center" as im %}
                                                <img src="{{im.url}}" width='{{ im.width }}' height='{{ im.height }}' class="photo-thumbnail" />
                                            {% endthumbnail %}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="pull-left small-margin-top mini-margin-right" >
                                        <a href="/photo/activity/{{activity.unique_id}}?current_photo={{photo.unique_id}}" >
                                            {% thumbnail photo.image "698x350" crop="center" as im %}
                                                <img src="{{im.url}}" class="photo-thumbnail" />
                                            {% endthumbnail %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if user_login %}
                            <li class="pull-left mini-margin-right small-margin-top pointer-cursor" id="add_photo_btn" data-toggle="modal" data-backdrop='static' data-target="#add_photo_modal" >
                                <i class="glyphicon glyphicon-plus"></i>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
                <!--Start buttons panel-->
                <div class="panel panel-default">
                    <div class="panel-body" id="activity_info_bar">
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-bookmark"></i>
                            {{activity.get_watchers|length}} {% trans "watchers" %} 
                        </div>
                        <div class="col-md-4">
                            <i class="glyphicon glyphicon-ok"></i> {{activity.get_total_people_going}} {% trans "people joined"%}
                        </div>
                        <div class="col-md-4">
                            Total spots:
                            {% if activity.limit == -1 %}
                                Unlimited 
                            {% else %}
                                {{activity.limit}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tabbable tabbable-bordered">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="menu_bar">
                            <ul class="nav nav-tabs" id="event_tab">
                                <li class="active">
                                    <a data-toggle="tab" href="#event_description_tab">
                                        <i class="glyphicon glyphicon-info-sign"></i> {% trans "Description" %}
                                    </a>
                                </li>
                                {% if user_login and activity.sell_ticket == "1" %}
                                    <li>
                                        <a data-toggle="tab" href="#ticket_info_tab">
                                            <i class="glyphicon glyphicon-file"></i> {% trans "Ticket Info" %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a data-toggle="tab" href="#attendants_tab">
                                        <i class="glyphicon glyphicon-user"></i> {% trans "Who's going" %}
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#comment_tab">
                                        <i class="glyphicon glyphicon-comment"></i> {% trans "Discussion Board" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content" id="event_tab_content">

                                <div class="tab-pane active" id="event_description_tab">
                                    <div class="pull-right creator-info">
                                        <div class="media">
                                            <a class="pull-left" href="/people/{{activity.user_create.username}}">
                                                {% thumbnail activity.user_create.get_profile.avatar.image "16x16" crop='center' as im %}
                                                    <img class="media-object" src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'/>
                                                {% endthumbnail %}
                                            </a>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <a href="/people/{{activity.user_create.username}}">
                                                        {{activity.user_create.username}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-danger text-bold">{% trans "Description" %}</div>
                                    <p>{{activity.description|safe}}</p>
                                    
                                </div>
                                
                                
                                {% if activity.sell_ticket == "1" %}
                                    <div class="tab-pane" id="ticket_info_tab">

                                        <input type='hidden' class="count-ticket-min" id="{{activity.get_activity_min_pk_ticket}}"/>
                                        <input type='hidden' class="count-ticket-max" id="{{activity.get_activity_max_pk_ticket}}"/>

                                        <div class="row">
                                            <div class='row'>
                                                <h4 class="pull-left">{% trans "Ticket Delivery Policy" %}</h4>
                                            </div>
                                            <div class='row'>
                                                <p class='medium-text'>
                                                    {% if activity.ticket_policy %}
                                                        {{activity.ticket_policy}}
                                                    {% else %}
                                                        The activity currently have no ticket policy. Please contact the host for more information
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>

                                        
                                        <h4>{% trans "Ticket Information" %}</h4>
                                        <table class="table">
                                            <thead>
                                                <th class="col-md-6 text-center">{% trans "Type" %}</th>
                                                <th class="text-center">{% trans "Currency" %}</th>
                                                <th class="text-center">{% trans "Price" %}</th>
                                                <th class="text-center">{% trans "Remaining" %}</th>
                                                <th class="text-center">{% trans "Sales Info" %}</th>
                                                <th class="text-center">{% trans "Quantity" %}</th>
                                            </thead>
                                            <tbody>
                                                
                                                {% for ticket in activity.tickets.all %}   
                                                <tr class="ticket-row">
                                                    <input type='hidden' class='num-ticket-remain' value='{{ticket.total_available_quantity}}'/>
                                                    <td>{{ticket.ticket_name|words_first_char_upper}}</td>
                                                    <td>{{ticket.currency}}</td>
                                                    <td>{{ticket.price|display_price:ticket.currency}}</td>
                                                    <td>{{ticket.total_available_quantity}} {% trans "tickets" %}</td>
                                                    <td class="text-center">
                                                        {% if ticket.total_available_quantity > 0 %}
                                                            <h4><div class="label label-success">{% trans "Available" %}</div></h4>
                                                        {% else %} 
                                                            <h4><div class="label label-danger">{% trans "Sold Out" %}</div></h4>
                                                        {% endif %}
                                                        {{is_all_sold_out}}
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="select_quantity_ticket_{{ticket.pk}}" id="ticket{{ticket.pk}}">
                                                        {% for i in ticket.string_consecutive_transaction %}  
                                                            <option value="{{i}}">{{i}}</option>
                                                        {% endfor %}   
                                                        </select>
                                                    </td>
                                                </tr>
                                                
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="pull-right">
                                            {% if activity.is_all_ticket_sold_out %}
                                                <a class="btn btn-primary reserve-ticket-button btn-sm" disabled='disabled'>{% trans "Reserve Ticket" %}</a>
                                            {% else %}
                                                <span class='hide error-color small-margin-right reserve-ticket-error empty-ticket-reserve'>Please select number of ticket</span>
                                                <span class='hide error-color small-margin-right reserve-ticket-error exceed-ticket-allow'>Your select ticket exceed the available ticket. Please select the correct number of ticket</span>
                                                <a class="btn btn-primary reserve-ticket-button btn-sm" data-toggle="modal" data-backdrop='static'>{% trans "Reserve Ticket" %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-pane" id="attendants_tab">
                                    <h4>{% trans "Your Following" %} ({{following_people_going|length}})</h4>
                                    <ul class="list-inline users-list">
                                        {% for activity_request in following_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                                {% if user_request.get_profile.privacy_status == "1" and user_request.get_profile.avatar %}
                                                <li class="user">
                                                    <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="user">
                                                    <a class='tooltip-item' data-toggle="tooltip" title="Anonymous User">
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <hr />
                                    <h4>{% trans "Your Followers" %} ({{followers_people_going|length}})</h4>
                                    <ul class="list-inline users-list">
                                        {% for activity_request in followers_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                                {% if user_request.get_profile.privacy_status == "1" and user_request.get_profile.avatar %}
                                                <li class="user">
                                                    <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="user">
                                                    <a class='tooltip-item' data-toggle="tooltip" title="Anonymous User">
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <hr />
                                    <h4>{% trans "Others" %} ({{others_people_going|length}})</h4>
                                    <ul class="list-inline users-list">
                                        {% for activity_request in others_people_going %}
                                            {% with user_request=activity_request.user_request %}
                                                {% if user_request.get_profile.privacy_status == "1" and user_request.get_profile.avatar %}
                                                <li class="user">
                                                    <a href="/people/{{user_request.username}}" class='popover-item' title="{{user_request.get_profile.get_user_fullname}}" data-toggle="popover" data-content="{{activity_request.introduction}}">
                                                        {% thumbnail user_request.get_profile.avatar.image "50x50" crop='center' as im %}
                                                            <img  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
                                                        {% endthumbnail %}
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="user">
                                                    <a class='tooltip-item' data-toggle="tooltip" title="Anonymous User">
                                                        {% if user_request.get_profile.gender == "m" %}
                                                            <div class='sprite-male-icon'></div>
                                                        {% else %}
                                                            <div class='sprite-female-icon'></div>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab-pane" id="comment_tab">

                                    <div class="comment-section-header">
                                        <h5 class="comments-count">{{activity.comments.all|length}} {% trans "Comments" %}</h5>
                                    </div>

                                    {% if user_login %}
                                    <div class="add-comment-section">
                                        <div class="add-comment-block">
                                            <a href="/{{user_login.username}}" class="user-image pull-left">
                                                <img src="{{user_login.get_profile.avatar.image.url}}" alt="{{user_login.first_name}} {{user_login.last_name}}" class="avatar " width="32" height="32" title="{{user_login.first_name}} {{user_login.last_name}}">
                                            </a>
                                            <div class="add-comment-area pull-left">
                                                <span class="input-holder">
                                                    <textarea id="comment_textarea" class="form-style" cols="55" tabindex="1" rows="4" placeholder="Leave comment for this place..."></textarea>
                                                    
                                                </span>
                                                <span class="char-count"></span>
                                                <p class="input-error"></p>
                                            </div>
                                            <div class="button-area pull-right">
                                                <button class="btn btn-success btn-sm" id="publish_comment_btn" value="add">{% trans "Publish" %}</button>
                                                <button class="btn btn-sm btn-default hide" id="cancel_edit_comment_btn">{% trans "Cancel" %}</button>
                                                <input type="hidden" id="selected_comment_unique_id" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                             
                                    {% with comments=activity.get_latest_comments.all %}
                                        <div class="comment-section-body">       
                                            <div id="comment_container">
                                                <ul id="comment_list">

                                                {% for comment in comments %}

                                                    <li class="comment-item" data-unique-id="{{comment.unique_id}}">
                                                        <div class="author-image">
                                                            <a href="/{{comment.user.username}}">
                                                                <img src="{{comment.user.get_profile.avatar.image.url}}" alt="{{comment.user.first_name}}" class="avatar " title="{{comment.user.first_name}}">
                                                            </a>
                                                        </div>
                                                        <div class="comment-contents">
                                                            <p class="comment-text">{{comment.content}}</p>
                                                            <div class="comment-info">
                                                                <span class="username">
                                                                    <a href="/{{comment.user.username}}">{{comment.user.first_name}}</a>
                                                                </span> · 
                                                                {% if comment.edit_date %}
                                                                    <span class="comment-date">
                                                                        {% trans "Edited at" %} {{comment.edit_date}}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="comment-date">
                                                                        {{comment.create_date}}
                                                                    </span>
                                                                {% endif %}
                                                            </div>

                                                            <div class="action-buttons">
                                                                {% if comment.user.username == user_login.username %}
                                                                    <a class="edit-comment-button" onclick="initEditComment(this)">
                                                                        <span>{% trans "Edit" %}</span>
                                                                    </a>
                                                                    <a class="delete-comment-button" data-toggle="modal" data-target="#delete_comment_modal" data-backdrop='static' onclick="initDeleteComment(this)">
                                                                        <span>Delete</span>
                                                                    </a>
                                                                {% else %}
                                                                    <a class="report-comment-button" data-toggle="modal" data-target="#report_comment_modal" data-backdrop='static'>
                                                                        <span>{% trans "Report" %}</span>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
                {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
                <!--start event info panel-->
                <div class="panel panel-default" id="event_info_panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-map-marker mini-margin-right"></i>
                            {% if is_location_model %}
                            <a href="/location/{{location_object.unique_id}}">
                                {{location_object.name}}
                            </a>
                            {% else %}
                                {% trans "Place" %}
                            {% endif %}
                            </p>
                            {% if activity.has_location_additional %}
                             <i class="fa fa-th mini-margin-right"></i>
                              {{activity.location_additional_info}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            {% if is_location_model %}
                                <div id="map_canvas"></div>
                            {% else %}
                                <div><img data-src="holder.js/318x200/text:No Map"></div>
                            {% endif %}
                        </div>
                        <dl class="no-margin">
                            <dt class="row small-margin-top">
                                <div class="pull-left">
                                    <i class="glyphicon glyphicon-time"></i> {% trans "Time" %}
                                </div>
                                {% if user_login %}
                                    <div class="pull-right dropdown">
                                        <a class="link-color" id="add_calendar_btn" role="button" data-toggle="dropdown" data-target="#">
                                            <i class="glyphicon glyphicon-plus "></i>&nbsp;Add to Calendar&nbsp;<span class="caret"></span>
                                        </a>
                                        <ul id="calendar_dropdown_menu" class="dropdown-menu" role="menu" >
                                            <li>
                                                <a href="/activity/{{activity.unique_id}}/addcalendar?type=google">
                                                    <div class='sprite-google-calendar-icon pull-left mini-margin-right'></div>
                                                    Google Calendar
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/activity/{{activity.unique_id}}/addcalendar?type=outlook">
                                                    <div class='sprite-outlook-calendar-icon pull-left mini-margin-right'></div>
                                                    Outlook
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/activity/{{activity.unique_id}}/addcalendar?type=icalendar">
                                                    <div class='sprite-icalendar-icon pull-left mini-margin-right'></div>
                                                    iCalendar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </dt>
                            <dd class="mini-margin-top">

                            {% load tz %}

                            {% localtime on %}
                                {{activity.start_time}} 
                                
                                {% if activity.end_time %}
                                    ~ {{activity.end_time}}
                                {% endif %}

                            {% endlocaltime %}
                                
                            </dd>
                            {% if is_location_model %}
                                <dt class="small-margin-top">
                                    <i class="glyphicon glyphicon-map-marker"></i> {% trans "Address" %}
                                </dt>
                                <dd class="mini-margin-top">
                                    <a href="http://maps.google.com/maps?daddr={{location_object.lat}},{{location_object.lng}}">{{location_object.get_address}} </a>
                                </dd>
                            {% else %}
                                <dt class="small-margin-top">
                                    <i class="glyphicon glyphicon-map-marker"></i> {% trans "Place Detail" %}
                                </dt>
                                <dd class="mini-margin-top">
                                    {{activity.location}}
                                </dd>
                            {% endif %}
                        </dl>
                    </div>
                </div><!--end event info panel-->
                {% endwith %}
                
                <!--Start author section-->
                <div class="panel panel-default" id="author_section">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-cog"></i> {% trans "Author information" %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" id="host_username" value="{{activity.user_create.username}}"/>
                        <div class="row">
                            <div class="pull-left" id="host_avatar">
                                {% thumbnail activity.user_create.get_profile.avatar.image "40x40" crop='center' as im %}
                                    <img src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'/>
                                {% endthumbnail %}
                            </div>
                            <div class="pull-left medium-margin-left" id="host_info">
                                <div class="row">
                                    <div class="pull-left">
                                        <a href="/people/{{activity.user_create.username}}" class="bold" id="host_fullname">
                                            {{activity.user_create.get_profile.get_user_fullname}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-left" id="host_num_followers">
                                        {{activity.user_create.get_profile.followers.all|length}} {% trans "followers" %}
                                    </div>
                                    <div class="pull-left medium-margin-left">
                                        {{activity.user_create.get_profile.get_create_activities|length}} {% trans "event hosted" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if user_login %}
                            <div class="row small-margin-top">
                                <div class="follow-host pull-left small-margin-right">
                                    {% if user_login|isfollowing:activity.user_create.username %}
                                        <button class="btn btn-success" id="follow_host_btn" value="following">Following</button>
                                    {% else %}
                                        <button class="btn btn-default" id="follow_host_btn" value="not_follow">Follow</button>
                                    {% endif %}
                                </div>
                                <div class="message-host pull-left">
                                    <button class="btn btn-default" id="message_host_btn">Message</button>
                                </div>
                            </div>  
                        {% endif %}           
                    </div>
                </div>

                <div class="panel panel-default" id="qr_code_section">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-qrcode mini-margin-right"></i>
                            {% trans "Event QR Code" %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <img alt="" id="qr_picture" />
                        </div>
                    </div>

                </div>
                
                {% if suggest_activities %}
                <div class="panel panel-default" id="suggest_activities_panel">
                    <div class="panel-heading">
                        <div class="panel-title">{% trans "Suggest Activities" %}</div>
                    </div>
                    <div class="panel-body">
                        <ul id="suggest_activities_list">
                            {% for activity in suggest_activities %}
                                {% if forloop.first %}
                                    <li class='row first suggest-activity-item'>
                                {% elif forloop.last %}
                                    <li class="row last suggest-activity-item">
                                {% else %}
                                    <li class="row suggest-activity-item">
                                {% endif %}
                                        <div class="pull-left left-column">
                                            {% if activity.logo %}
                                                <div>
                                                    <a href="/activity/{{activity.unique_id}}">
                                                        {% thumbnail activity.logo.image "80x80" crop='center' as im %}
                                                            <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}"/>
                                                        {% endthumbnail %}
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="no-logo-cover">
                                                    <time datetime="{{activity.start_time.date}}" class="icon">
                                                        <em>{{activity.start_time|display_weekday}}</em>
                                                        <strong>{{activity.start_time|display_full_month}}</strong>
                                                        <span>{{activity.start_time.day}}</span>
                                                    </time>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="pull-left small-margin-left right-column">
                                            <div class="row title">
                                                <a href="/activity/{{activity.unique_id}}">
                                                    {{activity.name|words_first_char_upper}}
                                                </a>
                                            </div>
                                            <div class="row start-time">
                                                <span class="gray-color">{{activity.start_time}}</span>
                                            </div>
                                            <div class="row place gray-color">
                                                <div class='sprite-location-pin'></div>
                                                <div>{{activity.location.name}}</div>
                                                <!-- <span>
                                                    <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
                                                </span> -->
                                                <!-- <span>{{activity.location.name}}</span> -->
                                            </div>
                                            <div class='row additional-info gray-color'>
                                                <span class='pull-left'>
                                                    {{activity.get_total_people_going}} {% trans "going" %}
                                                </span>
                                                <span class="pull-right extra-large-margin-right">
                                                    {{activity.get_watchers|length}} {% trans "watchers" %}
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block custom_modal %}
    {% include "apps/message/modal/compose_new_message.html" %}
    {% include "ticket/modal/reserve_ticket.html" %}
    {% include "apps/activity/modal/report_activity.html" %}
{% endblock %}

{% block footer %}
    {% include "common/footer.html" %}
{% endblock %}



    

