{% extends "apps/message/message_base.html" %}
{% load i18n %}
{% block left_section %}
	<div class="notification-link medium-margin-top">
		<a href="{% url 'notification_main' %}" class="bold medium-text link-color">{% trans "Notifications" %}</a> 
	</div>
	<div class="feed-link small-margin-top">
		<a href="{% url 'feed_main' %}" class="bold medium-text link-color">{% trans "Feeds" %}</a> 
	</div>
	<div class="message-link small-margin-top">
		<span class="bold medium-text">{% trans "Messages" %}</span> 
	</div>
{% endblock %}

{% block right_section %}

		<div class="header-section row">
			<div class="pull-left mini-margin-top">
				{% if new_messages_count %}
					<span class="bold medium-text">
						{{ new_messages_count }} {% trans "New Messages" %}
					</span>
				{% else %}
					<span class="bold medium-text">{% trans "Messages" %}</span>
				{% endif %}
			</div>
			<div class="pull-right">
				<a href="#compose_new_message_modal" role="button"  class="btn btn-default btn-sm" id="compose_message_btn" data-toggle="modal">{% trans "Compose Message" %}</a>
			</div>
		</div>

		{% if is_no_message %}
			<div id="no_message">
				<span>{% trans "You currently have no message" %}</span>
			</div>
		{% else %}

			<div class="body-content row">
				<ul id="conversation_list">

					{% for conversation in conversations %}

							{% if conversation.latest_message.user_send.username != user_login.username and conversation.latest_message.status == "1" %}
								<li class="conversation-item new-conversation row pointer-cursor" onclick="window.location.href='/messages/{{conversation.unique_id}}/'">
							{% else %}
								<li class="conversation-item row pointer-cursor" onclick="window.location.href='/messages/{{conversation.unique_id}}/'">
							{% endif %}
									<input type="hidden" class='conversation-unique-id' value='{{conversation.unique_id}}' />
								{% if conversation.user1.username != user_login.username %}
									{% with to_user=conversation.user1 %}
										<div class="user-avatar pull-left">
											<img src="{{to_user.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
										</div>
										<div class="conversation-details pull-left">
											<div class="conversation-with">
												<span class="bold">{{to_user.get_profile.get_user_fullname}}</span>
											</div>
											<div class="conversation-content">
												{% if conversation.latest_message.user_send.username == user_login.username %}
													<span class="replied-indicator"></span>
												{% endif %}
												{{conversation.latest_message.content|safe}}
												
											</div>
										</div>
									{% endwith %}
								{% else %}
									{% with to_user=conversation.user2 %}
										<div class="user-avatar pull-left">
											<img src="{{to_user.get_profile.avatar.image.url}}" class="avatar" alt="Avatar"/>
										</div>
										<div class="conversation-details pull-left">
											<div class="conversation-with">
												<span class="bold">{{to_user.get_profile.get_user_fullname}}</span>
											</div>
											<div class="conversation-content">
												{% if conversation.latest_message.user_send.username == user_login.username %}
													<span class="replied-indicator"></span>
												{% endif %}
												{{conversation.latest_message.content|safe}}
											</div>
										</div>
									{% endwith %}
								{% endif %}
										<div class="conversation-date pull-right">
											{{conversation.latest_message.date}}
										</div>
								</li>
					{% endfor %}
				</ul>
			</div>

		{% endif %}
{% endblock %}
