/*
 * Header
 */
#logo{
	display: inline-block;
	width: 70px;
	background-image: url('../img/apps/logo-white.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

#top_navbar .navbar-collapse.in li #search_form,
#top_navbar .navbar-collapse.collapsing li #search_form{
	margin: 0;
}

#top_navbar ul.navbar-nav > li > a{
	color:#FFFFFF;
}
#top_navbar ul.navbar-nav > li > a:hover{
	color:#C2C2C2;
}

#search_form{}

#search_form .input-group{
	background-color: #fff;
	border-radius:18px;
}

#search_form_input{
	border-top-left-radius:18px;
	border-bottom-left-radius:18px;
	background-color: transparent;
	border:none;
	box-shadow:none;
}
#search_form_submit{
	border-top-right-radius:18px;
	border-bottom-right-radius:18px;
	background-color: transparent;
}

#create_links{
	padding-top: 8px;
}

#user_link{
	padding-top: 8px;
	padding-bottom: 0;
	color:#FFFFFF;
	font-weight: bold;
}

.user-avatar{
	vertical-align: middle;
	display: inline-block;
	border-radius:18px;
	background-color: #fff;
	height: 36px;
	width: 36px;
	line-height: 20px;
}

#user_actions{
	padding-top: 8px;
}

#user_actions button.btn{
	background-color: transparent;
	color: #FFFFFF;
}

#user_actions button.btn:hover{
	color:#C2C2C2;
}

#user_actions .dropdown-menu li a{
	display: block;
	line-height: 30px;
	font-weight: bold;
}

#user_actions .dropdown-menu li a:hover{
	background-color: #428BCA;
	color:#FFFFFF;
}

#footer{
	background-color: #333;
	padding: 20px 0;
	color:#FFFFFF;
}

#footer_sitemap_menu{}
#footer_sitemap_menu a{
	color:#999999;
	text-decoration: none;
}
#footer_sitemap_menu a:hover{
	color:#FFFFFF;
}

#footer_language_menu{
	margin-top: 20px;
}
#footer_language_menu>li>a{
	display: inline-block;
	padding: 5px 10px;
	border:1px solid #222222;
	color:#AAAAAA;
	text-decoration: none;
}
#footer_language_menu>li>a:hover{
	background-color: #222222;
	color:#FFFFFF;
}
#footer_language_menu>li>a.active{
	border:1px solid #FFFFFF;
	color:#FFFFFF;
}

/*
 * Main
 */

#main{
	margin-top: 50px;
}

#main .alert{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * Activities list
 */
#activities_toolbar{
	border-radius:0px;
	background-color: #C6CBCE;
}
.activities-toolbar-menu {}
.activities-toolbar-menu button.dropdown-toggle{
	border-radius:0px!important;
}
.activities-toolbar-menu .dropdown-menu{
	border-radius:0px!important;
	padding: 0;
}
.activities-toolbar-menu .dropdown-menu a{
	line-height: 30px;
}

.activities-list{}
.activities-list-item{}
.activities-list-item:hover .thumbnail{
	border-color:#FA3F5E;
}
.activities-list-item .thumbnail{
	position: relative;
	padding: 0;
	cursor: pointer;
	border-radius:0px;
}
.activities-list-item .thumbnail .date{
	position: absolute;
	top: 10px;
	right: 10px;
}
.activities-list-item .caption{
	border-bottom: 1px solid #DDDDDD;
}
.activities-list-item-people-info{
	padding: 0 5px;
	color:#808080;
	font-weight: bold;
}
.activities-list-item-people-info-going{}
.activities-list-item-people-info-watchers{}