{% load i18n %}
{% load frittie_main %}

<div class="ticket-information-reserve-preview">
	<table class='table'>
		<thead>
			<th> {% trans "Ticket name" %} </th>
			<th> {% trans "Ticket price" %} </th>
			<th> {% trans "Ticket currency" %} </th>
			<th> {% trans "Ticket quantity" %} </th>
		</thead>
		<tbody>
			{% for ticket in tickets %}  
				<tr class='ticket-row'>
					<td> {{ticket.ticket_name|words_first_char_upper}} </td>
					<td> {{ticket.price|display_price:ticket.currency}} </td>
					<td> {{ticket.currency}} </td>
					<td> {{ticket.quantity}} </td>
					<input name="select_quantity_ticket_{{ticket.pk}}" value="{{ticket.quantity}}" type="hidden"/>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h4> {% trans "Total price" %}: {{total_price}} {{currency}} </h4>
	<input type='hidden' name='total_price' value='{{total_price}}'/>
	<input type='hidden' name='currency_used' value="{{currency}}"/>
</div>

