{% load i18n %}
{% load frittie_main %}

{% if num_ticket == 1 %}
    <table class="table">
        <thead>
            <th class="col-md-4 align-center">{% trans "Type" %}</th>
            <th class="align-center">{% trans "Currency" %}</th>
            <th class="align-center">{% trans "Price" %}</th>
            <th class="align-center">{% trans "Total Available" %}</th>
            <th class="align-center">{% trans "Transaction Quantity" %}</th>
            <th class="col-md-2 align-center">{% trans "Action" %}</th>
        </thead>
        <tbody> 
            <tr class="ticket-data" data-ticket-id='{{ticket.id}}'>
                <td class="align-center name">
                    {{ticket.ticket_name|words_first_char_upper}}
                </td>
                <td class="align-center currency">
                    {{ticket.currency}}
                </td>
                <td class="align-center price">
                    {{ticket.price|display_price}}
                </td>
                <td class="align-center total-available-quantity">
                    {{ticket.total_available_quantity}}
                </td>
                <td class="align-center maximum-quantity-transaction">
                    {{ticket.maximum_quantity_transaction}}
                </td>
                <td class="text-center">
                    <a class="link-color edit-ticket-btn" data-toggle="modal" data-target="#edit_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Edit" %}</a>
                    /
                    <a class="link-color delete-ticket-btn" data-toggle="modal" data-target="#delete_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Delete" %}</a>   
                </td>
            </tr>
        </tbody>
    </table>
{% else %}
    <tr class="ticket-data" data-ticket-id='{{ticket.id}}'>
        <td class="align-center name">
            {{ticket.ticket_name|words_first_char_upper}}
        </td>
        <td class="align-center currency">
            {{ticket.currency}}
        </td>
        <td class="align-center price">
            {{ticket.price|display_price}}
        </td>
        <td class="align-center total-available-quantity">
            {{ticket.total_available_quantity}}
        </td>
        <td class="align-center maximum-quantity-transaction">
            {{ticket.maximum_quantity_transaction}}
        </td>
        <td class="text-center">
            <a class="link-color edit-ticket-btn" data-toggle="modal" data-target="#edit_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Edit" %}</a>
            /
            <a class="link-color delete-ticket-btn" data-toggle="modal" data-target="#delete_ticket_modal" data-ticket-id='{{ticket.id}}'>{% trans "Delete" %}</a>   
        </td>
    </tr>
{% endif %}