{% load i18n %}
<div class="modal fade" id="change_photo_caption_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Change Photo Caption" %}</h4>
            </div>
            <div class="modal-body">
                <div class="wrapper">
                    <div class="photo-change-caption row photo-data medium-margin-bottom">
                        <fieldset>
                            <label class="pull-left">
                              {% trans "Caption" %}    
                            </label>
                            <div class="input-field pull-left">
                                <input type="text" name="new_caption" id="new_photo_caption" class="form-control"/>
                            </div>
                        </fieldset>
                    </div>
                    <div class="photo-image row photo-data">
                        <fieldset>
                            <div class="input-field pull-left">
                                <div class="image-container small-margin-top">
                                    <img src="#" id="display_current_change_photo_caption" class="crop-image"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Cancel" %}</button>        
                <button class="btn btn-primary btn-sm" id="submit_change_photo_caption_btn" >{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>