{% load i18n %}
<div class="modal fade" id="delete_photo_modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="delete_photo_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="delete_photo_form" enctype="multipart/form-data" method="post">{% csrf_token %}
          <input type='hidden' name='callback_url' value=''/>
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{% trans "Delete Photo" %}</h4>
          </div>
          <div class="modal-body">
              <p>
               {% trans "Are you sure that you want to delete this photo" %}?
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Cancel" %}</button>
              <button type="submit" id="delete_photo_final_btn" class="btn btn-danger btn-sm">{% trans "Yes, delete it" %}</button>
          </div>
      </form>
    </div>
  </div>
</div>