{% extends 'apps/search/search_base.html' %}
{% load i18n %}
{% block main_area %}

<div id="activity_search">

    {% include "common/map/map.html" %}    

    <div id="activity_section" class="map-content-section">

        <div class='search-info-bar row small-margin-left small-margin-right mini-margin-top'>
            <div class="wrapper">
                <div id='search_scope' class="pull-left">
                    <input type='hidden' name="search_type" value="activity" />
                    <input type='hidden' name="search_query" value="{{query}}" />
                    <div class="search-scope-item pull-left active">   
                        <span class="bold"> {% trans "Activity" %}</span>
                        <input type='hidden' value='activity'/>    
                    </div>
                    <div class="search-scope-item pull-left">   
                        <span class="bold normal-text"> 
                            {% trans "Location" %}
                        </span>
                        <input type='hidden' value='location'/>    
                    </div>
                    <div class="search-scope-item pull-left">
                        <span class="bold normal-text">
                            {% trans "People" %}    
                        </span>
                        <input type='hidden' value='people'/>    
                    </div>
                </div>

                <div class="pull-right">
                    <div class="medium-margin-right">
                        {% if query %}
                            {% with results_count=activities|length %}
                                <span class="results-count-text">{{results_count}}</span>
                                {% if results_count == 1 %} 
                                    {% trans "result for" %} 
                                {% else %}
                                    {% trans "results for" %} 
                                {% endif %}    
                                <span class="query bold">"{{query}}"</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="filter_area" class="small-margin">
            {% include "common/map/activity_filter_bar.html" %}
        </div>
        
        {% include "common/map/activity_list_item.html" %}
    
    </div>

    {% include "common/watch_list.html" %}

</div>
{% endblock %}


{% block hidden %}
<div class="hide" id="activity_info_box_template">
    {% include "common/map/activity_info_box.html" %}
</div>
{% endblock %}