{% extends 'apps/search/search_base.html' %}
{% load i18n %}
{% load frittie_main %}

{% block main_area %}
<div id="people_search">
    <div class="search-info-bar row medium-margin-top">
        <div class="wrapper">
            <div id='search_scope' class="pull-left">
                <input type='hidden' name="search_type" value="people" />
                <input type='hidden' name="search_query" value="{{query}}" />
                <div class="search-scope-item pull-left">   
                    <span class="bold medium-text"> {% trans "Activity" %}</span>
                    <input type='hidden' value='activity'/>    
                </div>
                <div class="search-scope-item pull-left">   
                    <span class="bold medium-text"> 
                        {% trans "Location" %}
                    </span>
                    <input type='hidden' value='location'/>    
                </div>
                <div class="search-scope-item pull-left active">
                    <span class="bold medium-text"> 
                        {% trans "People" %}    
                    </span>
                    <input type='hidden' value='people'/>    
                </div>
            </div>

            <div class="pull-right">
                <div class="medium-margin-right medium-text">
                    {% if query %}
                        {% with results_count=results|length %}
                            <span class="results-count-text">
                            {% if results_count == 1 %} 
                                {{results_count}} {% trans "result for" %} 
                            {% else %}
                                {{results_count}} {% trans "results for" %} 
                            {% endif %} 
                            </span>   
                            <span class="query bold">"{{query}}"</span>
                            <input type="hidden" class="results-count-value" value="{{results_count}}"/>
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="search-result" class='row large-margin-top'>   
        <div class="wrapper">
            {% if query %}
                {% for result in results %}
                    {% if result.object.user.username != user_login.username %}
                        <div class='people-search-item' data-value="{{result.object.user.username}}">
                            <div class="wrapper">
                                <a href="/people/{{result.object.user.username}}" >
                                    <div class="user-fullname bold medium-text add-dot" data-html-maxlength="18">
                                        {{result.object.get_user_fullname}}
                                    </div>
                                    <div class="user-info">
                                        <span class="small-margin-right">
                                            <span class="num-events">{{result.object.get_all_activity_count}}</span> {% trans "Events" %}   
                                        </span>
                                        <span> 
                                            <span class="num-follower">{{result.object.followers.all|length}}</span> {% trans "Followers" %}   
                                        </span> 
                                    </div>
                                    <div class="user-picture">
                                        <img src="{{result.object.avatar.image.url}}">
                                    </div>
                                </a>
                                {% if user_login|isfollowing:result.object.user.username %}
                                    <button class="btn btn-success follow-handler-btn" value="following">{% trans "Following" %}</button>
                                {% else %}
                                    <button class="btn btn-default follow-handler-btn" value="not_follow">{% trans "Follow" %}</button>
                                {% endif %}
                                <input type="hidden" class="user-view-username" value="{{result.object.user.username}}"/>
                            </div>
                        </div> 
                    {% else %}
                        <input type="hidden" id="is_user_login_in_search" value="True"/>
                    {% endif %}
                {% empty %}
                    <div class='empty-result align-center medium-margin-top'>
                        <span class='mid-large-text'>
                            {% trans "Sorry, we couldn't find any results for" %} "<span class='bold'>{{query}}</span>". {% trans "Please try again" %}
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <div class='empty-query align-center medium-margin-top'>
                    <span class='mid-large-text'>{% trans "You search keywords are empty. Please type some words to begin search" %}</span>
                </div>
            {% endif %}         
        </div>    
    </div>
</div>
{% endblock %}
