{% load i18n %}
<div class="modal fade" id="delete_ticket_modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="delete_ticket_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Delete Ticket" %}</h4>
      </div>
      <div class="modal-body">
        <p>
         {% trans "Are you sure that you want to delete this ticket" %}?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" id="delete_ticket_final_btn" class="btn btn-danger btn-sm" data-dismiss="modal">{% trans "Yes, delete it" %}</button>
        <input type="hidden" id="delete_ticket_unique_id"/>
      </div>
    </div>
  </div>
</div>