{% load i18n %}
<div class="modal fade invite-modal" id="invite_email_modal" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
  			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        			&times;
        		</button>
        		<h4 class="modal-title">{% trans "Invite Email" %}</h4>
      		</div>
      		<div class="modal-body">
            <div class="error-notice hide email-incorrect">
              {% trans "Your invitation emails are incorrect. Please provide correct emails" %}
            </div>
            <div class="error-notice hide email-invalid">
              {% trans "You cannot invite yourself" %}
            </div>
            <div class="error-notice hide email-empty">
              {% trans "Please enter some email to make invitation" %}
            </div>
        		<div class="row">
                <span class="bold">{% trans "Emails (Press enter after complete typing one email" %}):</span>
                <input type="text" id="invite_emails_input" data-role="tagsinput" placeholder="Add emails to invite" class="form-control" size="100"/>
        		</div>
        		<div class="row small-margin-top">
              <span class="bold">{% trans "Invitation (Optional)" %}: </span>
              <textarea id="email_invitation_content" class="form-control small-margin-top"></textarea>
        		</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
        			{% trans "Cancel" %}
        		</button>
        		<button type="submit" id="invite_emails_final_btn" class="btn btn-primary btn-sm">
        			{% trans "Invite" %}
        		</button>
      		</div>
    	</div>
  	</div>
</div>