{% for photo in photos %}
	<div class="col-md-2 col-sm-3 photo-item" data-unique-id="{{photo.unique_id}}">
		<div class="image-container text-center">
			<img src="{{photo.image.url}}" alt="" class="photo-image img-rounded crop-image" />
		</div>
		<div class="small-padding-left small-padding-top">
			From <a href="/people/{{photo.user_post.username}}" class="link-color">{{photo.user_post.get_profile.get_user_fullname}}</a>
		</div>
		<div class="hide">
			<div class="photo-user-post-username">{{photo.user_post.username}}</div>
			<div class="photo-user-post-fullname">{{photo.user_post.get_profile.get_user_fullname}}</div>
			<div class="photo-user-post-avatar">{{photo.user_post.get_profile.avatar.image.url}}</div>
			<div class="photo-caption">{{photo.caption}}</div>
			<div class="photo-upload-date">{{photo.upload_date}}</div>
		</div>
	</div>
{% endfor %}