{% load frittie_main %} 
{% load i18n %}
{% load thumbnail %}
{% if activities %}
    <input type="hidden" id="num_activities_load" value="{{activities|length}}"/>
    <ul id="activity_list" class="row">
        {% for activity in activities %}
            {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
            <li class="activity-item row pointer-cursor" data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}">
                {% if is_location_model %}
                    <input type='hidden' class='is-location-model' value='True'/>
                    <input type="hidden" class="location-unique-id" value="{{location_object.unique_id}}" />
                    <input type="hidden" class="activity-location-lat" value="{{location_object.lat}}"/>
                    <input type="hidden" class="activity-location-lng" value="{{location_object.lng}}"/>
                {% else %}
                    <input type='hidden' class='is-location-model' value='False'/>
                {% endif %}
                <div class="map-item-border-line"></div>
                <div class="item-container row" >
                    <div class="left-column pull-left" onclick="moveToActivityOverlay(this,'li.activity-item')">
                        {% if activity.logo %}
                            <div class="activity-logo">
                                <a href="#">
                                    {% thumbnail activity.logo.image '180x145' crop='center' as im %}
                                        <img src="{{im.url}}" width='{{im.width}}' height='{{im.height}}'/>
                                    {% endthumbnail %}
                                </a>
                            </div>
                        {% else %}
                            <div class="activity-logo">
                                <div class="no-logo-cover" class="div-center">
                                    <time datetime="{{activity.start_time.date}}" class="icon">
                                        <em>{{activity.start_time|display_weekday}}</em>
                                        <strong>{{activity.start_time|display_full_month}}</strong>
                                        <span>{{activity.start_time.day}}</span>
                                    </time>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="right-column pull-left medium-margin-left">
                        <div class="activity-time row">
                            <span class="gray-color">
                                {% if activity.start_time|istoday %}
                                    {% trans "TODAY at" %} {{ activity.start_time|ampm }}
                                {% elif activity.start_time|istomorrow %}
                                    {% trans "TOMORROW at" %} {{ activity.start_time|ampm }}
                                {% else %}
                                    {{activity.start_time|date}} {% trans "at" %} {{activity.start_time|ampm}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="activity-title row mini-margin-top">
                            <a class="preview-activity" onclick="showPreviewActivity('{{activity.unique_id}}')">
                                <span class="activity-name bold large-text add-dot" data-html-maxlength="18">
                                    {{activity.name.upper}}
                                </span>
                            </a>
                        </div>
                        <div class="activity-place row mini-margin-top" onclick="window.location.href='/location/{{activity.location.unique_id}}'">
                            <div class='pull-left sprite-location-pin'></div>
                            <div class="text mini-margin-left pull-left">
                                <div class="row">
                                    <span class="place-name gray-color add-dot" data-html-maxlength="30">
                                        {{activity.location.name}} 
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="place-position gray-color">
                                        {% if is_location_model %}
                                            {{location_object.city}},
                                            {% if location_object.state %}
                                                {{location_object.state}}
                                            {% else %}
                                                {{location_object.country}}
                                            {% endif %}
                                        {% else %}
                                            {{activity.location}}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="activity-going row">
                            <div class='sprite-social-avatar-ppl pull-left'></div>
                            <div class="text pull-left gray-color normal-text mini-margin">
                                <span class="bold">{{activity.user_join.all|length}} {% trans "people" %}</span>  {% trans "are going" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-item-border-line"></div>
            </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% else %}
    <div id="no_activity_found" class="row">
        <div class="wrapper large-margin-top">
            <span class="bold medium-text"> 
               {% trans "Sorry, no matching activity. Create one" %} <a class='link-color' data-toggle='modal' data-target='#create_activity_modal'>here</a>
            </span>
        </div>
    </div>
{% endif %}

