{% load frittie_main %} 
    
        <div class="row">
            <div class="left-section pull-left">
                <div id="category" class="row">
                    <div class="text pull-left bold normal-text mini-margin-right">Event Type: </div>
                    <div class="dropdown pull-left">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <div class="wrapper">
                                {% if get_parameter.filter_what %}
                                    <span class="dropdown-value">{{get_parameter.filter_what|first_char_upper}}</span>
                                {% else %}
                                    <span class="dropdown-value">All</span>
                                {% endif %}
                                <span class="caret"></span>
                            </div>
                        </a>
                        <ul id="activity_category_dropdown" class="dropdown-menu">
                            <li class="activity-filter-item filter-type-item active" role="presentation" onclick="filterMapActivity(this)" data-value="-1">
                                <a href="#" role="menuitem" tabindex="-1">All</a>
                            </li>
                            {% for key,value in activity_categories.items %}
                                <li class="activity-filter-item filter-type-item" role="presentation" onclick="filterMapActivity(this)" data-value="{{key}}">
                                    <a href="#" role="menuitem" tabindex="-1">{{value}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-section pull-right">
                <div class="description-text pull-left">
                    Show me:
                </div>
                <div class="pull-left mini-margin-top">
                    <ul id="list_filter_how">
                        {% for key,value in activity_filter_how.items %}    
                            <li class="activity-filter-item filter-how-item" onclick="filterMapActivity(this)" data-value="{{key}}">
                                <span>{{value}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mini-margin-top">
            <div id="list_filter_when">
                <span class="bold pointer-cursor" >
                    When:
                </span> 
                {% for key,value in activity_filter_when.items %} 
                    <span class='activity-filter-item filter-when-item small-margin-left small-text bold pointer-cursor' onclick="filterMapActivity(this)" data-value="{{key}}">
                        {{value}}{% if not forloop.last %},{% endif %}
                    </span>
                    
                {% endfor %}
            </div>
        </div>