<div class="location-info">
    <div class='row'>
        <span class="activity-time gray-color medium-text">
        </span>
    </div> 
    <div class='row mini-margin-top'>
        <a class="activity-link">
            <span class="activity-name bold large-text">
            </span>
        </a> 
    </div>
    <div class="activity-place row mini-margin-top">
        <div class="image pull-left">
            <img src="{{STATIC_URL}}img/apps/explore/post_content/location_pin.png" />
        </div>
        <div class="text mini-margin-left pull-left">
            <div class="row">
                <span class="place-name gray-color">
                </span>
            </div>
            <div class="row">
                <span class="place-position gray-color">
                </span>
            </div>
        </div>
    </div>
</div>

<div class='arrow-down'></div>

