{% load staticfiles %}

<div id="map_wrapper">
    <div id="map_section"></div>
    <div id="zoom_out">
    	<div class='sprite-zoom-out pointer-cursor'></div>
    </div>
    <div id="zoom_in">
    	<div class='sprite-zoom-in pointer-cursor'></div>
    </div>
</div>