{% load i18n %}

<header id="header_mobile">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top_navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" id="logo">
                     <div class='sprite-logo-white-small'></div>
                </a>
            </div><!-- end .navbar-header -->
            
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user_login %}
                    <li>
                        <a href='{% url "explore_page" %}'>
                            {% trans "Explore" %}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <form id="search_form" name="search_form" action="/search/" method="get" class="navbar-form" role="form" autocomplete='off'>
                             <div class="form-group">
                                <div class="input-group">
                                    <input id="search_query" type="text" class="form-control" size='62' name='q' placeholder="City, Activity, Location, People ..." />
                                    <div class="input-group-btn">
                                        <button id="search_form_submit" class="btn" onclick="document.search_form.submit()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div> 
                                    {% if search_type %}
                                        <input type="hidden" id="search_type" name='search_type' value="{{search_type}}"/>
                                    {% endif %}

                                    {% if is_explore %}
                                        <input type="hidden" name="explore" value="1"/>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </form>
                    </li>
                    
                    {% if user_login %}
                        <li class="visible-xs">
                             <a href="/people/{{user_login.username}}"></i> <img src="{{user_login.get_profile.avatar.image.url}}" id='user_account_avatar' class='user-avatar'/>
                             {{user_login.first_name}} {{ user_login.last_name}}
                        </li>
                        <li class="visible-xs">
                             <a href="#" data-toggle="modal" data-target="#create_activity_modal_mobile"><i class="fa fa-plus-square"></i> {% trans "Add an activity" %}</a>
                        </li>
<!--                         <li class="visible-xs">
                            <a href="#" data-toggle="modal" data-target="#create_location_modal_mobile"><i class="fa fa-plus-square"></i> {% trans "Create a place" %}</a>
                        </li> -->
                        <li class="visible-xs">
                            <a href='{% url "invite_friend" %}'>
                                <i class="fa fa-users"></i>
                                {% trans "Invite Friends" %}
                            </a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li class="visible-xs">
                            <a href="{% url 'notification_main' %}">{% trans "Notification" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'message_main' %}">{% trans "Messages" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'account_settings' %}">{% trans "Settings" %}</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li class="visible-xs">
                            <a href="{% url 'about_page' %}">{% trans "Help" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                    {% else %}
                        <li class="visible-xs">
                            <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
                        </li>
                        <li class="visible-xs">
                            <a href="{% url 'account_signup' %}">{% trans "Signup" %}</a>
                        </li>
                    {% endif %}
                </ul>
                        
                {% if user_login %}
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <div id="create_links" class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="add_place_activity_btn" data-toggle="dropdown">
                                <i class="fa fa-plus"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="add_place_activity_btn">
                                <li role="presentation" role="menuitem" tabindex="-1">
                                    <a href="#" data-toggle="modal" data-target="#create_activity_modal" data-backdrop='static'>
                                        {% trans 'Add an activity' %}
                                    </a>
                                </li>
                                <li role="presentation" role="menuitem" tabindex="-1">
                                    <a href="#" data-toggle="modal" data-target="#create_location_modal" data-backdrop='static'>
                                        {% trans "Add a place" %}
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end #create_links -->
                    </li>
                    
                    <li class='pos-relative'>
                        <a id="user_link" href="/people/{{user_login.username}}">
                            <img src="{{user_login.get_profile.avatar.image.url}}" id='user_account_avatar' class='user-avatar'/>
                            <span class="user-display-name">{{user_login.first_name}} {{ user_login.last_name}}</span>
                        </a>
                    </li>
                    
                    <li>
                        <div id="user_actions" class="dropdown">
                            {% if total_new_notifications_and_messages > 0 %}
                                <a href='#' class="dropdown-toggle" role="button" data-toggle="dropdown" id='new_notification'> 
                                    {{total_new_notifications_and_messages}}
                                </a>
                            {% else %}
                                <button class="btn dropdown-toggle" type="button" id='handler_user_menu_dropdown' data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                            {% endif %}
                            
                            <ul class="dropdown-menu" role="menu" aria-labelledby="handler_user_menu_dropdown">
                                <li role="presentation">
                                    <a href='{% url "watchlist_main" %}' role="menuitem" tabindex="-1">
                                        <i class="fa fa-list mini-margin-right"></i>
                                        {% trans "Watch List" %}
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href='{% url "invite_friend" %}' role="menuitem" tabindex="-1">
                                        <i class="fa fa-users mini-margin-right"></i>
                                        {% trans "Invite Friends" %}
                                    </a>
                                </li>
                                <li class="divider" role="presentation"></li>
                                <li role="presentation">
                                    <a href="{% url 'notification_main' %}" role="menuitem" tabindex="-1">
                                        <i class="fa fa-globe mini-margin-right"></i>
                                        {% if new_notifications_count > 0 %}
                                            {% trans "Notification" %} ({{new_notifications_count}})
                                        {% else %}
                                            {% trans "Notification" %}
                                        {% endif %}
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="{% url 'message_main' %}" role="menuitem" tabindex="-1">
                                        <i class="fa fa-comments-o mini-margin-right"></i>
                                        {% if new_messages_count > 0 %}
                                            {% trans "Messages" %} ({{new_messages_count}})
                                        {% else %}
                                            {% trans "Messages" %}
                                        {% endif %}
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="{% url 'account_settings' %}" role="menuitem" tabindex="-1">
                                        <i class="fa fa-gears mini-margin-right"></i>{% trans "Settings" %}
                                    </a>
                                </li>
                                <li class="divider" role="presentation"></li>
                                <li role="presentation">
                                    <a href="{% url 'about_page' %}" role='menuitem' tabindex="-1">
                                        <i class="fa fa-question-circle mini-margin-right"></i>{% trans "Help" %}
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="{% url 'account_logout' %}" role="menuitem" tabindex="-1">
                                        <i class="fa fa-sign-out mini-margin-right"></i>{% trans "Sign Out" %}
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end #create_links -->
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href='{% url "explore_page" %}'>
                            {% trans "Explore" %}
                        </a>
                    </li>
                    <li>
                        <a href='{% url "account_login" %}' >
                            {% trans "Login" %}
                        </a>  
                    </li>
                    <li>
                        <a href='{% url "account_signup" %}' >
                            {% trans "Signup" %}
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div><!-- end .navbar-collapse -->
        </div>
    </div>
</header><!-- end top_navbar -->