<a href='{% url "watchlist_main" %}'>
<div id="watch_list">
	<div class="wrapper">
		<div class="content">
			<span class="bold white-color">
				WATCHLIST: {{user_login.get_profile.watchlist.all|length}} items
			</span>
		</div>
	</div>
</div>
</a>