{% load frittie_main %}
{% load i18n %}
{% load thumbnail %}

<div id="watch_list_box">
    <div class="container">
        <h5>{{filter_argument}}</h5>
        <div class="description mini-margin-top">
            {{activities|length}} {% trans "Events" %}
        </div>
    </div>
                        
    <div class="clearfix"></div>

    <ul id="watchlist_listing_section">
    {% for activity in activities %}
        {% with is_location_model=activity.is_location_model location_object=activity.get_location_object %}
        <li class="activity-item" data-unique-id="{{activity.unique_id}}" data-item-number="{{forloop.counter}}" onclick="showPreviewActivity('{{activity.unique_id}}')">
            <div class="item-box" >
                {% if activity.logo %}
                    <div class="activity-image row">
                        <div class="activity-date-tag">
                            {{activity.start_time|display_month}} {{activity.start_time.day}}
                        </div>
                        {% thumbnail activity.logo.image "248x170" crop='center' as im %}
                            <img src="{{im.url}}" width='{{im.width}}' heigh='{{im.height}}'>
                        {% endthumbnail %}
                    </div>
                {% else %}
                    <div class="activity-image row no-logo">
                        <div class="no-logo-cover">
                            <time datetime="{{activity.start_time.date}}" class="icon">
                                <em>{{activity.start_time|display_weekday}}</em>
                                <strong>{{activity.start_time|display_full_month}}</strong>
                                <span>{{activity.start_time.day}}</span>
                            </time>
                        </div>
                    </div>
                {% endif %}
                <div class="activity-info row">
                    <div class="name add-dot" data-html-maxlength="20">{{activity.name|words_first_char_upper}}</div>
                    <div class="place">
                        <span>
                            {% if is_location_model %}
                                {{location_object.city}},
                                {% if location_object.state %}
                                    {{location_object.state}}
                                {% else %}
                                    {{location_object.country}}
                                {% endif %}
                            {% else %}
                                {{activity.location}}
                            {% endif %}
                        </span>
                    </div>
                    <div class='timezone'>
                        <span>{% trans "Timezone" %}: 
                            {% if activity.timezone %}
                                {{activity.timezone}}
                            {% else %}
                                {{DEFAULT_TIMEZONE}}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="more-detail-info row">
                   <div class="num-people-going pull-left">
                        <div class='sprite-social-avatar-ppl pull-left'></div>
                        <span>
                            {{activity.get_total_people_going}} {% trans "people going" %}
                        </span>
                    </div>
                   <div class="num-watchers pull-right">{{activity.get_watchers|length}} {% trans "watchers" %}</div>
                </div>
            </div>
            <div class="created-time">{% trans "Added" %} {{activity.create_time|display_elapse_time}}</div>
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>