<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		<i class="fa fa-times"></i>
	</button>
	<h4 class="modal-title" id="myModalLabel">Edit activity</h4>
</div>
<div class="modal-body">
	<!--start panel group-->
	<div class="panel-group" id="edit_activity_panel_group">
		<!--start panel-->
		<div class="panel panel-info">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#edit_activity_panel_group" href="#name_address_contact_info">
					<span class="text-bold">Name, Address and Contact Info</span>
					<span class="text-muted">Nhà tao 22, ngõ 62, Cù Chính Lan, Khương Mai, Hanoi, Thành Phố Hà Nội</span>
				</a>
			</div>
			<div id="name_address_contact_info" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<input type="text" class="form-control input-lg" />
							</div>
							<!--start form-group-->
							<div class="form-group">
								<div class="row">
									<label for="activity_address" class="control-label col-sm-2">Address</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="activity_address" name="activity_address"/>
									</div>
									<label for="activity_phone" class="control-label col-sm-2">Phone</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="activity_phone" id="activity_phone"/>
									</div>
								</div>
							</div><!--end form group-->
							<!--start form group-->
							<div class="form-group">
								<div class="row">
									<label for="activity_cross_street" class="control-label col-sm-2">Crossstreet</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="activity_cross_street" name="activity_cross_street"/>
									</div>
									<label for="activity_website" class="control-label col-sm-2">Website</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="activity_website" id="activity_website"/>
									</div>
								</div>
							</div>
							<!--end form group-->
							<!--start form group-->
							<div class="form-group">
								<div class="row">
									<label for="activity_location" class="control-label col-sm-2">Location</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="activity_location" name="activity_location"/>
									</div>
									<label for="activity_twitter" class="control-label col-sm-2">Twitter</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="activity_twitter" id="activity_twitter"/>
									</div>
								</div>
							</div>
							<!--end form group-->
							<!--start form group-->
							<div class="form-group">
								<div class="row">
									<label for="activity_postal_code" class="control-label col-sm-2">Postal Code</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="activity_postal_code" name="activity_postal_code"/>
									</div>
								</div>
							</div>
							<!--end form group-->
							<!--start form group-->
							<div class="form-group">
								<div class="row">
									<label for="activity_description" class="control-label col-sm-2">Description</label>
									<div class="col-sm-10">
										<textarea name="activity_description" id="activity_description" class="form-control"></textarea>
									</div>
								</div>
							</div>
							<!--end form group-->
						</div>
						<div class="col-md-4">
							<div class="panel panel-primary" id="map_panel">
								<div class="panel-heading">
									<small>Move the map pin if it needs to be corrected</small>
								</div>
								<div class="panel-body">
									Map
								</div>
							</div>
						</div>
					</div>
				</div><!--end panel-->
			</div>
		</div><!--end panel group-->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">
			Close
		</button>
		<button type="button" class="btn btn-primary">
			Save changes
		</button>
	</div>
</div>