{% extends "apps/photo/photo_base.html" %}
{% load i18n %}
{% load frittie_main %}
{% load thumbnail %}

{% block main_area %}
	<h3>
		{% if is_user_login_can_add_photo %}
			<div class="pull-right">
				<div class="btn-group user-action">
					<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_photo_modal">
						<i class="glyphicon glyphicon-plus"></i> {% trans "Add photos" %}
					</button>
				</div>
			</div>
		{% endif %}

		<input type="hidden" name="object_unique_id" value="{{object.unique_id}}"/>
		<span><a href="/{{object_type}}/{{object.unique_id}}">{{object.name|words_first_char_upper}}</a>: <span class="text-red">{{total_photos}} {% trans "Photos" %}</span></span>
	</h3>
	<div class="row medium-margin-top">
		{% if is_no_photo %}
			<div id="no_photo" class="align-center extra-large-margin-top">
				<h4 class="bold"> {% trans "There is no photo in this" %} {{object_type}}. {% trans "Let's add some" %}</h4>
			</div>
		{% else %}
			<div class="tabbable tabbable-bordered photo-details-tab-section">
				<ul class="nav nav-tabs" id="photo_tab"></ul>
				<div class="tab-content" id="photo_tab_content">
					<div class="tab-pane active" id="photo_details">
						<div class="row">
							<input type="hidden" id="current_photo_unique_id" value="{{current_photo.unique_id}}" />
							<div class="col-md-1 direction-icon" >
								<a id="previous_icon" class="{% if is_first_photo %} hide {% endif %}">
								    <i class="fa fa-angle-left"></i>
								</a>
								
							</div>
							<div class="col-md-7 background-gray text-center" id="current_photo_frame">
								{% thumbnail current_photo.image "533x400" crop="left" as im %}
								    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" id="current_photo_image">
								{% endthumbnail %}
							</div>
							<div class="col-md-3 photo-description">
								<div class="media medium-margin-left">
									<a href="/people/{{current_photo.user_post.username}}" class="pull-left"> 
										{% thumbnail current_photo.user_post.get_profile.avatar.image "50x50" crop="center" as im %}
										    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" id="current_photo_user_post_avatar" class="media-object">
										{% endthumbnail %}
									</a>
									<div class="media-body">
										<div class="medium-text mini-margin-top"> 
											<p class="text-muted no-margin">
												{% trans "Photo added by" %} 
											</p>
											<a href="/people/{{current_photo.user_post.username}}" class="link-color" id="current_photo_user_post">{{current_photo.user_post.get_profile.get_user_fullname}}</a>
										</div>
									</div>
									<div id="current_photo_caption">
										{{current_photo.caption}}
									</div>
									<dl>
										<dt>
											{% trans "Additional Info" %}
										</dt>
										<dd>
											<ul class="list-unstyled text-muted">
												<li>
													{% trans "Uploaded" %} <span class="text-bold" id="current_photo_upload_date">{{current_photo.upload_date}}</span>
												</li>
											</ul>
										</dd>
									</dl>
									
									<dl class='{% if user_login.username != current_photo.user_post.username %} hide {% endif %}' id='current_photo_action'>
										<a data-toggle='modal' data-target='#delete_photo_modal' class='delete-photo-link link-color'>
											{% trans "Delete" %}
										</a>
										<a data-toggle='modal' data-target='#change_photo_caption_modal' class='change-caption-link link-color small-margin-left'>
											{% trans "Change Caption" %}
										</a>
									</dl>
								</div>
							</div>
							<div class="col-md-1 direction-icon">
								<a id="next_icon" class="{% if is_last_photo %} hide {% endif %}">
							    	<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="photo_list">
				<div class="row container">
					{% for photo in photos %}

						{% with username=photo.user_post.username user_fullname=photo.user_post.get_profile.get_user_fullname user_post_avatar=photo.user_post.get_profile.avatar.image.url %}

							<div class="col-md-2 col-sm-3 photo-item" data-unique-id="{{photo.unique_id}}">
								<div class="text-center">
									<a href="/photo/{{object_type}}/{{object.unique_id}}?current_photo={{photo.unique_id}}">
										{% thumbnail photo.image "533x400" crop='center' as im %}
											<img src="{{im.url}}" class="photo-image img-rounded" />
										{% endthumbnail %}
									</a>
								</div>
								<div class="small-padding-left small-padding-top">
									{% trans "From" %} <a href="/people/{{username}}" class="link-color">{{user_fullname}}</a>
								</div>
								<div class="hide">
									<div class="photo-user-post-username">{{username}}</div>
									<div class="photo-user-post-fullname">{{user_fullname}}</div>
									<div class="photo-user-post-avatar">{{user_post_avatar}}</div>
									<div class="photo-caption">{{photo.caption}}</div>
									<div class="photo-upload-date">{{photo.upload_date}}</div>
								</div>
							</div>

						{% endwith %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}
